<div class="detection-strategy-view view-page grid spacing-16">
  <div class="row">
    <div class="col">
      <!-- NAME -->
      <app-name-property
        [config]="{
          mode: config.mode,
          object: config.object,
        }"></app-name-property>
      <app-subheading
        [config]="config"
        (onOpenHistory)="openHistory()"
        (onOpenNotes)="openNotes()"></app-subheading>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- ATT&CK ID -->
      <app-attackid-property
        class="grow-to-row"
        [config]="{
          mode: config.mode,
          object: config.object,
        }"></app-attackid-property>
    </div>
    <div class="col">
      <!-- VERSION -->
      <app-version-property
        class="grow-to-row"
        [config]="{
          mode: config.mode,
          object: config.object,
        }"></app-version-property>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- DOMAINS -->
      <app-list-property
        class="grow-to-row"
        [config]="{
          mode: config.mode,
          object: config.object,
          field: 'domains',
          editType: 'select',
        }"></app-list-property>
    </div>
    <div class="col">
      <!-- CONTRIBUTORS -->
      <app-list-property
        class="grow-to-row"
        [config]="{
          mode: config.mode,
          object: config.object,
          field: 'contributors',
          editType: 'any',
        }"></app-list-property>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- ANALYTICS -->
      @if (config.mode === 'edit') {
        <app-list-property
          class="grow-to-row"
          [config]="{
            mode: config.mode,
            object: config.object,
            field: 'analytics',
            editType: 'stixList',
          }"></app-list-property>
      } @else if (!loading) {
        <app-ordered-list-property
          class="grow-to-row"
          [config]="{
            mode: config.mode,
            field: 'attackID',
            globalObjects: analytics,
            object: config.object,
            objectOrderedListField: 'analytics',
            clickBehavior: 'link',
            type: 'analytic',
            label: 'analytics',
          }"></app-ordered-list-property>
      } @else {
        <div class="row labelled-box spacing-16 grow-to-row">
          <div class="content">
            <app-loading-overlay></app-loading-overlay>
          </div>
          <span class="labelled-box-label">analytics</span>
        </div>
      }
    </div>
  </div>
  <!-- RELATIONSHIPS - NOTE: these are only shown in 'view' mode -->
  @if (
    (config.showRelationships || !config.hasOwnProperty('showRelationships')) &&
    !editing
  ) {
    <!-- TECHNIQUES -->
    <div class="row">
      <div class="col">
        <h2 class="section-header">Techniques</h2>
      </div>
    </div>
    <div class="row" *ngIf="canEdit">
      <div class="col">
        <app-add-relationship-button
          (created)="detectsList.applyControls(); reload.emit()"
          [config]="{
            label: 'add a technique',
            relationship_type: 'detects',
            source_object: detectionStrategy,
          }"></app-add-relationship-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-stix-list
          #detectsList
          [config]="{
            type: 'relationship',
            sourceRef: detectionStrategy.stixID,
            relationshipType: 'detects',
            clickBehavior: 'dialog',
            allowEdits: true,
          }"></app-stix-list>
      </div>
    </div>
  }
  <!-- EXTERNAL REFERENCES -->
  @if (
    detectionStrategy.external_references.list().length > 0 ||
    previous?.external_references.list().length > 0
  ) {
    <div class="row">
      <div class="col">
        <h2 class="section-header">References</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-external-references-property
          [config]="{
            mode: config.mode,
            object: config.object,
            referencesField: 'external_references',
          }"></app-external-references-property>
      </div>
    </div>
  }
</div>
