<div class="marking-definition-view view-page grid spacing-12" *ngIf="!loading">
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: marking_definition,
                field: 'definition_string',
                firstParagraphOnly: false, 
                referencesField: [],
                label: 'Statement'
            }"></app-descriptive-property>
        </div>

        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: marking_definition,
                field: 'type',
                editType: 'select'
            }"></app-list-property>
        </div>
    </div>
</div>