@use '../../../../../style/globals';

.teams-view-page {
  mat-panel-title {
    justify-content: center !important;
  }
  .users-header-row {
    padding-bottom: 16px;
  }
  .team-user-list {
    padding-bottom: 16px;
  }
}
