<div class="delete-dialog">
    <h2>Are you sure you want to delete this object?</h2>
    <h4 *ngIf="hardDelete">WARNING: This object will be permanently deleted.</h4>
    <h4 *ngIf="collectionDelete">WARNING: This will delete ALL objects associated with the collection.</h4>
    <div class="confirm-form">
        <span>Please type <strong>DELETE</strong> to confirm.</span>
        <mat-form-field appearance="outline">
            <input matInput required [(ngModel)]="confirmInput">
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-button matDialogClose>no, cancel</button>
        <button mat-stroked-button class="warn" [disabled]="invalid" (click)="confirm()">yes, delete</button>
    </div>
</div>