@import "../../../../style/globals";

.reference-sidebar {
    .add-container {
        padding: 16px;
        text-align: center;
    }
    
    .references-container {
        border-radius: 4px;
        .dark & {  border: 1px solid border-color(dark); }
        .light & { border: 1px solid border-color(light); }
        .controls {
            .fullwidth {
                width: 100%;
                font-size: 16px;
            }
            .mat-form-field-wrapper {
                margin-bottom: -1.34375em; // remove bottom padding used for hint
            }
            .mat-form-field-flex {
                padding: 12px 42px 0 42px !important; // override default padding for alignment w/ table
            }
            .mat-form-field-label {
                .light & { color: on-color-deemphasis(light); }
                .dark &  { color: on-color-deemphasis(dark); }
            }
        }

        .references {
            display: flex;
            flex-direction: column;
            .reference-list {
                .dark & { border-bottom: 1px solid border-color(dark); }
                .light & { border-bottom: 1px solid border-color(light); }
                .reference {
                    .dark & { border-top: 1px solid border-color(dark); }
                    .light & { border-top: 1px solid border-color(light); }
                }
                .row {
                    min-height: 48px;
                }
                .col {
                    padding: 6px;
                    justify-content: center;
                    mat-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .clickable {
                    cursor: pointer;
                    &:hover { 
                        .dark & { background: color-alternate(dark); }
                        .light & { background: color-alternate(light); }
                    }
                }
                .description {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
                .text-label {
                    font-size: 13px;
                }
            }
        }
    }
}