<div class="dictionary-edit grow-to-row">
  <div class="content">
    <div class="add-row-button">
      <button mat-flat-button color="primary" (click)="addRow()">Add Row</button>
    </div>
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="config.objectList" class="property-table">
      <ng-container *ngFor="let column of config.columns; let i = index" [matColumnDef]="column?.name">
        <th mat-header-cell *matHeaderCellDef>{{ column.label || column.name }}</th>
        <td mat-cell
            *matCellDef="let element; let idx = index"
            tabindex="0"
            (click)="editCell(idx, column.name)"
            (keydown.enter)="editCell(idx, column.name)">
          @if (isEditing(idx, column.name)) {
            <mat-form-field class="grow-to-row" appearance="outline" focused>
                <input #editInput matInput type="text" [(ngModel)]="config.objectList[idx][column.name]" (blur)="stopEditing()" [required]="column.required ?? false">
            </mat-form-field>
          }
          @else {
            <div class="table-value">
              {{config.objectList[idx][column?.name]}}
            </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let idx = index" class="action-cell">
            <button mat-icon-button matTooltip="remove" class="table-icon-button" (click)="deleteRow(idx)">
                <mat-icon>remove</mat-icon>
            </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
    </table>
  </div>
  <span class="labelled-box-label">{{ config.label }}</span>
</div>
