<div class="campaign-view view-page grid spacing-12">
    <div class="row">
        <div class="col">
            <!-- NAME -->
            <app-name-property [config]="{
                mode: editing? 'edit' : 'view',
                object: campaign
            }"></app-name-property>
            <app-subheading [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: campaign
            }"></app-attackid-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: campaign
            }"></app-version-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- FIRST SEEN -->
            <app-timestamp-property [config]="{
                mode: editing? 'edit': 'view',
                humanize: true,
                object: campaign,
                field: 'first_seen',
                label: 'first seen'
            }"></app-timestamp-property>
        </div>
        <div class="col">
            <!-- LAST SEEN -->
            <app-timestamp-property [config]="{
                mode: editing? 'edit': 'view',
                humanize: true,
                object: campaign,
                field: 'last_seen',
                label: 'last seen'
            }"></app-timestamp-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- CONTRIBUTORS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: campaign,
                field: 'contributors',
                editType: 'any'
            }"></app-list-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: campaign,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: campaign.external_references,
                label: 'Description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- only show relationships if configured to show them -->
    <div *ngIf="(config.showRelationships || !config.hasOwnProperty('showRelationships')) && !editing">
        <!-- GROUPS -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Groups</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="groupsList.applyControls(); onReload.emit()" [config]="{
                    label: 'group',
                    relationship_type: 'attributed-to',
                    source_object: campaign
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #groupsList [config]="{
                    'type': 'relationship',
                    'targetRef': campaign.stixID,
                    'relationshipType': 'attributed-to',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
        
        <!-- TECHNIQUES USED -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Techniques Used</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="techniqueList.applyControls(); onReload.emit()" [config]="{
                    label: 'technique',
                    relationship_type: 'uses',
                    source_object: campaign
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #techniqueList [config]="{
                    'type': 'relationship', 
                    'sourceRef': campaign.stixID,
                    'targetType': 'technique',
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>

        <!-- SOFTWARE USED -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Software Used</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="softwareList.applyControls(); onReload.emit()" [config]="{
                    label: 'software',
                    relationship_type: 'uses',
                    source_object: campaign
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #softwareList [config]="{
                    'type': 'relationship', 
                    'sourceRef': campaign.stixID,
                    'targetType': 'software',
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="campaign.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: editing? 'edit': 'view',
                    object: campaign,
                    referencesField: campaign.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>