<!-- view stix id -->
<app-stixid-property class="grow-to-row" *ngIf="config.object['stixID']" [config]="{
    object: config.object
}"></app-stixid-property>

<div class="section-header">
    <div class="app-subheading">
        <div class="section-header-section">
            <button mat-stroked-button
                    *ngIf="config.object.hasOwnProperty('modified')"
                    style="border-radius: 16px;"
                    [disabled]="config.sidebarControl == 'disable'"
                    (click)="openHistory()"
                    cdkDrag
                    #popoverTrigger2="mtxPopoverTrigger"
                    [mtxPopoverTriggerFor]="historyPopover"
                    mtxPopoverTriggerOn="hover">
                Modified <app-timestamp-view [config]="{
                    mode: 'view',
                    object: config.object,
                    field: 'modified',
                    humanize: true
                }"></app-timestamp-view>
            </button>
            <!-- history peek popover -->
            <mtx-popover #historyPopover="mtxPopover"
                        enterDelay="25"
                        leaveDelay="25"
                        [position]="['below', 'center']"
                        [closeOnPanelClick]="true"
                        [closeOnBackdropClick]="true">
                <div style="max-width: 30em;" class="history-peek">
                    <app-timestamp-property [config]="{
                        mode: 'view',
                        object: config.object,
                        field: 'modified',
                        attribution: 'modified_by',
                        displayName: 'true'
                    }"></app-timestamp-property>
                    <app-timestamp-property [config]="{
                        mode: 'view',
                        object: config.object,
                        field: 'created',
                        attribution: 'created_by',
                        displayName: 'true'
                    }"></app-timestamp-property>
                </div>
            </mtx-popover>
        </div>
        <div class="section-header-section">
            <app-tlp-property [config]="{
                mode: config.mode,
                object: config.object
            }"></app-tlp-property>
        </div>
        <div class="section-header-section">
            <app-statement-property [config]="{
                mode: config.mode,
                object: config.object
            }"></app-statement-property>
        </div>
        <div *ngIf="config.object.hasOwnProperty('created')" class="section-header-section source">
            <app-identity-property [config]="{
                object: config.object,
                field: 'created_by',
                displayName: true
            }"></app-identity-property>
        </div>
    </div>
</div>

