<div class="object-ref-property grow-to-row">
  @if (!config.mode || config.mode === 'view') {
    <app-object-ref-view
      class="grow-to-row"
      [config]="config"
      [attackObjects]="attackObjects"></app-object-ref-view>
  } @else if (config.mode === 'edit') {
    <app-object-ref-edit
      class="grow-to-row"
      [config]="config"
      [attackObjects]="attackObjects"></app-object-ref-edit>
  } @else if (config.mode === 'diff') {
    <app-object-ref-diff
      class="grow-to-row"
      [config]="config"
      [attackObjects]="attackObjects"></app-object-ref-diff>
  }
</div>
