<div class="attackid-property grow-to-row">
    <div *ngIf="!config.mode || config.mode == 'view'" class="labelled-box grow-to-row">
        <div class="content" [ngClass]="{'icon-button': config.object['attackID']}">
            <app-attackid-view [config]="config"></app-attackid-view>
            <button mat-icon-button *ngIf="config.object['attackID']" [cdkCopyToClipboard]="linkById"
                (click)="snackbar.open('LinkById copied to clipboard', null, {duration: 1000})"
                matTooltip="copy LinkById" aria-label="copy linkById">
                <mat-icon>content_copy</mat-icon>
            </button>
        </div>
        <span class="labelled-box-label">ID</span>
    </div>
    <app-attackid-edit *ngIf="config.mode == 'edit'" [config]="config"></app-attackid-edit>
    <app-attackid-diff *ngIf="config.mode == 'diff'" [config]="config"></app-attackid-diff>
</div>