@use '../../../style/globals';
@use '../../../style/colors';

.dashboard-page {
  .display-icon .mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }
  button {
    width: 225px;
    height: fit-content !important;
    margin: 10px;

    h2 {
      white-space: normal;
    }
  }
  .mat-badge-content.mat-badge-active {
    color: colors.on-color(pending);
    background-color: colors.color(pending);
  }
}
