<div class="dashboard-page view-page grid spacing-20">
  <div class="row">
    <div class="col">
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <div>
        <button mat-raised-button color="primary" routerLink="object-review">
          <h2>Object<br />Review</h2>
          <h3 class="display-icon">
            <mat-icon>rate_review</mat-icon>
          </h3>
        </button>
        <button mat-raised-button color="primary" routerLink="teams">
          <h2><br />Teams</h2>
          <h3 class="display-icon">
            <mat-icon>groups</mat-icon>
          </h3>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Admin Settings</h1>
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <div>
        <button mat-raised-button color="primary" routerLink="org-settings">
          <h2>Organization Settings</h2>
          <h3 class="display-icon">
            <mat-icon>business</mat-icon>
          </h3>
        </button>

        <button
          mat-raised-button
          color="primary"
          routerLink="default-marking-definitions">
          <h2>Default Marking Definitions</h2>
          <h3 class="display-icon">
            <mat-icon>bookmark</mat-icon>
          </h3>
        </button>
        <button
          mat-raised-button
          color="primary"
          routerLink="user-accounts"
          [matBadge]="pendingUsers"
          matBadgeDescription="pending users">
          <h2>User<br />Accounts</h2>
          <h3 class="display-icon">
            <mat-icon>people_alt</mat-icon>
          </h3>
        </button>
      </div>
    </div>
  </div>
</div>
