<div class="external-references-view" *ngIf="referenceList.length > 0 else loading">
    <div class="row">
        <div class="col">
            <ol [class.twocol]="referenceList.length > 1">
                <li *ngFor="let ref of referenceList" value="{{ref[0]}}" [ngClass]="{'external-link': ref[1].url}">
                    <span>
                    <a *ngIf="ref[1].url && ref[1].description" class="external-link" rel="nofollow noopener" [href]="ref[1].url" target="_blank">{{ref[1].description}}</a>
                    <div *ngIf="!ref[1].url && ref[1].description">{{ref[1].description}}</div>
                    </span>
                </li>
            </ol>
        </div>
    </div>
</div>
<ng-template #loading>
    <app-loading-overlay></app-loading-overlay>
</ng-template>