<div class="stix-dialog">
    <mat-drawer-container class="stix-dialog-body">
        <mat-drawer-content>
            <div class="stix-content" *ngIf="!validating">
                <mat-toolbar>
                    <button *ngIf="prevObject" mat-button class="control" matTooltip="back" [disabled]="editing" (click)="revertToPreviousObject()"><mat-icon aria-label="back">arrow_back</mat-icon></button>
                    <button mat-button class="control" matTooltip="close" (click)="close()"><mat-icon aria-label="close">close</mat-icon></button>
                    <div class="spacer"></div>
                    <ng-container *ngIf="config.editable" >
                        <button mat-button class="control" matTooltip="validate & save" [disabled]="!editing" (click)="validate()"><mat-icon aria-label="save">save</mat-icon></button>
                        <button *ngIf="!editing" mat-button class="control" matTooltip="edit" (click)="startEditing()"><mat-icon aria-label="edit">edit</mat-icon></button>
                        <button *ngIf="editing"  mat-button class="control" matTooltip="discard changes and stop editing" (click)="discardChanges()"><mat-icon aria-label="discard">edit_off</mat-icon></button>
                        <button *ngIf="stixType == 'relationship'" mat-button matTooltip="{{isDeprecated ? 'undeprecate' : 'deprecate'}}" class="control" [disabled]="editing" (click)="deprecateChanged()">
                            <mat-icon aria-label="{{isDeprecated ? 'undeprecate': 'deprecate'}}">{{isDeprecated ? 'unarchive' : 'archive'}}</mat-icon>
                        </button>
                    </ng-container>
                    <button *ngIf="config.sidebarControl != 'disable'" mat-button class="control" matTooltip="view sidebar" (click)="toggleSidebar()"><mat-icon aria-label="open sidebar">view_sidebar</mat-icon></button>
                </mat-toolbar>
                <div class="page-padding">
                    <!-- TODO clean this up -->
                    <app-relationship-view 
                                           *ngIf="stixType == 'relationship'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-relationship-view>
                    <app-group-view        *ngIf="stixType == 'intrusion-set'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-group-view>
                    <app-software-view     *ngIf="stixType == 'malware' || stixType == 'tool'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-software-view>
                    <app-matrix-view       *ngIf="stixType == 'x-mitre-matrix'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-matrix-view>
                    <app-mitigation-view   *ngIf="stixType == 'course-of-action'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-mitigation-view>
                    <app-technique-view    *ngIf="stixType == 'attack-pattern'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-technique-view>
                    <app-data-source-view  *ngIf="stixType == 'x-mitre-data-source'"
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-data-source-view>
                    <app-data-component-view *ngIf="stixType == 'x-mitre-data-component'"
                                             [config]="config"
                                             (onOpenHistory)="openHistory()"
                                             (onOpenNotes)="openNotes()"
                                             (onClickRelationship)="changeDialogObject($event)">
                    </app-data-component-view>
                    <app-tactic-view       *ngIf="stixType == 'x-mitre-tactic'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-tactic-view>
                    <app-collection-view   *ngIf="stixType == 'x-mitre-collection'" 
                                           [config]="config"
                                           (onOpenHistory)="openHistory()"
                                           (onOpenNotes)="openNotes()">
                    </app-collection-view>
                </div>
            </div>
            <div class="validation page-padding grid spacing-16" *ngIf="validating">
                <div class="row">
                    <div class="column validation">
                        <h3>Validation</h3>
                        <div *ngIf="validation else validating">
                            <app-validation-results [validation]="validation"></app-validation-results>
                        </div>
                        <ng-template #validating>
                            <app-loading-overlay></app-loading-overlay>
                        </ng-template>
                    </div>
                    <div class="column narrow save-buttons">
                        <button mat-stroked-button [disabled]="!saveEnabled" (click)="save()">save</button>
                        <button mat-button (click)="cancelValidation()">cancel</button>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
        <mat-drawer mode="side" position="end" #sidebar [opened]="sidebarOpened">
            <h3 class="references-label">References</h3>
            <app-reference-manager [editable]="false"></app-reference-manager>
        </mat-drawer>
    </mat-drawer-container>
</div>