@import "../../../../style/globals";
@import '~@angular/material/theming';

.controls {
    .input-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        .search {
            flex-grow: 1;
        }
    }
}

.table-container {
    .dark & { 
        border-radius: 5px;
        border: 1px solid border-color(dark);
    }
    .light & {
        // border: 1px solid border-color(light);
        @include mat-elevation(8);
    }
    // width: 100%;
    table {
        width: 100%;
        table-layout: fixed;

        th, td { 
            .light & { border-color: border-color(light); }
            .dark &  { border-color: border-color(dark); }
        } 
        th {
            .light & { color: on-color-deemphasis(light); }
            .dark &  { color: on-color-deemphasis(dark); }
        }

        tr.detail-row {
            height: 0;
        }

        tr.element-row:not(.expanded):hover {
            .light & { background: color-alternate(light); }
            .dark &  { background: rgba(border-color(dark), 0.25);  }
        }
        // tr.element-row:not(.expanded):active {
        //     background: none;
        // }

        .mat-cell + .mat-cell {
            padding-left: 12px;
        }

        .element-detail {
            overflow: hidden;
            display: flex;
        }

        .element-row td {
            border-bottom-width: 0;
        }

        .element-description { 
            padding: 16px;
        }
    }
}