<div class="stix-list">
    <div class="table-container" *ngIf="stixObjects.length > 0; else loading" @fadeIn>
        <!-- -------- -->
        <!-- CONTROLS -->
        <!-- -------- -->
        <div class="controls">
            <div class="input-group">
                <mat-form-field class="search" appearance="fill">
                    <mat-label>search</mat-label>
                    <input matInput [(ngModel)]="query">
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <mat-label>filters</mat-label>
                    <mat-select multiple [(ngModel)]="filter">
                        <mat-optgroup *ngFor="let group of filterOptions" [label]="group.name" [disabled]="group.disabled">
                            <mat-option *ngFor="let filter of group.values" [value]="filter.value">{{filter.label}}</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- ----- -->
        <!-- TABLE -->
        <!-- ----- -->
        <table mat-table multiTemplateDataRows matSort
               [dataSource]="stixObjects" >
            <!-- column definitions -->
            <ng-container matColumnDef="{{column}}" *ngFor="let column of tableColumns">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element">
                    <app-version-view *ngIf="tableColumnsDisplay.get(column) == 'version'" [config]="{object: element, field: column}"></app-version-view>
                    <app-timestamp-view *ngIf="tableColumnsDisplay.get(column) == 'timestamp'" [config]="{object: element, field: column, mode: 'view'}"></app-timestamp-view>
                    <app-list-view class="overflow-ellipses" *ngIf="tableColumnsDisplay.get(column) == 'list'" [config]="{object: element, field: column, mode: 'view', wrap: false}"></app-list-view>
                    <div *ngIf="tableColumnsDisplay.get(column) == 'plain'">{{element[column]}}</div>
                </td>
            </ng-container>
            
            <!-- select column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef [ngClass]="config.select">
                    <!-- nothing in header -->
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="config.select">
                    <mat-checkbox *ngIf="config.select && config.select == 'many'" color="primary" 
                                  (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(element.stixID) : null"
                                  [checked]="selection.isSelected(element.stixID)">
                    </mat-checkbox>
                    <mat-radio-button *ngIf="config.select && config.select == 'one'" color="primary" 
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(element.stixID) : null"
                                    [selected]="selection.isSelected(element.stixID)">
                    </mat-radio-button>
                </td>
            </ng-container>

            <!-- expanded content formatting -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="tableColumns_controls.length">
                    <div class="element-detail" @detailExpand *ngIf="expandedElement === element">
                        <div class="element-description columns">
                            <div class="column is-narrow controls" *ngIf="config.showLinks">
                                <div *ngFor="let route of element.routes">
                                    <a class="mat-button" [routerLink]="'/' + [element.attackType, element.stixID, route.route].join('/')" [queryParams]="route.query">
                                        {{route.label}}
                                    </a>
                                </div>
                                <!-- <button mat-button>        
                                    view
                                </button>
                                <button mat-button>
                                    edit
                                </button> -->
                            </div>
                            <div class="column description">
                                <div *ngFor="let property of tableDetail">
                                    {{element[property.property]}} ({{property.display}})
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <!-- row definitions -->
            <tr mat-header-row *matHeaderRowDef="tableColumns_controls"></tr>
            <tr mat-row *matRowDef="let element; columns: tableColumns_controls;"
                class="element-row"
                [class.expanded]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        </table>
        <!-- ---------- -->
        <!-- PAGINATION -->
        <!-- ---------- -->
        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </div>
    <ng-template #loading>
        <app-loading-overlay></app-loading-overlay>
    </ng-template>
</div>
