<div class="stix-list">
    <div class="table-container">
        <!-- -------- -->
        <!-- CONTROLS -->
        <!-- -------- -->
        <div class="controls" *ngIf="!(config.type && config.type == 'relationship')">
            <div class="input-group">
                <mat-form-field class="search" appearance="fill">
                    <mat-label>search</mat-label>
                    <input matInput #search [(ngModel)]="searchQuery">
                </mat-form-field>
    
                <!-- don't show options for collections or if loading data not from REST API -->
                <mat-form-field appearance="fill" *ngIf="!(config.type && config.type == 'collection') && !(config.hasOwnProperty('stixObjects'))">
                    <mat-label>options</mat-label>
                    <mat-select multiple [(ngModel)]="filter" (selectionChange)="applyControls()">
                        <mat-optgroup *ngFor="let group of filterOptions" [label]="group.name" [disabled]="group.disabled">
                            <mat-option *ngFor="let filter of group.values" [value]="filter.value" [disabled]="filter.disabled">{{filter.label}}</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="controls" *ngIf="config.type && config.type == 'relationship'">
            <div class="input-group align-right">
                <mat-checkbox (change)="showDeprecated($event)">show deprecated</mat-checkbox>
            </div>
        </div>
        <!-- ----- -->
        <!-- TABLE -->
        <!-- ----- -->
        <div class="scroll-container" *ngIf="(data$ | async) as data else loading" @fadeIn>
            <table mat-table multiTemplateDataRows 
                   *ngIf="data.data.length > 0 else noObjects"
                   [dataSource]="data.data" >

                <!-- column definitions -->
                <ng-container matColumnDef="{{column}}" *ngFor="let column of tableColumns" [sticky]="tableColumns_settings.get(column)['sticky']">
                    <th mat-header-cell *matHeaderCellDef class="nowrap"> {{tableColumns_settings.get(column)["label"]}} </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="tableColumns_settings.get(column)['classes']" (click)="rowClick(element)" [class.clickable]="!config.clickBehavior || config.clickBehavior != 'none'">
                        <app-version-view *ngIf="tableColumns_settings.get(column)['display'] == 'version'" [config]="{object: element, field: column}"></app-version-view>
                        <div *ngIf="tableColumns_settings.get(column)['display'] == 'timestamp'">
                            <app-identity-property [config]="{object: element, field: column + '_by' , timeField: column}"></app-identity-property>
                        </div>
                        <div class="width-limited-sm" *ngIf="tableColumns_settings.get(column)['display'] == 'list'">
                            <app-list-view [config]="{object: element, field: column, mode: 'view', wrap: false}"></app-list-view>
                        </div>
                        <div *ngIf="tableColumns_settings.get(column)['display'] == 'descriptive'">
                            <app-descriptive-view [config]="{'object': element, 'mode': 'view', 'field': column, 'firstParagraphOnly': true}"></app-descriptive-view>
                        </div>
                        <div *ngIf="tableColumns_settings.get(column)['display'] == 'icon'">
                            <app-icon-view [config]="{object: element, field: column}"></app-icon-view>
                        </div>
                        <div *ngIf="tableColumns_settings.get(column)['display']  == 'plain'">{{element[column]}}</div>
                    </td>
                </ng-container>
                
                <!-- select column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef [ngClass]="config.select">
                        <!-- nothing in header -->
                    </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="config.select">
                        <mat-checkbox *ngIf="config.select && config.select == 'many'" color="primary" 
                                      (click)="onSelect.emit(element); $event.stopPropagation()"
                                      (change)="$event ? selection.toggle(element.stixID) : null"
                                      [checked]="selection.isSelected(element.stixID)">
                        </mat-checkbox>
                        <mat-radio-button *ngIf="config.select && config.select == 'one'" color="primary" 
                                        (click)="onSelect.emit(element); $event.stopPropagation()"
                                        (change)="$event ? selection.toggle(element.stixID) : null"
                                        [checked]="selection.isSelected(element.stixID)">
                        </mat-radio-button>
                    </td>
                </ng-container>

                <!-- row action: before -->
                <ng-container matColumnDef="start-action" sticky>
                    <th mat-header-cell *matHeaderCellDef></th> <!--nothing in header-->
                    <td mat-cell *matCellDef="let element" class="icon-cell" [matTooltip]="config.rowAction.tooltip" (click)="onRowAction.emit(element)">
                        <mat-icon [aria-label]="config.rowAction.tooltip">{{config.rowAction.icon}}</mat-icon>
                    </td>
                </ng-container>
                <!-- row action: after -->
                <ng-container matColumnDef="end-action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th> <!--nothing in header-->
                    <td mat-cell *matCellDef="let element" class="icon-cell" [matTooltip]="config.rowAction.tooltip" (click)="onRowAction.emit(element)">
                        <mat-icon [aria-label]="config.rowAction.tooltip">{{config.rowAction.icon}}</mat-icon>
                    </td>
                </ng-container>

                <!-- open in new icon column (for relationships) -->
                <ng-container matColumnDef="open-link" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- nothing in header -->
                    </th>
                    <td mat-cell *matCellDef="let element" class="icon-cell">
                        <mat-icon aria-hidden="false" aria-label="open">open_in_new</mat-icon>
                    </td>
                </ng-container>
    
                <!-- expanded content formatting -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="tableColumns_controls.length">
                        <div class="element-detail" @detailExpand *ngIf="expandedElement === element">
                            <div class="element-description columns">
                                <div class="column is-narrow controls" *ngIf="config.showLinks">
                                    <div *ngFor="let route of getAccessibleRoutes(element.attackType, element.routes)">
                                        <a class="mat-button" [routerLink]="'/' + [element.attackType, element.stixID, route.route].join('/')" [queryParams]="route.query">
                                            {{route.label}}
                                        </a>
                                    </div>
                                    <!-- <button mat-button>        
                                        view
                                    </button>
                                    <button mat-button>
                                        edit
                                    </button> -->
                                </div>
                                <div class="column description">
                                    <div *ngFor="let property of tableDetail">
                                        <app-descriptive-view [config]="{'object': element, 'mode': 'view', 'field': property.field, 'firstParagraphOnly': true}"></app-descriptive-view>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
    
                <!-- row definitions -->
                <tr mat-header-row *matHeaderRowDef="tableColumns_controls"></tr>
                <tr mat-row *matRowDef="let element; columns: tableColumns_controls;"
                    class="element-row"
                    [class.expanded]="expandedElement === element"
                    >
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
            </table>
            <ng-template #noObjects>
                <app-empty-list-marker (onCheckAgain)="applyControls()"></app-empty-list-marker>
            </ng-template>
        </div>
        <ng-template #loading>
            <app-loading-overlay *ngIf="!data"></app-loading-overlay>
        </ng-template>
        <!-- ---------- -->
        <!-- PAGINATION -->
        <!-- ---------- -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="10" (page)="applyControls()" [length]="totalObjectCount"></mat-paginator>
    </div>
</div>
