<div class="software-view view-page grid spacing-12">
    <div class="row">
        <div class="col">
            <h1>{{software.name}}</h1>
            <app-subheading [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: software
            }"></app-attackid-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: software
            }"></app-version-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- TYPE -->
            <div class="labelled-box grow-to-row" matTooltip="this field cannot be edited" [matTooltipDisabled]="!editing">
                <div class="content capitalize">
                    {{software.type}}
                </div>
                <label>type</label>
            </div>
        </div>
        <div class="col">
            <!-- PLATFORMS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: 'view',
                object: software,
                field: 'platforms'
            }"></app-list-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- CONTRIBUTORS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: 'view',
                object: software,
                field: 'contributors'
            }"></app-list-property>
        </div>
        <div class="col">
            <!-- SOFTWARE ALIASES -->
            <app-alias-property class="grow-to-row" [config]="{
                mode: 'view',
                object: software,
                field: 'aliases',
                referencesField: 'external_references',
                label: 'Associated Software'
            }"></app-alias-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: 'view',
                object: software,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: software.external_references,
                label: 'description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- only show relationships if configured to show them -->
    <div *ngIf="config.showRelationships || !config.hasOwnProperty('showRelationships')">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Techniques Used</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-add-relationship-button (created)="techniquesList.applyControls()" [config]="{
                    label: 'technique',
                    relationship_type: 'uses',
                    source_ref: software.stixID
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #techniquesList [config]="{
                    'type': 'relationship', 
                    'sourceRef': software.stixID,
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="section-header">Associated Groups</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-add-relationship-button (created)="groupList.applyControls()" [config]="{
                    label: 'group',
                    relationship_type: 'uses',
                    target_ref: software.stixID
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #groupList [config]="{
                    'type': 'relationship', 
                    'targetRef': software.stixID,
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="software.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: 'view',
                    object: software,
                    referencesField: software.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>