@use '../../../style/globals';
.profile-page {
  .profile-icon {
    height: 150px;
    width: 150px;
    margin: auto;
  }
  .display-name {
    margin-top: 0;
    margin-bottom: 8px;
  }
  .profile-subheader {
    @extend .text-label;
    @extend .text-deemphasis;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
