@use '../colors';

@mixin expansion-panel($bordered) {
  .dark &.mat-expanded {
    border: 1px solid colors.border-color(dark);
  }
  .light &.mat-expanded {
    border: 1px solid colors.border-color(light);
  }
  @if ($bordered) {
    .dark & {
      border: 1px solid colors.border-color(dark);
    }
    .light & {
      border: 1px solid colors.border-color(light);
    }
  }
  &:not(:first-of-type):not(.mat-expanded) {
    border-top-width: 0px;
  }
  &.mat-expanded + .mat-expansion-panel {
    border-top-width: 1px;
  }
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-basis: 0;
    align-items: center;
  }
  .mat-expansion-panel-header-description {
    justify-content: flex-start;
  }
  &.disabled {
    .mat-expansion-panel-header,
    .mat-expansion-header-title {
      .dark & {
        color: colors.on-color-deemphasis(dark);
      }
      .light & {
        color: colors.on-color-deemphasis(light);
      }
    }
  }
}
