// Matrix view styling

$sizeunit: 14px;

.matrix-container {
  width: 100%;
  height: min-content;
  overflow-x: scroll;
  border: 1px solid;
  border-radius: 4px;
}
.matrix {
  padding: 0;
  border-collapse: collapse;
  tr.tactic {
    margin-left: 14px;
    border-bottom: 1px solid;
    td,
    th {
      padding: 0;
      vertical-align: middle;
      min-width: 180px;
    }
  }
  .techniques-table {
    border-collapse: collapse;
    width: 100%;
    tr,
    td {
      padding: 0;
    }
    tr {
      height: 1px;
    }
  }
  .supertechnique,
  .regularTechnique {
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    margin: 0;
    td {
      padding: 0;
      vertical-align: top;
    }
  }
  .subtechniques {
    &.hidden {
      display: none;
    }
    .subtechnique {
      height: 100%;
      min-width: 150px;
    }
  }
  .handle {
    fill: #707070;
    color: white;
    font-family: roboto-regular, sans-serif;
    text-align: center;
    vertical-align: middle;
    transform: rotate(-90deg);
    width: 12px;
    height: 12px;
    font-size: 16px;
    line-height: 12px;
  }
  .sidebar {
    min-width: 8px;
    width: 12px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    background: #707070;
    height: 100%;
  }
}
.matrix-button-row {
  margin: 0 auto;
  width: max-content;
  font-size: 14px;
  text-align: center;
  gap: 12px;
  display: flex;
  .mat-mdc-outlined-button {
    margin: 0 0 22.313px 0;
    height: unset !important;
  }
}
