<button mat-button class="control" matTooltip="settings"
    popoverPlacement="bottom" 
    [popover]="objectStatus"
    [popoverOnHover]="false"
    [disabled]="editorService.editing">
    <mat-icon aria-label="settings">settings</mat-icon>
</button>

<popover-content #objectStatus>
    <div class="workflow-status">
        <div class="labelled-box">
            <div class="content">
                <mat-select [formControl]="statusControl">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let status of workflows" (onSelectionChange)="workflowChange($event)" [value]="status">{{status}}</mat-option>
                </mat-select>
            </div>
            <label>Workflow Status</label>
        </div>

        <div class="labelled-box">
            <div class="content">
                <mat-checkbox [(ngModel)]="revoked" (change)="revoke($event)">Revoke</mat-checkbox>
                <mat-checkbox [(ngModel)]="deprecated" (change)="deprecate($event)">Deprecate</mat-checkbox>
            </div>
            <label>State</label>
        </div>
    </div>
</popover-content>