<button mat-button class="control" matTooltip="settings"
    popoverPlacement="bottom" 
    [popover]="objectStatus"
    [popoverOnHover]="false"
    [disabled]="disabled"
    (click)="loadData()">
    <mat-icon aria-label="settings">settings</mat-icon>
</button>

<popover-content #objectStatus>
    <div class="workflow-status" *ngIf="loaded else loading">
        <mat-form-field class="workflow-status" appearance="outline">
            <mat-label>Workflow Status</mat-label>
            <mat-select [formControl]="statusControl">
                <mat-option *ngFor="let status of workflows" (onSelectionChange)="workflowChange($event)" [value]="status">{{getLabel(status)}}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="status-options">
            <mat-checkbox [(ngModel)]="revoked" (change)="revoke($event)" [disabled]="deprecated" [class.disabled]="deprecated">Revoke</mat-checkbox>
            <mat-checkbox [(ngModel)]="deprecated" (change)="deprecate($event)" [disabled]="revoked" [class.disabled]="revoked">Deprecate</mat-checkbox>
        </div>
    </div>
    <ng-template #loading>
        <app-loading-overlay></app-loading-overlay>
    </ng-template>
</popover-content>