<button mat-button class="control" matTooltip="settings"
    popoverPlacement="bottom" 
    [popover]="objectStatus"
    [popoverOnHover]="false">
    <mat-icon aria-label="settings">settings</mat-icon>
</button>

<popover-content #objectStatus>
    <mat-form-field class="workflow-status" appearance="outline">
        <mat-label>Workflow Status</mat-label>
        <mat-select [formControl]="statusControl">
            <mat-option></mat-option>
            <mat-option *ngFor="let status of workflows" [value]="status">{{status}}</mat-option>
        </mat-select>
    </mat-form-field>
</popover-content>