@import "../../../style/globals";
.workflow-status {
    .mat-form-field { display: flex; }
    .mat-form-field-wrapper { padding-bottom: 10px; }

    .status-options {
        font-weight: normal;
        .mat-mdc-checkbox {
            padding: 0px 8px;
        }
        .mat-mdc-checkbox.disabled {
            .dark & { color: on-color-deemphasis(dark); }
            .light & { color: on-color-deemphasis(light); }
        }
    }
}