@import "../../../style/globals";
.workflow-status {
    .mat-form-field { display: flex; }
    .mat-form-field-wrapper { padding-bottom: 10px; }

    .status-options {
        font-weight: normal;
        .mat-checkbox {
            padding: 0px 8px;
        }
    }
}