<div class="string-property grow-to-row">
    <div *ngIf="!config.mode || config.mode == 'view'" class="labelled-box grow-to-row">
        <div class="content">
            {{config.object[config.field]}}
        </div>
        <span class="labelled-box-label">{{config.label? config.label : config.field}}</span>
    </div>
    <div *ngIf="config.mode == 'edit'" class="string-property-edit grow-to-row">
        <mat-form-field appearance="outline">
            <mat-label>{{config.label? config.label : config.field}}</mat-label>
            <input matInput [required]="config.required ? config.required : false" [(ngModel)]="config.object[config.field]">
        </mat-form-field>
    </div>
</div>
