<div class="recent-activity">
  <app-loading-overlay *ngIf="loading; else userActivity"></app-loading-overlay>
  <ng-template #userActivity>
    <mat-action-list
      *ngIf="allRecentActivity.length > 0"
      class="recent-activity-list">
      <ng-container *ngFor="let activity of recentActivity">
        <button
          mat-list-item
          (click)="
            isRelationship(activity) ? preview(activity) : open(activity)
          "
          class="activity-event"
          [class.relationship]="isRelationship(activity)"
          [class.note]="activity.sdo.attackType === 'note'"
          [class.object]="
            !isRelationship(activity) && activity.sdo.attackType !== 'note'
          "
          (mouseover)="hoveredEvent = activity"
          (mouseout)="hoveredEvent = null">
          <div style="display: flex">
            <!-- event icon -->
            <mat-icon
              matListItemIcon
              *ngIf="activity == hoveredEvent; else activityIcon"
              [matTooltip]="
                isRelationship(activity) ? 'preview object' : 'view object page'
              ">
              {{ isRelationship(activity) ? 'preview' : 'open_in_browser' }}
            </mat-icon>
            <ng-template #activityIcon>
              <mat-icon matListItemIcon>{{ activity.icon }}</mat-icon>
            </ng-template>
            <!-- event description -->
            <div class="event-content hide-overflow">
              <span
                *ngIf="activity.objectCreated && activity.sdo.type !== 'note'">
                Created a new {{ activity.sdo.attackType }}: {{ activity.name }}
                <ng-container
                  *ngIf="activity.released"
                  [ngTemplateOutlet]="released"></ng-container>
              </span>
              <span
                *ngIf="activity.objectCreated && activity.sdo.type === 'note'">
                Added a note: {{ activity.name }}
              </span>
              <span *ngIf="!activity.objectCreated">
                Edited a {{ activity.sdo.attackType }}: {{ activity.name }}
                <ng-container
                  *ngIf="activity.released"
                  [ngTemplateOutlet]="released"></ng-container>
              </span>
            </div>
            <ng-template #released>
              <span class="text-deemphasis">(released)</span>
            </ng-template>
            <div>
              <!-- modified timestamp -->
              <app-identity-property
                *ngIf="showIdentity"
                [config]="{
                  object: activity.sdo,
                  field: 'modified_by',
                  timeField: 'modified',
                }"></app-identity-property>
              <app-timestamp-view
                *ngIf="!showIdentity"
                class="event-timestamp"
                [config]="{
                  mode: 'view',
                  humanize: true,
                  tooltip: true,
                  object: activity.sdo,
                  field: 'modified',
                }"></app-timestamp-view>
            </div>
          </div>
        </button>
      </ng-container>
      <div class="view-more">
        <ng-container *ngIf="recentActivity.length > 5">
          <a (click)="showLess()" class="external-link">less</a>&nbsp;&nbsp;
        </ng-container>
        <a
          *ngIf="allRecentActivity.length > recentActivity.length"
          (click)="showMore()"
          class="external-link"
          >more</a
        >
      </div>
    </mat-action-list>
    <app-empty-list-marker
      class="no-activity"
      *ngIf="allRecentActivity.length == 0"
      message="no recent activity"
      (onCheckAgain)="loadActivity()">
    </app-empty-list-marker>
  </ng-template>
</div>
