{
  "branches": [
    "main",
    "next",
    "next-major",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "adm",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerRegistry": "ghcr.io",
        "dockerProject": "center-for-threat-informed-defense",
        "dockerImage": "attack-workbench-frontend",
        "dockerFile": "Dockerfile",
        "dockerContext": ".",
        "dockerPlatform": ["linux/amd64", "linux/arm64"],
        "dockerPublish": true,
        "dockerArgs": {
          "VERSION": "{{next.version}}",
          "BUILDTIME": "{{now}}",
          "REVISION": "{{git_sha}}"
        },
        "dockerTags": [
          "{{version}}",
          "{{#if prerelease.[0]}}{{prerelease.[0]}}{{else}}{{#if (eq env.GITHUB_REF_NAME 'main')}}latest{{else}}{{env.GITHUB_REF_NAME}}{{/if}}{{/if}}",
          "{{#unless prerelease.[0]}}{{major}}.{{minor}}{{/unless}}",
          "{{#unless prerelease.[0]}}{{major}}{{/unless}}"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}