<div class="boolean-property grow-to-row">
    <ng-container *ngIf="!config.mode || config.mode == 'view'">
        <div class="labelled-box grow-to-row">
            <div class="content no-label">
                <mat-checkbox color="primary" [(ngModel)]="object[config.field]" disabled>
                    {{ config.label }}
                </mat-checkbox>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="config.mode == 'edit'">
        <div class="labelled-box grow-to-row">
            <div class="content no-padding no-label">
                <mat-checkbox color="primary" [(ngModel)]="object[config.field]">
                    {{ config.label }}
                </mat-checkbox>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="config.mode == 'diff'">
        <div class="labelled-box grow-to-row property-diff">
            <div class="content no-padding">
                <span *ngIf="before !== after; else noChange">
                    <span class="before">{{ before }}</span>
                    &rarr;
                    <span class="after">{{ after }}</span>
                </span>
                <ng-template #noChange>
                    <span>{{ after }}</span>
                </ng-template>
            </div>
            <span class="labelled-box-label">{{ config.label }}</span>
        </div>
    </ng-container>
</div>