<div class="collection-view grid spacing-12">
    <div class="row">
        <div class="col">
            <!-- things to add to the collection -->
            <div class="grid spacing-12 collection-home" *ngIf="page == 'home'">
                <div class="row">
                    <div class="col">
                        <app-name-property class="grow-to-row" [config]="{
                            mode: editing? 'edit' : 'view',
                            object: collection
                        }"></app-name-property>
                    </div>
                    <div class="col narrow">
                        <!-- VERSION NUMBER -->
                        <app-version-property class="grow-to-row" [config]="{
                            mode: editing? 'edit' : 'view',
                            object: collection
                        }"></app-version-property>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- DESCRIPTION -->
                        <app-descriptive-property [config]="{
                            mode: editing? 'edit' : 'view',
                            object: collection,
                            field: 'description',
                            firstParagraphOnly: false, 
                            label: 'Description'
                        }"></app-descriptive-property>
                    </div>
                </div>
                <div class="row buttons" *ngIf="editing">
                    <div class="col">
                        <button mat-raised-button color="primary" matTooltip="add more objects to the collection" (click)="page = 'add'">
                            <span class="text-label">Add Objects</span>
                            <mat-icon aria-label="next">navigate_next</mat-icon>
                        </button>
                    </div>
                    <div class="col">
                        <button mat-raised-button color="primary" matTooltip="update objects in the collection to newer versions" (click)="page = 'update'">
                            <span class="text-label">Update Objects</span>
                            <mat-icon aria-label="next">navigate_next</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="page-header grid spacing-12" *ngIf="['add', 'update'].includes(page)">
                <div class="row">
                    <div class="col narrow vertical-center">
                        <button mat-button (click)="page = 'home'">
                            <mat-icon aria-label="back">navigate_before</mat-icon>
                            <span class="text-label">back</span>
                        </button>
                    </div>
                    <div class="col center">
                        <h3>{{page | titlecase}} Objects</h3>
                    </div>
                </div>
            </div>
            <div class="collection-add-objects" *ngIf="page == 'add'">
                add data
            </div>
            <div class="collection-update-objects" *ngIf="page == 'update'">
                update data
            </div>
        </div>
        <div class="col border-left center">
            <h3>Collection Contents</h3>
            <!-- contents of the collection -->
            <app-collection-import-summary [config]="{
                'object_import_categories': collectionChanges
            }"></app-collection-import-summary>
        </div>
    </div>
</div>
