<div class="collection-view">
    <div *ngIf="!validating">

        <div class="grid spacing-12" *ngIf="!loading else loadingDisplay">
            <div class="row width-limited">
                <div class="col">
                    <!-- things to add to the collection -->
                    <app-name-property class="grow-to-row" [config]="{
                        mode: editing? 'edit' : 'view',
                        object: collection
                    }"></app-name-property>
                    <app-subheading *ngIf="!editing" [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
                </div>
            </div>
            <div class="row width-limited">
                <div class="col">
                    <!-- VERSION NUMBER -->
                    <app-version-property class="grow-to-row" [config]="{
                        mode: editing? 'edit' : 'view',
                        object: collection
                    }"></app-version-property>
                </div>
                <div class="col" *ngIf="editing">
                    <div class="labelled-box" [popover]="releaseExplanation">
                        <div class="content no-label">
                            <mat-checkbox [(ngModel)]="release">is release version?</mat-checkbox>
                        </div>
                    </div>
                    <popover-content #releaseExplanation placement="bottom">
                        <div class="releaseExplanation">
                            <p>
                                Is this version of the collection going to be released? Once a version has been marked as a release, it cannot be un-marked even if you choose not to publish it. 
                            </p>
                            <p>
                                Versions marked as releases will be considered when determining the changes between collection releases, and collection releases will show up independently within the collections list.
                            </p>
                            <p class="text-warn">
                                Only mark a version as a release if you are sure you intend to publish it.
                            </p>
                        </div>
                    </popover-content>
                </div>
                <div class="col" *ngIf="!editing">
                    <div class="labelled-box">
                        <div class="content collection-data">
                            <code class="url" [cdkCopyToClipboard]="collectionDownloadURL" (click)="snackbar.open('copied to clipboard', null, {duration: 1000})" matTooltip="click to copy URL">
                                {{collectionDownloadURL}}
                            </code>
                            <div class="suffix download" (click)="downloadCollectionBundle()">
                                <mat-icon aria-label="download">download</mat-icon>
                            </div>
                        </div>
                        <label>Collection Data</label>
                    </div>
                </div>
            </div>
            <div class="row width-limited">
                <div class="col">
                    <!-- DESCRIPTION -->
                    <app-descriptive-property [config]="{
                        mode: editing? 'edit' : 'view',
                        object: collection,
                        field: 'description',
                        firstParagraphOnly: false, 
                        label: 'Description'
                    }"></app-descriptive-property>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="section-header">Changes in this release</h2>
                </div>
            </div>
            <div class="row">
                <div class="col changes" *ngIf="editingReloadToggle">
                    <!-- expansion panels -->
                    <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0"
                                *ngFor="let attackType of ['matrix', 'tactic', 'technique', 'mitigation', 'campaign', 'group', 'software', 'data_source', 'data_component']"
                                [expanded]="panel == attackType"
                                (click)="panel = attackType">
                            <!-- header -->
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>{{format(attackType)}}</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- panel content ( staged changes ) -->
                            <ng-template matExpansionPanelContent>
                                <!-- automatically add tactics -->
                                <div *ngIf="editing && attackType == 'tactic'" class="row apply-button">
                                    <button mat-mini-fab class="extended-fab-button" color="primary"
                                            (click)="addObjectsToCollection(attackType)"
                                            [disabled]="autoAddDisabled(attackType)"
                                            matTooltipPosition="above"
                                            matTooltip="automatically find and add {{plural[attackType]}} related to objects in this collection">
                                        <mat-icon>playlist_add</mat-icon>
                                        <span class="text-label">add {{plural[attackType]}} to collection</span>
                                    </button>
                                </div>
                                <mat-accordion>
                                    <!-- additions -->
                                    <mat-expansion-panel class="mat-elevation-z0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Additions
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                New objects
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                            <div class="grid spacing-0">
                                                <div class="row">
                                                    <div class="col center vertical-center" *ngIf="editing">
                                                        <h4 class="text-label">Objects not in the collection</h4>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing"></div>
                                                    <div class="col center vertical-center">
                                                        <h4 class="text-label">Objects added in this release</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" *ngIf="editing">
                                                        <app-stix-list #potentialAdditionsRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': potentialChanges[attackType].additions,
                                                            'rowAction': {
                                                                'icon': 'keyboard_arrow_right',
                                                                'tooltip': 'stage addition',
                                                                'position': 'end'
                                                            }
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'additions', 'stage')"></app-stix-list>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing">
                                                        <button mat-icon-button 
                                                                matTooltip="stage all additions" 
                                                                [disabled]="potentialChanges[attackType].additions.length == 0"
                                                                (click)="moveChanges(potentialChanges[attackType].additions, attackType, 'additions', 'stage')">
                                                            <mat-icon aria-label="move all to collection">double_arrow</mat-icon>
                                                        </button>
                                                        <button mat-icon-button 
                                                                matTooltip="unstage all additions" 
                                                                [disabled]="collectionChanges[attackType].additions.length == 0"
                                                                (click)="moveChanges(collectionChanges[attackType].additions, attackType, 'additions', 'unstage')">
                                                            <mat-icon aria-label="move all from collection" class="icon-mirror">double_arrow</mat-icon>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <app-stix-list #collectionAdditionsRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': collectionChanges[attackType].additions,
                                                            'rowAction': editing? {
                                                                'icon': 'keyboard_arrow_left',
                                                                'tooltip': 'unstage addition',
                                                                'position': 'start'
                                                            } : null
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'additions', 'unstage')"></app-stix-list>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </mat-expansion-panel>
                                    <!-- changes -->
                                    <mat-expansion-panel class="mat-elevation-z0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Changes
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Changed objects
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                            <div class="grid spacing-0">
                                                <div class="row">
                                                    <div class="col center vertical-center vertical-center" *ngIf="editing">
                                                        <h4 class="text-label">Newer versions available in the knowledge base</h4>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing"></div>
                                                    <div class="col center vertical-center vertical-center">
                                                        <h4 class="text-label">Objects updated in this release</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" *ngIf="editing">
                                                        <app-stix-list #potentialChangesRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': potentialChanges[attackType].changes,
                                                            'rowAction': {
                                                                'icon': 'keyboard_arrow_right',
                                                                'tooltip': 'stage change',
                                                                'position': 'end'
                                                            }
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'changes', 'stage')"></app-stix-list>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing">
                                                        <button mat-icon-button 
                                                                matTooltip="stage all changes" 
                                                                [disabled]="potentialChanges[attackType].changes.length == 0"
                                                                (click)="moveChanges(potentialChanges[attackType].changes, attackType, 'changes', 'stage')">
                                                                <mat-icon aria-label="move all to collection">double_arrow</mat-icon>
                                                        </button>
                                                        <button mat-icon-button 
                                                                matTooltip="unstage all changes" 
                                                                [disabled]="collectionChanges[attackType].changes.length == 0"
                                                                (click)="moveChanges(collectionChanges[attackType].changes, attackType, 'changes', 'unstage')">
                                                            <mat-icon aria-label="move all from collection" class="icon-mirror">double_arrow</mat-icon>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <app-stix-list #collectionChangesRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': collectionChanges[attackType].changes,
                                                            'rowAction': editing? {
                                                                'icon': 'keyboard_arrow_left',
                                                                'tooltip': 'unstage change',
                                                                'position': 'start'
                                                            } : null
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'changes', 'unstage')"></app-stix-list>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </mat-expansion-panel>
                                    <!-- minor changes -->
                                    <mat-expansion-panel class="mat-elevation-z0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Minor Changes
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Objects with minor changes
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                            <div class="grid spacing-0">
                                                <div class="row">
                                                    <div class="col center vertical-center vertical-center" *ngIf="editing">
                                                        <h4 class="text-label">Newer versions available in the knowledge base</h4>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing"></div>
                                                    <div class="col center vertical-center vertical-center">
                                                        <h4 class="text-label">Objects updated in this release</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" *ngIf="editing">
                                                        <app-stix-list #potentialMinorChangesRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': potentialChanges[attackType].minor_changes,
                                                            'rowAction': {
                                                                'icon': 'keyboard_arrow_right',
                                                                'tooltip': 'stage minor change',
                                                                'position': 'end'
                                                            }
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'minor_changes', 'stage')"></app-stix-list>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing">
                                                        <button mat-icon-button 
                                                                matTooltip="stage all minor changes" 
                                                                [disabled]="potentialChanges[attackType].minor_changes.length == 0"
                                                                (click)="moveChanges(potentialChanges[attackType].minor_changes, attackType, 'minor_changes', 'stage')">
                                                            <mat-icon aria-label="move all to collection">double_arrow</mat-icon>
                                                        </button>
                                                        <button mat-icon-button 
                                                                matTooltip="unstage all minor changes" 
                                                                [disabled]="collectionChanges[attackType].minor_changes.length == 0"
                                                                (click)="moveChanges(collectionChanges[attackType].minor_changes, attackType, 'minor_changes', 'unstage')">
                                                            <mat-icon aria-label="move all from collection" class="icon-mirror">double_arrow</mat-icon>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <app-stix-list #collectionMinorChangesRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': collectionChanges[attackType].minor_changes,
                                                            'rowAction': editing? {
                                                                'icon': 'keyboard_arrow_left',
                                                                'tooltip': 'unstage minor change',
                                                                'position': 'start'
                                                            } : null
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'minor_changes', 'unstage')"></app-stix-list>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </mat-expansion-panel>
                                    <!-- revocations -->
                                    <mat-expansion-panel class="mat-elevation-z0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Revocations
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Objects replaced by other objects
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                            <div class="grid spacing-0">
                                                <div class="row">
                                                    <div class="col center vertical-center vertical-center" *ngIf="editing">
                                                        <h4 class="text-label">Objects revoked in the knowledge base</h4>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing"></div>
                                                    <div class="col center vertical-center vertical-center">
                                                        <h4 class="text-label">Objects revoked by this release</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" *ngIf="editing">
                                                        <app-stix-list #potentialRevocationsRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': potentialChanges[attackType].revocations,
                                                            'rowAction': {
                                                                'icon': 'keyboard_arrow_right',
                                                                'tooltip': 'stage addition',
                                                                'position': 'end'
                                                            }
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'revocations', 'stage')"></app-stix-list>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing">
                                                        <button mat-icon-button 
                                                                matTooltip="stage all revocations" 
                                                                [disabled]="potentialChanges[attackType].revocations.length == 0"
                                                                (click)="moveChanges(potentialChanges[attackType].revocations, attackType, 'revocations', 'stage')">
                                                            <mat-icon aria-label="move all to collection">double_arrow</mat-icon>
                                                        </button>
                                                        <button mat-icon-button 
                                                                matTooltip="unstage all revocations" 
                                                                [disabled]="collectionChanges[attackType].revocations.length == 0"
                                                                (click)="moveChanges(collectionChanges[attackType].revocations, attackType, 'revocations', 'unstage')">
                                                            <mat-icon aria-label="move all from collection" class="icon-mirror">double_arrow</mat-icon>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <app-stix-list #collectionRevocationsRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': collectionChanges[attackType].revocations,
                                                            'rowAction': editing? {
                                                                'icon': 'keyboard_arrow_left',
                                                                'tooltip': 'unstage addition',
                                                                'position': 'start'
                                                            } : null
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'revocations', 'unstage')"></app-stix-list>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </mat-expansion-panel>
                                    <!-- deprecations -->
                                    <mat-expansion-panel class="mat-elevation-z0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Deprecations
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Objects removed from the collection
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                            <div class="grid spacing-0">
                                                <div class="row">
                                                    <div class="col center vertical-center vertical-center" *ngIf="editing">
                                                        <h4 class="text-label">Objects deprecated in the knowledge base</h4>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing"></div>
                                                    <div class="col center vertical-center vertical-center">
                                                        <h4 class="text-label">Objects deprecated by this release</h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" *ngIf="editing">
                                                        <app-stix-list #potentialDeprecationsRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': potentialChanges[attackType].deprecations,
                                                            'rowAction': {
                                                                'icon': 'keyboard_arrow_right',
                                                                'tooltip': 'stage deprecation',
                                                                'position': 'end'
                                                            }
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'deprecations', 'stage')"></app-stix-list>
                                                    </div>
                                                    <div class="col controls narrow" *ngIf="editing">
                                                        <button mat-icon-button 
                                                                matTooltip="stage all deprecations" 
                                                                [disabled]="potentialChanges[attackType].deprecations.length == 0"
                                                                (click)="moveChanges(potentialChanges[attackType].deprecations, attackType, 'deprecations', 'stage')">
                                                            <mat-icon aria-label="move all to collection">double_arrow</mat-icon>
                                                        </button>
                                                        <button mat-icon-button 
                                                                matTooltip="unstage all deprecations" 
                                                                [disabled]="collectionChanges[attackType].deprecations.length == 0"
                                                                (click)="moveChanges(collectionChanges[attackType].deprecations, attackType, 'deprecations', 'unstage')">
                                                            <mat-icon aria-label="move all from collection" class="icon-mirror">double_arrow</mat-icon>
                                                        </button>
                                                    </div>
                                                    <div class="col">
                                                        <app-stix-list #collectionDeprecationsRef [config]="{
                                                            'clickBehavior': 'dialog',
                                                            'type': attackType,
                                                            'stixObjects': collectionChanges[attackType].deprecations,
                                                            'rowAction': editing? {
                                                                'icon': 'keyboard_arrow_left',
                                                                'tooltip': 'unstage deprecation',
                                                                'position': 'start'
                                                            } : null
                                                        }"
                                                        (onRowAction)="moveChanges([$event], attackType, 'deprecations', 'unstage')"></app-stix-list>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </mat-expansion-panel>
                                    <!-- unchanged objects -->
                                    <mat-expansion-panel class="mat-elevation-z0">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Unchanged
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Objects that haven't changed since the prior release
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <ng-template matExpansionPanelContent>
                                            <app-stix-list [config]="{
                                                'clickBehavior': 'dialog',
                                                'type': attackType,
                                                'stixObjects': collectionChanges[attackType].duplicates
                                            }"></app-stix-list>
                                        </ng-template>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </ng-template>
                        </mat-expansion-panel>
                        <!-- relationships -->
                        <mat-expansion-panel  class="mat-elevation-z0"
                                [expanded]="panel == 'relationships'"
                                (click)="panel = 'relationships'">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Relationship</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                                Relationships included in the collection will be updated automatically when the collection is saved.
                                <ul>
                                    <li>
                                        All relationships between objects in the collection will be included at their most recent version.
                                        <ul>
                                            <li>
                                                New relationships between objects already in the collection will be included even if their attached objects did not change or the changes to said objects were not staged.
                                            </li>
                                            <li>
                                                Existing relationships will be updated if newer versions are available even if the objects they are attached to did not change or the changes to said objects were not staged.
                                            </li>
                                            <li>
                                                Updated relationships will exist at the version they existed at when the collection is saved; further updates to relationships after saving will not be included.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Relationships will <i>not</i> be included if only one of their attached objects is in the collection.
                                    </li>
                                    <li>
                                        Relationships conveying revocations will be included only if the revoked version of the object they are attached to is included (staged) in the collection. Objects which have revoked versions <i>not</i> included in the collection won't trigger the inclusion of revoking relationships.
                                    </li>
                                </ul>
                                <p>
                                    A summary of the relationships included is provided when saving the relationship.
                                </p>
                            </ng-template>
                        </mat-expansion-panel>
                        <!-- marking definitions -->
                        <mat-expansion-panel  class="mat-elevation-z0"
                                [expanded]="panel == 'marking_defs'"
                                (click)="panel = 'marking_defs'">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h3>Marking Definition</h3>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ng-template matExpansionPanelContent>
                                All marking definitions will be included by default
                            </ng-template>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <ng-template #loadingDisplay>
            <app-loading-overlay [message]="loading"></app-loading-overlay>
        </ng-template>
    </div>
    <div *ngIf="validating">
        <div *ngIf="validationData else loadingValidation" class="validation">
            <app-validation-results [validation]="validationData"></app-validation-results>
            <div class="save-buttons">
                <button mat-button (click)="validating = false">cancel</button>
                <button mat-stroked-button [disabled]="!saveEnabled" (click)="save()">save</button>
            </div>
        </div>
        <ng-template #loadingValidation>
            <app-loading-overlay message="validating"></app-loading-overlay>
        </ng-template>
    </div>
</div>
