@import "../../../../../style/globals";
.collection-view {
    .row.width-limited {
        max-width: 45em;
        margin: 0 auto;
        .button-group {
          margin-left: auto;
          margin-right: auto;
        }
    }
    h1.name-property { // override name-property styles
        text-align: center;
        margin: 0;
    }
    .buttons {
        margin-top: 48px !important;
    }
    .apply-button {
        display: flex;
        justify-content: center;
        margin: 0 0 20px !important;
    }
    .col.border-left {
        margin-left: 24px !important;
        padding-left: 24px;
        .dark & { border-left: 1px solid border-color(dark); }
        .light & { border-left: 1px solid border-color(light); }
    }
    .mat-expansion-panel {
        @include expansion-panel(true);
        .mat-expansion-panel-header-title {
            text-transform: capitalize;
        }

        &.warn:not(.disabled) .mat-expansion-panel-header-title {
            color: color(warn);
        }
    }
    .changes .col { // stix list doesn't like being in columns, so force column sizes to 50%
        // max-width: 40%;
        width: 0;
        // &:first-child { padding-right: 12px; }
        // top padding is 48 + 12 to skip search header of stix-list
        &.controls { padding: 60px 12px 0 12px; width: 64px; }

        box-sizing: border-box;
    }
    
    .icon-mirror {
        transform: rotate(180deg);
    }
    .loading-display {
        text-align: center;
    }

    .validation { 
        max-width: 45em;
        margin: 0 auto;
        .save-buttons {
            margin-top: 16px;
            button + button {
                margin-left: 16px;
            }
        }
    }

    .content.collection-data {
        .download {
            cursor: pointer;
            &:hover { 
                .dark & { background: color-alternate(dark); }
                .light & { background: color-alternate(light); }
            }
        }
        .copy-url {
            cursor: pointer;
            &:hover {
                color: color(link);
            }
        }
        .url {
            display: block;
        }
        .notes {
            margin-top: 12px;
        }
    }
    .releaseExplanation {
        max-width: 25em;
    }
    .mdc-label {
        padding: 16px 0 !important;
    }
    .c-align {
        text-align: center;
    }
}