<div class="data-source-view view-page grid spacing-12">
    <div class="row">
        <div class="col">
            <app-name-property [config]="{
                mode: editing? 'edit' : 'view',
                object: data_source
            }"></app-name-property>
            <app-subheading *ngIf="!editing" [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: data_source
            }"></app-attackid-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: data_source
            }"></app-version-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- PLATFORMS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: data_source,
                field: 'platforms',
                editType: 'select'
            }"></app-list-property>
        </div>
        <div class="col">
            <!-- COLLECTION LAYERS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: data_source,
                field: 'collection_layers',
                label: 'collection layers',
                editType: 'select'
            }"></app-list-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Domains -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: data_source,
                field: 'domains',
                editType: 'select'
            }"></app-list-property>
        </div>
        <div class="col">
            <!-- CONTRIBUTORS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: data_source,
                field: 'contributors',
                editType: 'any'
            }"></app-list-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: data_source,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: data_source.external_references,
                label: 'Description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- only show relationships if configured to show them -->
    <div *ngIf="(config.showRelationships || !config.hasOwnProperty('showRelationships')) && !editing">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Data Components</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- TODO: add a data source -->
                <!-- <app-add-relationship-button (created)="techniquesList.applyControls()" [config]="{
                    label: 'technique',
                    relationship_type: 'uses',
                    source_object: software
                }"></app-add-relationship-button> -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #dataComponentsList [config]="{
                    'stixObjects': data_source.data_components,
                    'type': 'data-component', 
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="data_source.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: editing? 'edit': 'view',
                    object: data_source,
                    referencesField: data_source.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>