.extended-button {
    width: unset;
    padding: 0 20px;
    border-radius: 20px;
}

.small-icon-button {
	width: 40px !important;
	height: 40px !important;
	padding: 0px !important;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
 
	& > *[role=img] {
	   width: 24px;
	   height: 24px;
	   font-size: 24px;
 
	   svg {
		  width: 24px;
		  height: 24px;
	   }
	}
 
	.mat-mdc-button-touch-target {
	   width: 24px !important;
	   height: 24px !important;
	}
}