@mixin grid($spacing: 0) {
    .row {
        display: flex;
        &+.row {
            margin-top: #{$spacing}px;
        }
        .column, .col { // either col or column works
            display: inline-block;
            &:not(.narrow) { flex: 1 0; }
            .narrow        { flex: 0 1; }
            &+.col, &+.column {
                margin-left: #{$spacing}px;
            }
        }
    }
}

.grid {
    @include grid();
    $spacings: 0, 6, 12, 16;
    @each $spacing in $spacings {
        &.spacing-#{$spacing} {
            @include grid($spacing);
        }
    }
}