@mixin grid($spacing: 0) {
    .row {
        display: flex;
        &+.row {
            margin-top: #{$spacing}px;
        }
        .column, .col { // either col or column works
            max-width: 100%;
            display: inline-flex;
            &:not(.narrow) { flex: 1 0 0; }
            .narrow        { flex: 0 1 0; }
            &+.col, &+.column {
                margin-left: #{$spacing}px;
            }
            // grow children to fit
            flex-direction: column;
            &.center {
                text-align: center;
            }
        }
    }
}

.grid {
    @include grid();
    $spacings: 0, 6, 12, 16;
    @each $spacing in $spacings {
        &.spacing-#{$spacing} {
            @include grid($spacing);
        }
    }
}

.grow-to-row {
    flex: 1 0; 
    display: flex;
    flex-direction: column;
}