.list-page {
    .list-page-header {
        text-align: center;
        h1 {
            margin-top: 0;
            margin-bottom: 16px;
        }
        h1.with-help-icon {
            margin-left: 30px;
        }
        margin-bottom: 16px;
    }
}