.section-header {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before, &:after {
        flex: 1 0;
        content: '';
        border-bottom: 1px solid;
        .dark & { border-color: border-color(dark) }
        .light & { border-color: border-color(light) }
    }
    &:before { 
        margin-right: 1ex;
    }
    &:after { 
        margin-left: 1ex;
    }

    .section-header-section {
        @extend .text-label;
        @extend .text-deemphasis;
        
        &, div { display: inline-block; }
        & + .section-header-section {
            margin-left: 3ex;
        }
        &.clickable {
            cursor: pointer;
            border-bottom: 1px solid transparent;
            transition: ease border-color 0.2s;
            &:hover {
                .dark &  { border-color: on-color-deemphasis(dark); }
                .light & { border-color: on-color-deemphasis(light); }
            }
        }

        button {
            @extend .text-label;
            @extend .text-deemphasis;
            text-transform: uppercase;
            background: none;
            border-radius: 10px;
            border-style: solid;
            .dark & { border-color: border-color(dark) }
            .light & { border-color: border-color(light) }

            &:hover {
                cursor: pointer;
                .dark &  { border-color: on-color-deemphasis(dark); }
                .light & { border-color: on-color-deemphasis(light); }
            }
        }
    }
    
}