%toolbar {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    .light & { background: color-alternate(light); }
    .dark &  { background: color-alternate(dark); }
    height: 48px;
    padding-right: 0px;
    button {
        transition: opacity ease 0.5s;
    }
    .section + .section {
        .light & { border-left: 1px solid border-color(light); }
        .dark &  { border-left: 1px solid border-color(dark); }
    }

    .spacer {
        flex: 1 1 auto;
    }
}