@import "../../../../../style/globals";
.technique-view {
    .col.arrow {
        max-width: 36px!important;
        align-items: center;
        justify-content: center;
    }

    .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }

    .subtechnique-box {
        .labelled-box { padding-top: 0px; }
    }
}