<div class="technique-view view-page grid spacing-12">
    <div class="row">
        <!-- NAME -->
        <div class="col">
            <h1>{{technique.name}}</h1>
            <app-subheading [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: technique
            }"></app-attackid-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: technique
            }"></app-version-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="labelled-box grow-to-row">
                <!-- TYPE -->
                <div class="content">
                    {{technique.is_subtechnique ? "Sub-technique": "Technique"}}
                </div>
                <label>type</label>
            </div>
        </div>
        <div class="col">
            <!-- PLATFORMS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                objectType: 'technique',
                field: 'platforms'
            }"></app-list-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: 'view',
                object: technique,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: technique.external_references,
                label: 'description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- DOMAIN SPECIFIC FIELDS -->
    <div *ngIf="technique.domains.length > 0" class="row">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                objectType: 'technique',
                field: 'domains'
            }"></app-list-property>
        </div>
        <ng-container *ngIf="technique.data_sources.length > 0 || technique.system_requirements.length > 0 || technique.tactic_type.length > 0">
            <!-- Display only if domain specific fields exist -->
            <div class="col arrow">
                <mat-icon>arrow_forward</mat-icon>
            </div>
            <div class="col">
                <!-- DATA SOURCES -->
                <div *ngIf="technique.domains.includes('enterprise-attack') && technique.data_sources.length > 0" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: 'view',
                        object: technique,
                        field: 'data_sources',
                        label: 'data sources'
                    }"></app-list-property>
                </div>
                <!-- SYSTEM REQUIREMENTS -->
                <div *ngIf="technique.domains.includes('enterprise-attack') && technique.system_requirements.length > 0" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'system_requirements',
                        label: 'system requirements'
                    }"></app-list-property>
                </div>
                <!-- TACTIC TYPES -->
                <div *ngIf="technique.domains.includes('mobile-attack') && technique.tactic_type.length > 0" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'tactic_type'
                    }"></app-list-property>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- TACTIC SPECIFIC FIELDS -->
    <div *ngIf="technique.tactics.length > 0" class="row">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: 'edit',
                object: technique,
                field: 'tactics',
                attackType: 'tactic'
            }"></app-list-property>
        </div>
        <ng-container *ngIf="technique.permissions_required.length > 0 || technique.effective_permissions.length > 0 || 
                             technique.impact_type.length > 0 || technique.defense_bypassed.length > 0 || technique.tactics.includes('execution')">
            <!-- Display only if tactic specific fields exist -->
            <div class="col arrow">
                <mat-icon>arrow_forward</mat-icon>
            </div>
            <div class="col">
                <!-- PERMISSIONS REQUIRED -->
                <div *ngIf="technique.tactics.includes('privilege-escalation') && technique.permissions_required.length > 0" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'permissions_required',
                        label: 'permissions required'
                    }"></app-list-property>
                </div>
                <!-- EFFECTIVE PERMISSIONS -->
                <div *ngIf="technique.tactics.includes('privilege-escalation') && technique.effective_permissions.length > 0" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'effective_permissions',
                        label: 'effective permissions'
                    }"></app-list-property>
                </div>
                <!-- IMPACT TYPE -->
                <div *ngIf="technique.tactics.includes('impact') && technique.impact_type.length > 0" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'impact_type',
                        label: 'impact type'
                    }"></app-list-property>
                </div>
                <!-- DEFENSE BYPASSED -->
                <div *ngIf="technique.tactics.includes('defense-evasion') && technique.defense_bypassed.length > 0" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'defense_bypassed',
                        label: 'defenses bypassed'
                    }"></app-list-property>
                </div>
                <!-- REMOTE SUPPORT -->
                <div *ngIf="technique.tactics.includes('execution')" class="row">
                    <div class="labelled-box grow-to-row">
                        <div class="content no-label">
                            <mat-checkbox [checked]="technique.remote_support" disabled>
                                Remote Support?
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <!-- RELATIONSHIPS -->
    <div *ngIf="config.showRelationships || !config.hasOwnProperty('showRelationships')">
        <!-- SUBTECHNIQUES -->
        <div *ngIf="!technique.is_subtechnique">
            <div class="row">
                <div class="col">
                    <h2 class="section-header">Sub-techniques</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-stix-list [config]="{
                        'type': 'relationship', 
                        'targetRef': technique.stixID,
                        'relationshipType': 'subtechnique-of',
                        'clickBehavior': 'dialog'
                    }"></app-stix-list>
                </div>
            </div>
        </div>
        <!-- MITIGATIONS -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Mitigations</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list [config]="{
                    'type': 'relationship',
                    'targetRef': technique.stixID,
                    'relationshipType': 'mitigates',
                    'clickBehavior': 'dialog'
                }"></app-stix-list>
            </div>
        </div>
        <!-- GROUPS -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Procedure Examples</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list [config]="{
                    'type': 'relationship',
                    'targetRef': technique.stixID,
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog'
                }"></app-stix-list>
            </div>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="technique.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: 'view',
                    object: technique,
                    referencesField: technique.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>