<div class="technique-view view-page grid spacing-12">
    <div class="row">
        <!-- NAME -->
        <div class="col">
            <app-name-property [config]="{
                mode: editing? 'edit' : 'view',
                object: technique,
                parent: technique.is_subtechnique && technique.parentTechnique ? technique.parentTechnique : null
            }"></app-name-property>
            <app-subheading [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: technique
            }"></app-attackid-property>
        </div>
        <div class="col" [ngClass]="{'no-padding': editing}">
            <div class="labelled-box grow-to-row">
                <!-- TYPE -->
                <div class="content no-label">
                    <mat-checkbox [(ngModel)]="technique.is_subtechnique" [disabled]="!editing">
                        sub-technique?
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: technique
            }"></app-version-property>
        </div>
    </div>
    <!-- PARENT SUBTECHNIQUE FIELDS -->
    <div class="row" *ngIf="technique.is_subtechnique && editing">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                field: 'parentTechnique',
                label: 'parent technique',
                editType: 'stixList',
                required: true
            }"></app-list-property>
        </div>
    </div>
    <!-- DOMAIN SPECIFIC FIELDS -->
    <div *ngIf="technique.domains.length > 0 || editing" class="row">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                field: 'domains',
                editType: 'select'
            }"></app-list-property>
        </div>
        <ng-container *ngIf="showDomainField('ics-attack', 'data_sources')
                            || showDomainField('enterprise-attack', 'system_requirements')
                            || showDomainField('mobile-attack', 'tactic_type')">
            <!-- Display only if domain specific fields exist or if in 'edit' mode -->
            <div class="col arrow">
                <mat-icon>arrow_forward</mat-icon>
            </div>
            <div class="col">
                <!-- DATA SOURCES (string array representation) -->
                <div *ngIf="showDomainField('ics-attack', 'data_sources')" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'data_sources',
                        label: dataSourcesLabel(),
                        editType: 'select'
                    }"></app-list-property>
                </div>
                <!-- SYSTEM REQUIREMENTS -->
                <div *ngIf="showDomainField('enterprise-attack', 'system_requirements')" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'system_requirements',
                        label: 'system requirements',
                        editType: 'any'
                    }"></app-list-property>
                </div>
                <!-- TACTIC TYPES -->
                <div *ngIf="showDomainField('mobile-attack', 'tactic_type')" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'tactic_type',
                        label: 'tactic type',
                        editType: 'select'
                    }"></app-list-property>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row">
        <div class="col">
            <!-- PLATFORMS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                field: 'platforms',
                editType: 'select'
            }"></app-list-property>
        </div>
        <div class="col">
            <!-- CONTRIBUTORS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: technique,
                field: 'contributors',
                editType: 'any'
            }"></app-list-property>
        </div>
    </div>
    <!-- ADDITIONAL IDs -->
    <div *ngIf="technique.capec_ids.length || (editing && technique.domains.includes('enterprise-attack'))" class="row">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                field: 'capec_ids',
                label: 'CAPEC IDs',
                editType: 'any'
            }"></app-list-property>
        </div>
    </div>
    <div *ngIf="technique.mtc_ids.length || (editing && technique.domains.includes('mobile-attack'))" class="row">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                field: 'mtc_ids',
                label: 'MTC IDs',
                editType: 'any'
            }"></app-list-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: technique,
                field: 'description',
                firstParagraphOnly: false,
                referencesField: technique.external_references,
                label: 'Description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- TACTIC SPECIFIC FIELDS -->
    <div *ngIf="technique.tactics.length > 0 || editing" class="row">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: technique,
                field: 'tactics',
                editType: 'stixList',
                disabled: technique.domains.length == 0
            }"></app-list-property>
        </div>
        <ng-container *ngIf="showTacticField('privilege-escalation', 'permissions_required') || showTacticField('privilege-escalation', 'effective_permissions')
                            || showTacticField('impact', 'impact_type') || showTacticField('defense-evasion', 'defense_bypassed') || technique.tactics.includes('execution')">
            <!-- Display only if tactic specific fields exist -->
            <div class="col arrow">
                <mat-icon>arrow_forward</mat-icon>
            </div>
            <div class="col">
                <!-- PERMISSIONS REQUIRED -->
                <div *ngIf="showTacticField('privilege-escalation', 'permissions_required')" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'permissions_required',
                        label: 'permissions required',
                        editType: 'select'
                    }"></app-list-property>
                </div>
                <!-- EFFECTIVE PERMISSIONS -->
                <div *ngIf="showTacticField('privilege-escalation', 'effective_permissions')" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'effective_permissions',
                        label: 'effective permissions',
                        editType: 'select'
                    }"></app-list-property>
                </div>
                <!-- IMPACT TYPE -->
                <div *ngIf="showTacticField('impact', 'impact_type')" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'impact_type',
                        label: 'impact type',
                        editType: 'select'
                    }"></app-list-property>
                </div>
                <!-- DEFENSE BYPASSED -->
                <div *ngIf="showTacticField('defense-evasion', 'defense_bypassed')" class="row">
                    <app-list-property class="grow-to-row" [config]="{
                        mode: editing? 'edit': 'view',
                        object: technique,
                        field: 'defense_bypassed',
                        label: 'defenses bypassed',
                        editType: 'any'
                    }"></app-list-property>
                </div>
                <!-- SUPPORTS REMOTE -->
                <div *ngIf="technique.tactics.includes('execution')" class="row">
                    <div class="labelled-box grow-to-row">
                        <div class="content no-label">
                            <mat-checkbox [(ngModel)]="technique.supports_remote"  [disabled]="!editing">
                                Supports Remote?
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row">
        <div class="col">
            <!-- DETECTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: technique,
                field: 'detection',
                firstParagraphOnly: false,
                referencesField: technique.external_references,
                label: 'Detection'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- RELATIONSHIPS -->
    <div *ngIf="(config.showRelationships || !config.hasOwnProperty('showRelationships')) && !editing">
        <!-- SUBTECHNIQUES -->
        <div *ngIf="!technique.is_subtechnique; else othersubs">
            <div class="row">
                <div class="col">
                    <h2 class="section-header">Sub-techniques</h2>
                </div>
            </div>
            <div class="row" *ngIf="canEdit">
                <div class="col">
                    <app-add-relationship-button (created)="subTechniquesList.applyControls(); onReload.emit()" [config]="{
                        label: 'add a sub-technique',
                        relationship_type: 'subtechnique-of',
                        target_object: technique
                    }"></app-add-relationship-button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-stix-list #subTechniquesList [config]="{
                        'type': 'relationship',
                        'targetRef': technique.stixID,
                        'relationshipType': 'subtechnique-of',
                        'allowEdits': true,
                        'clickBehavior': 'none'
                    }"></app-stix-list>
                </div>
            </div>
        </div>
        <ng-template #othersubs>
            <ng-container *ngIf="technique.parentTechnique">
                <div class="row">
                    <div class="col">
                        <h2 class="section-header">Other Sub-techniques of {{technique.parentTechnique.name}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-stix-list [config]="{
                            'type': 'relationship',
                            'targetRef': technique.parentTechnique.stixID,
                            'relationshipType': 'subtechnique-of',
                            'clickBehavior': 'none',
                            'allowEdits': true,
                            'excludeSourceRefs': [technique.stixID]
                        }"></app-stix-list>
                    </div>
                </div>
            </ng-container>
        </ng-template>
        <!-- campaigns -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Campaigns</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="campaignList.applyControls(); onReload.emit()" [config]="{
                    label: 'add a campaign',
                    relationship_type: 'uses',
                    target_object: technique
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #campaignList [config]="{
                    'type': 'relationship', 
                    'targetRef': technique.stixID,
                    'sourceType': 'campaign',
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
        <!-- MITIGATIONS -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Mitigations</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="mitigatesList.applyControls(); onReload.emit()" [config]="{
                    label: 'add a mitigation',
                    relationship_type: 'mitigates',
                    target_object: technique
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #mitigatesList [config]="{
                    'type': 'relationship',
                    'targetRef': technique.stixID,
                    'relationshipType': 'mitigates',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
        <!-- procedure examples -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Procedure Examples</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="usesList.applyControls(); onReload.emit()" [config]="{
                    label: 'add a procedure example',
                    relationship_type: 'uses',
                    target_object: technique
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #usesList [config]="{
                    'type': 'relationship',
                    'targetRef': technique.stixID,
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
        <!-- data sources (source/component object representation) -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Data Sources</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="detectsList.applyControls(); onReload.emit()" [config]="{
                    label: 'add a data source',
                    relationship_type: 'detects',
                    target_object: technique
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #detectsList [config]="{
                    'type': 'relationship',
                    'targetRef': technique.stixID,
                    'relationshipType': 'detects',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
        <!-- assets -->
        <div class="row">
            <div class="col">
                <h2 class="section-header">Assets</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="assetList.applyControls(); onReload.emit()" [config]="{
                    label: 'add an asset',
                    relationship_type: 'targets',
                    target_object: asset
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #assetList [config]="{
                    'type': 'relationship', 
                    'sourceRef': technique.stixID,
                    'targetType': 'asset',
                    'relationshipType': 'targets',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="technique.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: editing? 'edit': 'view',
                    object: technique,
                    referencesField: technique.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>
