@font-face {
    font-family: 'Gilroy';
    src: url("/assets/fonts/Gilroy/Gilroy-Regular.otf") format("OpenType");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url("/assets/fonts/Gilroy/Gilroy-Bold.otf") format("OpenType");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url("/assets/fonts/Gilroy/Gilroy-ExtraBold.otf") format("OpenType");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url("/assets/fonts/Gilroy/Gilroy-Light.otf") format("OpenType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Knockout';
    src: url("/assets/fonts/Knockout/Knockout-HTF30-JuniorWelterwt.otf") format("OpenType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sentinel-Book';
    src: url("/assets/fonts/Sentinel/Sentinel-Book.otf") format("OpenType");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Sentinel-Book';
    src: url("/assets/fonts/Sentinel/Sentinel-BookItalic.otf") format("OpenType");
    font-weight: 400;
    font-style: italic;
}