.form-row {
    display: flex;
    flex-direction: row;
    mat-form-field + mat-form-field {
        margin-left: 30px;
    }

    button.mat-stroked-button:disabled {
        opacity: 0.5;
    }

    &.align-right {
        align-items: flex-end;
    }
    &.align-center {
        align-items: center;
    }

    &.space-around {
      justify-content: space-around;
    }
}

.input-group { //sequential joined mat-form-fields of appearance-outline type
    mat-form-field.mat-form-field-appearance-outline:not(:first-child) {
        .mat-form-field-outline-start { //left border
            border-radius: 0;
            border-left-width: 0;
        }
    }
    mat-form-field.mat-form-field-appearance-outline:not(:last-child) {
        .mat-form-field-outline-end { //right border
            border-radius: 0;
        }
    }

    //border left restoration for focused and hover states
    .mat-form-field-appearance-outline:not(:first-child):not(.mat-form-field-disabled) { .mat-form-field-flex:hover, &.mat-focused { .mat-form-field-outline-start {
        border-left-width: 1px !important;
    }}}
}
// disabled form field style
mat-form-field.mat-form-field-appearance-outline.mat-form-field-disabled {
    opacity: 0.5;
}

.button-group {
    // left border removed
    .mat-button:not(:first-child),
    .mat-raised-button:not(:first-child),
    .mat-stroked-button:not(:first-child),
    .mat-flat-button:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left-width: 0px;
    }
    // right border radius removed
    .mat-button:not(:last-child),
    .mat-raised-button:not(:last-child),
    .mat-stroked-button:not(:last-child),
    .mat-flat-button:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.mat-error {
    color: color(error) !important;
}
.mat-form-field {
    &.mat-form-field-invalid, &.ng-invalid {
        color: color(error);
        .mat-form-field-label, 
        .mat-input-element, 
        .mat-form-field-outline, 
        .mat-form-field-outline-thick, 
        .mat-form-field-required-marker {
            color: color(error) !important;
        }
    }
    &.mat-warn .mat-input-element {
        color: color(error) !important;
    }
}