@import "colors.scss";
@import "layout.scss";
@import "typography.scss";
@import "forms.scss";

button.control {
  min-width: 24px;
  line-height: 20px;
  border-radius: 0;
}

.mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
	background-color: transparent;
}

.mdc-checkbox {
	padding: 10px;
	.mdc-checkbox__background {
		margin: 0px !important;
	}
}

.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-full.ng-star-inserted.mat-pseudo-checkbox-checked {
	.light & {
		color: color(light) !important;
	}
	.dark & {
		color: color(light) !important;
	}
}
.mat-mdc-select-panel .no-checkbox .mat-pseudo-checkbox {
	display: none !important;
}
.mdc-checkbox .mdc-checkbox__native-control[disabled]:checked~.mdc-checkbox__background {
	.light & {
		background-color: on-color-deemphasis(light);
	}
	.dark & {
		background-color: on-color-deemphasis(dark);
	}
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
	color: black !important;
}