@import "colors.scss";
@import "layout.scss";
@import "typography.scss";
@import "forms.scss";

button.control {
  min-width: 24px;
  line-height: 20px;
  border-radius: 0;
}

.mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
	background-color: transparent;
}

.mdc-checkbox {
	padding: 10px;
	.mdc-checkbox__background {
		margin: 0px !important;
	}
}