@import "colors.scss";
@import "layout.scss";
@import "typography.scss";
@import "forms.scss";

button.control {
  box-sizing: content-box;
  padding: 12px;
  min-width: 24px;
  line-height: 20px;
  border-radius: 0;
}

