@import "./colors.scss";
@import "./typography.scss";

@import '~@angular/material/theming';
@include mat-core();



$warn: mat-palette($mat-red);


// .light {
//     $primary-light: mat-palette(to-material-map(primary), 50, 100, 200);
//     $accent-light: mat-palette(to-material-map(secondary), 50, 100, 200);
//     $foreground-light: mat-palette(to-material-map(tertiary), 50, 100, 200);
//     @include angular-material-theme(mat-light-theme($primary-light, $accent-light, $warn));
// }
// .dark {
//     $primary-dark: mat-palette(to-material-map(tertiary), 50, 100, 200);
//     $accent-dark: mat-palette(to-material-map(primary), 50, 100, 200);
//     $foreground-light: mat-palette(to-material-map(tertiary), 50, 100, 200);

//     @include angular-material-theme(mat-dark-theme($primary-dark, $accent-dark, $warn));
// }



::-webkit-scrollbar {
    width: 8px;
    padding: 1px;
    background: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    opacity: 0.15;
}

//custom color theme
.light {
    @include angular-material-theme((
        primary: mat-palette(to-material-map(primary), 50, 100, 200),
        accent: mat-palette(to-material-map(secondary), 50, 100, 200),
        foreground: mat-palette(to-material-map(dark), 50, 100, 200),
        background: mat-palette(to-material-map(light), 50, 100, 200),
        warn: $warn,
        is-dark: false
    ));
    background: color(light);
    color: on-color(light);
    ::-webkit-scrollbar-thumb {
        background: rgba(on-color(light), 0.15);
        &:hover { background: rgba(on-color(light), 0.25); }
    }
}
.dark {
    @include angular-material-theme((
        primary: mat-palette(to-material-map(primary), 50, 100, 200),
        accent: mat-palette(to-material-map(secondary), 50, 100, 200),
        foreground: mat-palette(to-material-map(light), 50, 100, 200),
        background: mat-palette(to-material-map(dark), 50, 100, 200),
        warn: $warn,
        is-dark: true
    ));
    background: color(dark);
    color: on-color(dark);
    ::-webkit-scrollbar-thumb {
        background: rgba(on-color(dark), 0.15);
        &:hover { background: rgba(on-color(dark), 0.25); }
    }
}

.cdk-overlay-container.light, .cdk-overlay-container.dark { //ensure that overlay doesn't visually cover everything
    background: transparent;
}

.mat-select-panel {
    .light & {
        color: on-color(light);
        background: color(light);
    }
    .dark & {
        color: on-color(secondary);
        background: color(secondary);
    }
}

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
    @extend %typography;
}
