@import "./colors.scss";
@import "./typography.scss";

@import '~@angular/material/theming';
@include mat-core();



$warn: mat-palette($mat-red);


// .light {
//     $primary-light: mat-palette(to-material-map(primary), 50, 100, 200);
//     $accent-light: mat-palette(to-material-map(secondary), 50, 100, 200);
//     $foreground-light: mat-palette(to-material-map(tertiary), 50, 100, 200);
//     @include angular-material-theme(mat-light-theme($primary-light, $accent-light, $warn));
// }
// .dark {
//     $primary-dark: mat-palette(to-material-map(tertiary), 50, 100, 200);
//     $accent-dark: mat-palette(to-material-map(primary), 50, 100, 200);
//     $foreground-light: mat-palette(to-material-map(tertiary), 50, 100, 200);

//     @include angular-material-theme(mat-dark-theme($primary-dark, $accent-dark, $warn));
// }



::-webkit-scrollbar {
    width: 8px;
    padding: 1px;
    background: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    opacity: 0.15;
}

//custom color theme
.light {
    @include angular-material-theme((
        primary: mat-palette(to-material-map(primary), 50, 100, 200),
        accent: mat-palette(to-material-map(secondary), 50, 100, 200),
        foreground: mat-palette(to-material-map(dark), 50, 100, 200),
        background: mat-palette(to-material-map(light), 50, 100, 200),
        warn: $warn,
        is-dark: false
    ));
    background: color(light);
    color: on-color(light);
    ::-webkit-scrollbar-thumb {
        background: rgba(on-color(light), 0.15);
        &:hover { background: rgba(on-color(light), 0.25); }
    }
    scrollbar-color: rgba(on-color(light), 0.15) transparent; //firefox scrollbar styles
    hr { border: none; border-bottom: 1px solid border-color(light); }
}
.dark {
    @include angular-material-theme((
        primary: mat-palette(to-material-map(primary), 50, 100, 200),
        accent: mat-palette(to-material-map(secondary), 50, 100, 200),
        foreground: mat-palette(to-material-map(light), 50, 100, 200),
        background: mat-palette(to-material-map(dark), 50, 100, 200),
        warn: $warn,
        is-dark: true
    ));
    background: color(dark);
    color: on-color(dark);
    ::-webkit-scrollbar-thumb {
        background: rgba(on-color(dark), 0.15);
        &:hover { background: rgba(on-color(dark), 0.25); }
    }
    scrollbar-color: rgba(on-color(dark), 0.15) transparent; //firefox scrollbar styles
    hr { border: none; border-bottom: 1px solid border-color(dark); }
}

$tooltip-color: color-alternate(dark, 4);
//patch overlays for theme compatibility
.cdk-overlay-container, .cdk-overlay-container{ //ensure that overlay doesn't visually cover everything
    background: transparent;
    .mat-tooltip { // tooltip styling
        background: $tooltip-color;
    }
    &.dark .mat-menu-panel {
        background: color(dark);
        color: on-color(dark);
        .mat-menu-item:hover {
            background: color-alternate(dark);
        }
    }
    &.light .mat-menu-panel {
        background: color(light);
        color: on-color(light);
        .mat-menu-item:hover {
            background: color-alternate(light);
        }
    }
    &.dark .mat-dialog-container {
        background: color(dark);
        color: on-color(dark);
    }
    &.light .mat-dialog-container {
        background: color(light);
        color: on-color(light);
    }
    
    &.light .mat-snack-bar-container {
        background: color(light);
        color: on-color(light);
    }
    &.dark .mat-snack-bar-container {
        background: color(dark);
        color: on-color(dark);
    }
    .mat-snack-bar-container.success {
        background: color(success);
        color: on-color(success);
    }
    .mat-snack-bar-container.warn {
        background: color(error);
        color: on-color(error);
    }
}
//patch popover style
.popover {
    //positioning because we didn't import bootstrap
    position: absolute; 
    // add border radius
    border-radius: 4px !important; 
    //don't force 20rem width, conform to content of popover
    width: unset !important;
    //override default colors
    background-color: $tooltip-color !important; 
    .arrow::before, .arrow::after {
        border-bottom-color: $tooltip-color !important;
    }

    //override child labelled-box borders for visibility
    .labelled-box .content {
        &, & + label, .suffix {
            border-right-color: on-color-deemphasis(dark) !important;
            border-left-color: on-color-deemphasis(dark)!important;
            border-bottom-color: on-color-deemphasis(dark) !important;
        }
        & + label::before, & + label::after {
            border-top-color: on-color-deemphasis(dark) !important;
        }
        border-top-color: transparent !important;

    }
}

.mat-select-panel {
    .light & {
        color: on-color(light);
        background: color(light);
    }
    .dark & {
        color: on-color-alternate(dark);
        background: color-alternate(dark);
    }
}

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
    margin: 0; 
    @extend %typography;
}
