@import '~@angular/material/theming';
@import "colors";
@import "fonts";

.superheading { //block outline letters
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: color(primary);
    color: transparent;
    font-size: 60px;
    letter-spacing: 2pt;
    text-transform: uppercase;
}
.heading {
    font-family: Gilroy,Arial,sans-serif;
    letter-spacing: 0.5pt;
    font-weight: 800;
    text-transform: uppercase;
}
.subheading {
    font-family: Gilroy,Arial,sans-serif;
    letter-spacing: 0.5pt;
    font-weight: 800;
}
.subheading.alt {
    font-family: Sentinel-Book,Georgia,serif;
}
.subsubheading {
    font-family: Gilroy,Arial,sans-serif;
    letter-spacing: 0.5pt;
    font-weight: normal;
}
.text-label {
    font-family: Knockout,Arial,sans-serif;
    // font-weight: bold;
    font-size: 16px;
    // text-transform: uppercase;
}

%typography {
    font-family: Sentinel-Book,serif;
  
    // letter-spacing: 0.25pt;
    font-size: 18px;

    h1 { @extend .heading; }
    h2, h3 { @extend .subheading; }
    h4 { @extend .subsubheading; }

    a:not(.mat-button) {
        color: inherit;
        text-decoration: none;
        transition: all 0.2s ease;
        border-bottom: 2px solid color(balanced-blue);
        &:hover {
            color: color(balanced-blue);
        }
    }

    // see https://github.com/angular/components/blob/master/src/material/core/typography/_typography.scss#L24
    $custom-typography: mat-typography-config(
        $font-family: Gilroy,
        $headline: mat-typography-level(32px, 48px, 800, $letter-spacing: 0.5pt),
        $title:    mat-typography-level(20px, 32px, 800, $letter-spacing: 0.5pt),
        $body-1:   mat-typography-level(16px, 24px, 400, $letter-spacing: 0.25pt)
    );

    @include mat-base-typography($custom-typography);
    @include mat-checkbox-typography($custom-typography);
    @include angular-material-typography($custom-typography);
    @include mat-core($custom-typography);
}

//custom typography theme





