@use '../../../../style/globals';
@use '../../../../style/colors';

.release-management {
  .controls {
    margin-bottom: 16px;
  }

  .sections-row {
    display: block;
    width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;

    .cards-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
      align-items: flex-start;
    }

    .tiny-icon {
      font-size: 14px !important;
      width: 14px !important;
      height: 14px !important;
      line-height: 14px !important;
      margin-right: 6px;
    }

    .version {
      display: flex;
      align-items: center;
    }
  }
}
