<div class="collection-import-summary">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let attackType of ['matrix', 'technique', 'tactic', 'mitigation', 'group', 'software', 'relationship']" class="mat-elevation-z0" [disabled]="config.object_import_categories[attackType].object_count == 0" [class.disabled]="config.object_import_categories[attackType].object_count == 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{attackType}} ({{config.object_import_categories[attackType].object_count}})
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0" [disabled]="config.object_import_categories[attackType].additions.length == 0" [class.disabled]="config.object_import_categories[attackType].additions.length == 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Additions ({{config.object_import_categories[attackType].additions.length}})
                            </mat-panel-title>
                            <mat-panel-description>
                                New objects
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <app-stix-list [config]="{
                                'select': 'many',
                                'selectionModel': config.select,
                                'clickBehavior': 'dialog',
                                'type': attackType,
                                'stixObjects': config.object_import_categories[attackType].additions
                            }"></app-stix-list>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z0" [disabled]="config.object_import_categories[attackType].changes.length == 0" [class.disabled]="config.object_import_categories[attackType].changes.length == 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Changes ({{config.object_import_categories[attackType].changes.length}})
                            </mat-panel-title>
                            <mat-panel-description>
                                Updated objects
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <app-stix-list [config]="{
                                'select': 'many',
                                'selectionModel': config.select,
                                'clickBehavior': 'dialog',
                                'type': attackType,
                                'stixObjects': config.object_import_categories[attackType].changes
                            }"></app-stix-list>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z0" [disabled]="config.object_import_categories[attackType].minor_changes.length == 0" [class.disabled]="config.object_import_categories[attackType].minor_changes.length == 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Minor Changes ({{config.object_import_categories[attackType].minor_changes.length}})
                            </mat-panel-title>
                            <mat-panel-description>
                                Objects with minor updates
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <app-stix-list [config]="{
                                'select': 'many',
                                'selectionModel': config.select,
                                'clickBehavior': 'dialog',
                                'type': attackType,
                                'stixObjects': config.object_import_categories[attackType].minor_changes
                            }"></app-stix-list>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z0" [disabled]="config.object_import_categories[attackType].revocations.length == 0" [class.disabled]="config.object_import_categories[attackType].revocations.length == 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Revocations ({{config.object_import_categories[attackType].revocations.length}})
                            </mat-panel-title>
                            <mat-panel-description>
                                Objects which have been replaced by other objects
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <app-stix-list [config]="{
                                'select': 'many',
                                'selectionModel': config.select,
                                'clickBehavior': 'dialog',
                                'type': attackType,
                                'stixObjects': config.object_import_categories[attackType].revocations
                            }"></app-stix-list>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z0" [disabled]="config.object_import_categories[attackType].deprecations.length == 0" [class.disabled]="config.object_import_categories[attackType].deprecations.length == 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Deprecations ({{config.object_import_categories[attackType].deprecations.length}})
                            </mat-panel-title>
                            <mat-panel-description>
                                Objects removed from the dataset
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            <app-stix-list [config]="{
                                'select': 'many',
                                'selectionModel': config.select,
                                'clickBehavior': 'dialog',
                                'type': attackType,
                                'stixObjects': config.object_import_categories[attackType].deprecations
                            }"></app-stix-list>
                        </ng-template>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="mat-elevation-z0" [disabled]="config.object_import_categories[attackType].supersedes_collection_changes.length + config.object_import_categories[attackType].supersedes_user_edits.length == 0" [class.disabled]="config.object_import_categories[attackType].supersedes_collection_changes.length + config.object_import_categories[attackType].supersedes_user_edits.length == 0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Import conflicts ({{config.object_import_categories[attackType].supersedes_collection_changes.length + config.object_import_categories[attackType].supersedes_user_edits.length}})
                            </mat-panel-title>
                            <mat-panel-description>
                                Conflicts with local edits
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            You should never see this because we don't detect conflicts/supersedes yet
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>