<div class="data-component-view view-page grid spacing-12">
    <div class="row">
        <div class="col">
            <app-name-property [config]="{
                mode: editing? 'edit' : 'view',
                object: data_component,
                parent: data_source
            }"></app-name-property>
            <app-subheading *ngIf="!editing" [config]="config" (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Domains -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: data_component,
                field: 'domains',
                editType: 'select'
            }"></app-list-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: data_component
            }"></app-version-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: data_component,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: data_component.external_references,
                label: 'Description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- only show relationships if configured to show them -->
    <div *ngIf="(config.showRelationships || !config.hasOwnProperty('showRelationships')) && !editing">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Techniques Detected</h2>
            </div>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="data_component.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: editing? 'edit': 'view',
                    object: data_component,
                    referencesField: data_component.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>