@use 'sass:math' as math;
@use '../../../../style/layouts/matrix.scss';
@use '../../../../style/colors.scss';

.technique-cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: matrix.$sizeunit - 1px;
  line-height: matrix.$sizeunit;
  min-width: matrix.$sizeunit;
  min-height: matrix.$sizeunit;
  border-collapse: collapse;
  > div {
    padding: math.div(matrix.$sizeunit, 2) 3px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  &.showID:not(.showName) {
    text-align: center;
  }

  span {
    margin: 0;
    padding-bottom: 1px;
    line-height: 18px;
  }
  :hover span {
    color: colors.color(balanced-blue);
    border-bottom: 1px solid colors.color(balanced-blue);
    cursor: pointer;
  }
}
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  bottom: -0.5em;
  left: 0em;
}

// custom styling for tooltip
.technique-cell-tooltip {
  position: relative !important;
  font-size: small !important;
  background-color: colors.color-alternate(dark, 4) !important;
  bottom: -0.5rem !important;
  overflow: initial !important;
  margin-bottom: 1rem !important;
  &::after {
    width: 0 !important;
    height: 0 !important;
    content: '' !important;
    position: absolute !important;
    border-left: 0.5rem solid transparent !important;
    border-right: 0.5rem solid transparent !important;
    border-bottom: 0.5rem solid colors.color-alternate(dark, 4) !important;
    bottom: -0.5rem !important;
    right: calc(50% - 0.5rem) !important;
    transform: rotate(180deg) !important;
  }
}
