@import "../../../../style/globals";
.notes-editor {
    max-width: 20em;
    .mat-form-field-infix {
        border-top: 0px;
    }
    .mat-form-field-wrapper {
        padding: 0px;
    }
    .notes-toolbar {
        margin-top: 1em;
        mat-toolbar {
            .light & { background: color(primary); color: on-color(primary); }
            .dark & { background: color(light); }
        }
        .toolbar-space {
            flex: 1 1 auto;
        }
        .mat-form-field {
            font-size: 14px;
        }
    }
    .notes-content {
        padding: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        .sticky-note {
            padding: 0px;
            margin-bottom: 12px;

            .title-space {
                flex: 1 1 auto;
            }
            mat-card-header {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: center;
                .mat-card-header-text {
                    margin: 0 8px;
                }
                .mat-form-field {
                    width: 100%;
                }
            }
            mat-card-content {
                padding: 16px;
                .mat-form-field {
                    width: 100%;
                }
            }
        }
    }
}