<div class="notes-editor">
    <!-- toolbar -->
    <div class="notes-toolbar">
        <mat-toolbar>
            <!-- TODO: implement sort dropdown/functionality -->
            <button mat-button class="control" matTooltip="sort" (click)="sortNote()">
                <mat-icon aria-label="sort">sort</mat-icon>
            </button>
            <div class="spacer"></div>
            <mat-form-field class="search-field" floatLabel="never">
                <input matInput placeholder="search" #search>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </mat-toolbar>
    </div>

    <!-- add new note -->
    <div class="add-button">
        <button mat-mini-fab class="extended-fab-button" color="primary" (click)="addNote()">
            <mat-icon>add</mat-icon><span class="text-label">add a note</span>
        </button>
    </div>

    <!-- notes -->
    <div class="notes-content">
        <ng-container *ngFor="let note of notes">
            <mat-card class="sticky-note">
                <mat-card-header>
                    <!-- title -->
                    <mat-card-title>
                        <mat-form-field floatLabel="never" appearance="none">
                            <textarea matInput cdkTextareaAutosize 
                                #autosize="cdkTextareaAutosize"
                                [readonly]="!note.editing"
                                placeholder="{{note.editing ? 'Title' : ''}}"
                                [(ngModel)]="note.title"></textarea>
                        </mat-form-field>
                    </mat-card-title>
                    <!-- history -->
                    <mat-card-subtitle class="history">
                            <app-timestamp-view [config]="{object: note, field: 'modified'}"></app-timestamp-view>
                    </mat-card-subtitle>
                    <!-- note editor buttons -->
                    <button mat-button *ngIf="!note.editing" class="control" matTooltip="edit note" (click)="note.editing=true"><mat-icon aria-label="edit">edit</mat-icon></button>
                    <button mat-button *ngIf="note.editing" class="control" matTooltip="save note" (click)="saveNote(note)"><mat-icon aria-label="save">save</mat-icon></button>
                    <button mat-button class="control" matTooltip="delete note" (click)="deleteNote(note)"><mat-icon aria-label="delete">delete</mat-icon></button>
                </mat-card-header>
                <mat-card-content>
                    <!-- content -->
                    <markdown *ngIf="!note.editing" [data]="note.content"></markdown>
                    <mat-form-field *ngIf="note.editing" class="edit-note" floatLabel="never" appearance="none">
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" placeholder="Note" [(ngModel)]="note.content" required></textarea>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
    <!-- no notes found -->
    <app-empty-list-marker *ngIf="!loading && !notes.length" [checkAgain]="false"></app-empty-list-marker>
    <!-- loading -->
    <app-loading-overlay *ngIf="loading"></app-loading-overlay>
</div>