@import "../../../../style/globals";

.notes-editor {
    .mat-form-field-wrapper { padding: 0px; }
    .mat-form-field-infix {
        border-top: 0px;
        padding: 0px;
    }

    .notes-toolbar {
        margin-top: 1em;
        mat-toolbar {
            @extend %toolbar;
            border-radius: 4px;
            .light & { background: color(primary); color: on-color(primary); }
            .dark & { background: color(primary); color: on-color(primary); }
        }
        .control.hide-selected-value {
            .mat-select-value { display: none; }
        }
        .search-field {
            padding-right: 12px;
            font-size: 14px;
            .mat-form-field-wrapper { margin-bottom: -1.34375em; }
            .mat-form-field-label { 
                .light & { color: on-color-deemphasis(primary); }
                .dark &  { color: on-color-deemphasis(primary); }
            }
        }
        .mat-select-arrow-wrapper { display: none; }
    }

    .add-button {
        padding: 16px;
        text-align: center;
    }

    .sticky-note {
        padding: 0px;
        margin-top: 12px;
        button.mat-button-disabled { opacity: 0.5; }

        &.edit-outline {
            box-shadow: 0px 2px 1px -1px color(primary),
                        0px 1px 1px 0px color(primary), 
                        0px 1px 3px 0px color(primary);
        }

        ::placeholder {
            .light & { color: on-color(light); }
            .dark &  { color: on-color(dark); }
            opacity: 1;
        }

        // replace dark theme box-shadow with a border
        .dark & {
            &.edit-outline {
                border-color: border-color(primary)
            }
            box-shadow: none;
            border: solid 1px; 
            border-color: border-color(dark);
        }

        .mat-form-field { width: 100%; }
        .mat-form-field-underline { display: none; }

        mat-card-header {
            cursor: pointer;
            textarea {
                margin-top: 12px;
                overflow: hidden;
                &:read-only { cursor: pointer; }
            }
            .mat-card-header-text { width: 100%; }
            .history {
                font-size: 13px;
                @extend .text-label;
            }
        }

        // style textarea and markdown consistently
        mat-card-content { 
            padding: 16px;
            .edit-note {
                line-height: 24px;
                .mat-form-field-wrapper { padding-bottom: 0px; }
            }
            .markdown p { margin: 7px 0px; }
        }
    }
}