@import '~@angular/material/theming';
@import "../../../../../style/globals";
.stix-list-cards {
    .cards {
        padding: 40px;
        .card-wrapper + .card-wrapper {
            margin-top: 10px;
        }
    }
    
    .mat-paginator {
        width: 100%;
    }
}