<div class="stix-list-cards">
    <div class="cards">
        <div class="card-wrapper" *ngFor="let stixObject of stixObjects" >
            <app-stix-card [stixObject]="stixObject"></app-stix-card>
        </div>
        <div class="card-wrapper">
            <app-relationship-card></app-relationship-card>
        </div>
    </div>
    <!-- <mat-card >
        <mat-card-header class="header">
            <mat-card-title>{{stixObject.name}}</mat-card-title>
            <mat-card-subtitle>{{stixObject.attackType}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{summarize(stixObject.description)}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button *ngFor="let route of stixObject.routes" [routerLink]="stixObject.stixID + route.route">{{route.label}}</button>
        </mat-card-actions>
    </mat-card> -->

    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

</div>