<div class="subtype-view grow-to-row">
  <div class="content">
    <table
      aria-describedby="subtypetablediff"
      *ngIf="detailTable.length"
      mat-table
      [dataSource]="detailTable"
      class="subtype-table">
      <ng-container
        [matColumnDef]="column.label ? column.label : column.name"
        *ngFor="let column of subtypeFields">
        <th mat-header-cell *matHeaderCellDef>
          {{ (column.label ? column.label : column.name) | titlecase }}
        </th>
        <td mat-cell *matCellDef="let element">
          <app-property-diff
            [before]="fieldToString(element.before, column.name)"
            [after]="fieldToString(element.after, column.name)">
          </app-property-diff>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="fieldLabels"></tr>
      <tr mat-row *matRowDef="let row; columns: fieldLabels"></tr>
    </table>
  </div>
  <span class="labelled-box-label">{{ config.label }}</span>
</div>
