<mat-toolbar class="header">
  <!-- Title & Help -->
  <div class="app-title">
    <h1>
      <a routerLink=""
        >ATT&CK Workbench&nbsp;<span class="app-version lowercase"
          >v{{ appVersion }}</span
        ></a
      >
    </h1>
  </div>
  <button mat-icon-button routerLink="/docs" matTooltip="help">
    <mat-icon aria-label="help">help_outline</mat-icon>
  </button>
  <div class="spacer"></div>

  <!-- Stix Object Routes -->
  <div
    class="links"
    #linkMenu
    [ngClass]="{ 'pad-right': isLoggedIn }"
    [ngStyle]="{ visibility: showHamburger ? 'hidden' : 'visible' }">
    <button
      mat-button
      *ngFor="let stixRoute of filteredRoutes"
      [disabled]="!isLoggedIn"
      [routerLink]="stixRoute.path">
      {{ stixRoute.data.breadcrumb }}
    </button>

    <button mat-button [matMenuTriggerFor]="more" aria-label="more">
      More
    </button>
    <mat-menu #more="matMenu" backdropClass="override-light">
      <button
        mat-menu-item
        *ngFor="let stixRoute of moreRoutes"
        [disabled]="!isLoggedIn"
        [routerLink]="stixRoute.path">
        {{ stixRoute.data.breadcrumb }}
      </button>
      <button mat-menu-item routerLink="/docs">documentation</button>
    </mat-menu>
  </div>

  <!-- Hamburger Dropdown Menus -->
  <div
    class="hamburger"
    [ngStyle]="{ visibility: showHamburger ? 'visible' : 'hidden' }">
    <button
      [matMenuTriggerFor]="navigation"
      mat-icon-button
      aria-label="navigation">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Account Options Menu -->
    <mat-menu #accountOptions="matMenu" backdropClass="override-light">
      <button mat-menu-item routerLink="/profile">profile</button>
      <button *ngIf="isAdmin" mat-menu-item routerLink="/admin">admin</button>
      <button mat-menu-item (click)="logout()">logout</button>
    </mat-menu>

    <!-- Navigation Menu -->
    <mat-menu #navigation="matMenu" backdropClass="override-light">
      <button
        mat-menu-item
        *ngFor="let stixRoute of allRoutes"
        [disabled]="!isLoggedIn"
        [routerLink]="stixRoute.path">
        {{ stixRoute.data.breadcrumb }}
      </button>
      <button mat-menu-item routerLink="/docs">documentation</button>
      <button mat-menu-item *ngIf="!isLoggedIn" (click)="login()">login</button>
      <button
        mat-menu-item
        *ngIf="!isLoggedIn && authnType === 'oidc'"
        (click)="register()">
        register
      </button>
    </mat-menu>
  </div>

  <!-- Login/Register -->
  <ng-container *ngIf="!isLoggedIn && !showHamburger">
    <button mat-button class="login-register" (click)="login()">login</button>
    <button mat-button *ngIf="authnType === 'oidc'" (click)="register()">
      register
    </button>
  </ng-container>

  <!-- Account Icon -->
  <ng-container *ngIf="isLoggedIn">
    <button
      class="account"
      [ngClass]="{ 'pad-left': showHamburger }"
      mat-icon-button
      [matMenuTriggerFor]="accountOptions"
      aria-label="account options">
      <svg
        [data-jdenticon-value]="username"
        [matTooltip]="username"
        matTooltipPosition="below"></svg>
    </button>
  </ng-container>
</mat-toolbar>
