@use '../../../style/colors';

.header {
  height: 74px;
  padding: 0 30px 0 32px;
  border-bottom: 1px solid rgba(colors.color(mitre-silver), 0.1);

  .light & {
    background: colors.color(primary);
  }

  .dark & {
    background: colors.color(primary);
  }

  .mat-mdc-button:disabled {
    .light & {
      color: colors.on-color-deemphasis(light);
    }
    .dark & {
      color: colors.on-color-deemphasis(dark);
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    .light & {
      color: colors.on-color(dark);
    }
    .dark & {
      color: colors.on-color(light);
    }
  }

  .mat-mdc-icon-button.account {
    --account-avatar-size: 48px;

    align-items: center;
    background: transparent;
    display: inline-flex;
    height: var(--account-avatar-size);
    justify-content: center;
    padding: 0;
    scale: 0.85;
    vertical-align: middle;
    width: var(--account-avatar-size);

    app-user-avatar {
      display: inline-flex;
      flex: 0 0 auto;
      height: var(--account-avatar-size);
      vertical-align: middle;
      width: var(--account-avatar-size);
    }

    app-user-avatar .user-avatar {
      height: 100%;
      width: 100%;
    }
  }
}
