<mat-toolbar class="header">
  <div class="spacer"></div>

  <ng-container *ngIf="!isLoggedIn">
    <button mat-button class="login-register" (click)="login()">login</button>
    <button mat-button *ngIf="authnType === 'oidc'" (click)="register()">
      register
    </button>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <button
      class="account"
      mat-icon-button
      [matMenuTriggerFor]="accountOptions"
      aria-label="account options">
      <app-user-avatar
        [name]="username"
        [size]="48"
        [matTooltip]="username"
        matTooltipPosition="below"></app-user-avatar>
    </button>
  </ng-container>

  <mat-menu #accountOptions="matMenu" backdropClass="override-light">
    <button mat-menu-item routerLink="/profile">view profile</button>
    <button mat-menu-item (click)="logout()">logout</button>
  </mat-menu>
</mat-toolbar>
