@import '../../../style/globals';
.app-subheading {
  display: flex;
  align-items: center;
  .mdc-button {
    height: auto;
  }

  .section-header-section.source {
    display: flex;
    align-items: center;
  }
}

.stixid-property.editing {
  margin-top: 10px;
}
