<div class="version-property grow-to-row">
    <div class="labelled-box grow-to-row" *ngIf="!config.mode || config.mode == 'view'">
        <div class="content">
            <app-version-view [config]="config"></app-version-view>
            <span class="text-deemphasis" *ngIf="config.object.attackType == 'collection'">&nbsp;({{config.object.release? 'released' : 'unreleased'}})</span>
        </div>
        <span class="labelled-box-label">{{config.field ? config.field : 'version'}}
            <app-version-popover [config]="{object: config.object}"></app-version-popover>
        </span>
    </div>
    <app-version-edit *ngIf="config.mode == 'edit'" [config]="config"></app-version-edit>
</div>