<div class="descriptive-property grow-to-row">
  <div class="labelled-box grow-to-row" *ngIf="!config.mode || config.mode === 'view'">
    <div class="content">
      <app-descriptive-view [config]="config"></app-descriptive-view>
    </div>
    <span class="labelled-box-label">{{ config.label }}</span>
  </div>
  <app-descriptive-edit
    *ngIf="config.mode === 'edit'"
    class="grow-to-row"
    [config]="config"
  ></app-descriptive-edit>
  <app-descriptive-diff
    *ngIf="config.mode === 'diff'"
    class="grow-to-row"
    [config]="config"
  ></app-descriptive-diff>
</div>
