<div class="contextmenu" (contextmenu)="closeContextmenu()">
  <div class="cover" (click)="closeContextmenu()"></div>
  <div class="menu top left">
    <div class="contextMenu-section">
      <div class="contextMenu-header">
          {{technique.name}} ({{technique.attackID}})
      </div>
    </div>
    <div class="contextMenu-section">
      <div class="contextMenu-button" (click)="select()">
          select
      </div>
      <div class="contextMenu-button" (click)="addSelection()">
          add to selection
      </div>
      <div class="contextMenu-button" (click)="removeSelection()">
          remove from selection
      </div>
    </div>
    <div class="contextMenu-section">
      <div class="contextMenu-button" (click)="viewTechnique()">
        view technique
      </div>
      <div class="contextMenu-button" (click)="viewTactic()">
          view tactic
      </div>
    </div>
  </div>
</div>
