<div class="marking-definition-view view-page grid spacing-16">
  <div class="row" *ngIf="!validating">
    <div class="col">
      <!-- TYPE -->
      <div
        class="labelled-box grow-to-row"
        matTooltip="this field cannot be edited"
        [matTooltipDisabled]="!editing"
      >
        <div class="content capitalize">
          {{ markingDefinition.definition_type }}
        </div>
        <span class="labelled-box-label">type</span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!validating">
    <div class="col">
      <!-- DESCRIPTION -->
      <app-descriptive-property
        [config]="{
          mode: config.mode,
          object: config.object,
          field: 'definition_string',
          firstParagraphOnly: false,
          label: 'Statement',
          parseReferences: false,
        }"
      ></app-descriptive-property>
    </div>
  </div>
  <div *ngIf="validating">
    <div *ngIf="validationData; else loadingValidation" class="validation">
      <app-validation-results [validation]="validationData"></app-validation-results>
      <div class="save-buttons">
        <button mat-button (click)="validating = false">cancel</button>
        <button mat-stroked-button [disabled]="!saveEnabled" (click)="save()">save</button>
      </div>
    </div>
    <ng-template #loadingValidation>
      <app-loading-overlay message="validating"></app-loading-overlay>
    </ng-template>
  </div>
</div>
