<div class="admin-page view-page grid spacing-16">
    <div class="row">
        <div class="col">
            <h1>Admin settings</h1>
        </div>
    </div>
    <div class="row">

        <div class="col center">
            <div>
                <button style="margin-right: 10px" mat-raised-button color="primary" routerLink="org-identity">
                    <h2>
                        Organization Identity
                    </h2>
                    <h3 class="display-icon">
                        <mat-icon>business</mat-icon>
                    </h3>
                </button>

                <button style="margin-left: 10px" mat-raised-button color="primary" routerLink="default-marking-definitions">
                    <h2>
                        Default Marking Definitions
                    </h2>
                    <h3 class="display-icon">
                        <mat-icon>bookmark</mat-icon>
                    </h3>
                </button>
            </div>
        </div>
        <div class="col center">
            <div>
                <button mat-raised-button color="primary" routerLink="user-accounts" [matBadge]="pendingUsers" matBadgeDescription="pending users">
                    <h2>
                        User Accounts
                    </h2>
                    <h3 class="display-icon">
                        <mat-icon>people_alt</mat-icon>
                    </h3>
                </button>
            </div>
        </div>
    </div>
</div>