<button cdkDrag
        #popoverTrigger2="mtxPopoverTrigger"
        [mtxPopoverTriggerFor]="popover"
        [mtxPopoverTriggerOn]="popoverTrigger"
        [disabled]="popoverDisabled"
        matBadge="0"
        matBadgeDescription="statements changed"
        matBadgeOverlap="true"
        matBadgeSize="small"
        [matBadgeHidden]="showChangeIndicator"
        class="statement-diff hide-badge-text"
        >
    <app-property-diff
        [before]="getLabel(previous)"
        [after]="getLabel(current)"
    ></app-property-diff>
</button>
<mtx-popover #popover="mtxPopover"
        class="dark"
        enterDelay="25"
        leaveDelay="25"
        [position]="['below', 'center']"
        [closeOnPanelClick]="true"
        [closeOnBackdropClick]="true">
    <div style="max-width: 30em;">
        <div class="labelled-box suffixed">
            <div class="content">
                <ul>
                    <li *ngFor="let statementDiff of statementDiffList">
                        <app-property-diff
                            [before]="getDefinition(statementDiff.before)"
                            [after]="getDefinition(statementDiff.after)"
                        ></app-property-diff>
                    </li>
                </ul>
            </div>
            <span class="labelled-box-label">Statements</span>
        </div>
    </div>
</mtx-popover>
