@import "../../../../../style/globals.scss";
.reference-edit-dialog {
    min-width: 75vw;
    .reference-date {
        display: flex;
        width: 100%;
        .mat-form-field:not(:first-child):not(:last-child) {
            padding: 0px 16px;
        }
    }
    .stage.edit .mat-form-field {
        width: 100%;
    }
    .grid {
        .editor {
            max-width: 66% !important;
            min-width: 66% !important;
        }
        .column:not(.editor) { // format the rightmost columns
            margin-bottom: 24px;
            padding-left: 16px;
            .dark & { border-left: 1px solid border-color(dark); }
            .light & { border-left: 1px solid border-color(light); }
        }
        .editor .mat-form-field-infix { width: unset; }
    }
}
.reference-view-dialog {
    max-width: 50vw;
    .rel-button {
        justify-content: center;
    }
    .clickable {
        cursor: pointer;
        &:hover { 
            .dark & { background: color-alternate(dark); }
            .light & { background: color-alternate(light); }
        }
    }
}
.buttons {
    button + button {
        margin-left: 10px;
    }
    margin-top: 24px;
    margin-bottom: 24px;
}