@import "../../../../../style/globals.scss";
.reference-edit-dialog {
    min-width: 75vw;
    .reference-date {
        display: flex;
        width: 100%;
        .mat-form-field:not(:first-child):not(:last-child) {
            padding: 0px 16px;
        }
    }
    .stage.edit .mat-form-field {
        width: 100%;
    }
    .buttons {
        button + button {
            margin-left: 10px;
        }
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .grid {
        .row:not(:first-child) {
            padding-top: 22px;
            margin: 0;
            .dark & { border-top: 1px solid border-color(dark); }
            .light & { border-top: 1px solid border-color(light); }
        }
        .editor {
            max-width: 66% !important;
            min-width: 66% !important;
        }
        .column:not(.editor) { // format the rightmost columns
            margin-bottom: 24px;
            padding-left: 16px;
            .dark & { border-left: 1px solid border-color(dark); }
            .light & { border-left: 1px solid border-color(light); }
        }
        .editor .mat-form-field-infix { width: unset; }
    }
}