<div class="view-page integrations-page">
    <h1>Integrations</h1>
    <p>
        The ATT&CK Workbench is designed to integrate with a variety of tools. This page provides documentation on how to set up such integrations.
    </p>
    <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ATT&CK Website
                </mat-panel-title>
            </mat-expansion-panel-header>
            <markdown src="/assets/docs/integrations/attack-website.md"></markdown>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ATT&CK Navigator
                </mat-panel-title>
            </mat-expansion-panel-header>
            <markdown src="/assets/docs/integrations/attack-navigator.md"></markdown>
        </mat-expansion-panel>
    </mat-accordion>
</div>