@import '../../../style/globals';
.resources-drawer {
  display: flex;
  flex-direction: column;
  width: 33vw;
  height: 100%;
  border-left: 1px solid;
  .dark & {
    border-color: border-color(dark);
  }
  .light & {
    border-color: border-color(light);
  }

  .mat-toolbar {
    @extend %toolbar;
  }
  .content {
    .light & {
      background-color: color(light);
    }
    .dark & {
      background-color: color(dark);
    }
    flex-grow: 1;
    overflow: auto;
    padding: 50px 20px 50px 20px;
    .center-all {
      // placeholder for actual sidebar content
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tab-title {
      text-align: center;
      margin: 0;
    }
  }
}
