<div class="datepicker-property grow-to-row">
    <div *ngIf="!config.mode || config.mode == 'view'" class="labelled-box grow-to-row">
        <div class="content">
            <div class="datepicker-view">
                <span>{{date}}</span>
            </div>
        </div>
        <label>{{config.label? config.label : config.field}}</label>
    </div>
    <ng-container *ngIf="config.mode == 'edit'">
        <mat-form-field class="timestamp-edit" appearance="outline">
            <mat-label>{{config.label? config.label : config.field}}</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="datepicker" [(ngModel)]="config.object[config.field]" [required]="config.required ? config.required : false">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker startView="multi-year" (monthSelected)="monthSelected($event, datepicker)"></mat-datepicker>
            <mat-hint>{{formatHint}}</mat-hint>
        </mat-form-field>
    </ng-container>
    
</div>