<div *ngIf="identity || config.timeField" class="identity-property">
  <mat-chip-listbox>
    <mat-chip>
      <div class="identity">
        <ng-container *ngIf="identity && identity.name">
          <app-user-avatar
            [name]="identity.name"
            [size]="24"
            [matTooltip]="identity.name"
            matTooltipPosition="below"></app-user-avatar>
          <span class="v-align" *ngIf="config.displayName">{{
            identity.name
          }}</span>
        </ng-container>
        <app-timestamp-view
          *ngIf="config.timeField"
          class="v-align"
          [config]="{
            object: config.object,
            field: config.timeField,
            mode: 'view',
            humanize: true,
          }"></app-timestamp-view>
      </div>
    </mat-chip>
  </mat-chip-listbox>
</div>
