@import "../../../../../style/globals";

.collection-manager {
    h1 {
        text-align: center;
        margin-top: 0;
    }
    width: 45em;
    max-width: 100%;
    margin: 0 auto;
    .mat-tab-header {
        .dark & { border-bottom: 1px solid border-color(dark); }
        .light & { border-bottom: 1px solid border-color(light); }
        .mat-tab-label-content {
            @extend .text-label;
        }
        // .mat-tab-label-active .mat-tab-label-content {
        //     .dark & { color: on-color-emphasis(dark); }
        //     .light & { color:  on-color-emphasis(light); }
        // }
    }
    .mat-tab-body {
        .tab-actions {
            text-align: center;
            padding: 25px 0;
        }
        // padding-top: 25px;
    //     border-bottom-left-radius: 4px;
    //     border-bottom-right-radius: 4px;
        // .dark & { border: 1px solid border-color(dark); }
        // .light & { border: 1px solid border-color(light); }
        // padding: 25px;
        // .tab-content {
        //     margin: 25px;
        // }
        // overflow:visible;
    }
}