@import "../../../../../style/colors.scss";
$sizeunit: 14px;
.button-row {
  display: flex;
  button{
    margin: 10px;
  }
}

.matrix-container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  border: 1px solid;
  .dark & { border-color: border-color(dark) }
  .light & { border-color: on-color-deemphasis(light) }
}

.matrix.side {
  border-collapse: collapse;
  padding: 0;
  tr.tactic {
    margin-left: 14px;
      border-bottom: 1px solid;
      .dark & {
        border-color: border-color(dark);
        background-color: color(engenuity-gray);
        color: color(engenuity-black);
        // :hover {
        //   background-color: #B2B2B2;
        // }
      }
      .light & {
        border-color: on-color-deemphasis(light);
        background-color: color(engenuity-purple);
        color: white;
      }
      vertical-align: top;
      td {
        padding: 0;
        vertical-align: middle;
        min-width: 180px;
      }
  }
  .tactic {
    .techniques-table {
      border-collapse: collapse;
      width: 100%;
      tr, td {
        padding: 0;
      }
      tr {
          height: 1px;
      }
    }
    td.technique {
      padding: 0;
      margin: 0;

      vertical-align: top;
      .dark & {
        background-color: color(engenuity-black);
        color: white;
        border: 1px solid border-color(dark)
       }
      .light & {
        background-color: white;
        color: black;
        border: 1px solid on-color-deemphasis(light)
      }
    }

    .supertechnique {
      border-collapse: collapse;
      width: 100%;
      padding: 0;
      margin: 0;
      td {
          padding: 0;
          vertical-align: top;
      }
    }

    .subtechniques {
      .dark & {
        background-color: color(engenuity-black);
        color: white;
       }
      .light & {
        background-color: white;
        color: black;
      }
      &.hidden {
        display: none;
      }
      display: flex;
      flex-direction: column;
      height: 100%;
      margin-left: -1px;
      white-space: nowrap;
      vertical-align: top;
      .subtechnique {
          height: 100%;
          flex-grow: 1;
          .dark & { outline: 1px solid border-color(dark) }
          .light & { outline: 1px solid on-color-deemphasis(light) }
        min-width: 150px;
      }
    }
    .handle {
      color: white;
      font-family: roboto-regular;
      text-align: center;
      vertical-align: middle;
      transform: rotate(-90deg);
      width: 12px;
      height: 12px;
      font-size: 16px;
      line-height: 12px;
    }
  }
}
.sidebar {
  min-width: 8px;
  width: 12px;
  padding: 0;
  cursor: pointer;
  position:relative;
  vertical-align: middle;
  background: #707070;
  height: 100%;
  .angle {
      display: none;
  }
  &.expanded .angle {
    height: 12px;
    display:block;
    position: absolute;
    svg {
      .dark & { fill: color(engenuity-black)}
      .light & { fill: color(engenuity-gray)}
      position: absolute;
    }
    &.top {
      top: 0;
      svg{ transform: rotate(-90deg);}

    }
    &.bottom {
      bottom: 0;
      svg {transform: rotate(90deg);}
    }
  }
}
