<div class="group-view view-page grid spacing-12">
    <div class="row">
        <div class="col">
            <app-name-property [config]="{
                mode: editing? 'edit' : 'view',
                object: group
            }"></app-name-property>
            <app-subheading *ngIf="!editing" [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: group
            }"></app-attackid-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: group
            }"></app-version-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- CONTRIBUTORS -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: group,
                field: 'contributors',
                editType: 'any'
            }"></app-list-property>
        </div>
        <div class="col">
            <!-- GROUP ALIASES -->
            <app-alias-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: group,
                field: 'aliases',
                referencesField: 'external_references',
                label: 'Associated Groups'
            }"></app-alias-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: group,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: group.external_references,
                label: 'Description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- only show relationships if configured to show them -->
    <div *ngIf="(config.showRelationships || !config.hasOwnProperty('showRelationships')) && !editing">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Techniques Used</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-add-relationship-button (created)="techniqueList.applyControls()" [config]="{
                    label: 'technique',
                    relationship_type: 'uses',
                    source_ref: group.stixID
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #techniqueList [config]="{
                    'type': 'relationship', 
                    'sourceRef': group.stixID,
                    'targetType': 'technique',
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="section-header">Software Used</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-add-relationship-button (created)="softwareList.applyControls()" [config]="{
                    label: 'software',
                    relationship_type: 'uses',
                    source_ref: group.stixID
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #softwareList [config]="{
                    'type': 'relationship', 
                    'sourceRef': group.stixID,
                    'targetType': 'software',
                    'relationshipType': 'uses',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>

    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="group.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: editing? 'edit': 'view',
                    object: group,
                    referencesField: group.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>