.attackid-edit {
    mat-form-field {
        width: 100%;
    }
    .attackid {
        .mat-form-field-label {
          text-align: center;
        }
        .mat-form-field-prefix {
          text-transform: none;
          top: 0 !important;
        }
    }
}
