<div class="attackid-edit">
    <mat-form-field class="attackid" appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="config.object['attackID']">
        <button mat-icon-button matSuffix (click)="generateClicked = true; config.object.generateAttackIDWithPrefix(restApiConnector)" aria-label="Generate ATT&CK ID">
            <mat-icon>{{'autorenew'}}</mat-icon>
        </button>
        <mat-hint *ngIf="config.object['firstInitialized'] && generateClicked && ['group', 'mitigation', 'software', 'tactic', 'technique', 'data-source', 'matrix'].includes(config.object['attackType'])">ID is generated based on your organization's namespace settings</mat-hint>
    </mat-form-field>
</div>
