<div class="list-page">
  <div class="list-page-header">
    <h1 class="with-help-icon">
      techniques
      <mat-icon
        class="help-icon"
        aria-label="help"
        cdkDrag
        #popoverTrigger2="mtxPopoverTrigger"
        [mtxPopoverTriggerFor]="popover"
        mtxPopoverTriggerOn="hover">
        help_outline
      </mat-icon>
      <mtx-popover
        #popover="mtxPopover"
        [position]="['below', 'center']"
        enterDelay="25"
        leaveDelay="25">
        <div style="max-width: 26em">
          <span class="help-content"
            >Techniques represent 'how' an adversary achieves a tactical goal by
            performing an action. For example, an adversary may dump credentials
            to achieve credential access.</span
          >
        </div>
      </mtx-popover>
    </h1>

    <div class="button-group" *ngIf="canEdit">
      <button
        mat-raised-button
        class="extended-button"
        color="primary"
        [routerLink]="['/technique/new']"
        [queryParams]="{ editing: true }">
        <mat-icon>create</mat-icon>
        <span class="text-label">create a technique</span>
      </button>
    </div>
  </div>
  <app-stix-list
    [config]="{
      type: 'technique',
      showLinks: true,
      showUserSearch: true,
    }"></app-stix-list>
</div>
