<div class="view-page grid spacing-16">
    <div class="row">
        <div class="col">
            <h1>Default Marking Definitions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Default Marking Definitions are marking definitions that will be applied by default to newly created objects
            </p>
        </div>
    </div>
    <div class="grid">
        <hr>
        <div class="row">
            <div class="col center">
                <div>
                    <button mat-mini-fab class="extended-fab-button" color="primary" (click)="updateDefaultMarkingDefs()">
                        <mat-icon>settings</mat-icon> <span class="text-label">update default marking definitions</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


