<div class="user-accounts-page view-page grid spacing-16">
    <div class="row">
        <div class="col">
            <h1>User Accounts</h1>
        </div>
    </div>
    <div class="table-container">
        <!-- -------- -->
        <!-- CONTROLS -->
        <!-- -------- -->
        <div class="controls">
            <div class="input-group">
                <mat-form-field class="search" appearance="fill">
                    <mat-label>search</mat-label>
                    <input matInput (keyup)="applySearch($event.target.value)">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>options</mat-label>
                    <mat-select multiple (selectionChange)="handleFilterSelection($event)">
                        <mat-optgroup *ngFor="let group of filterOptions" [label]="group.name">
                            <mat-option *ngFor="let filter of group.values" [value]="filter.value">{{filter.value}}</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- ----- -->
        <!-- TABLE -->
        <!-- ----- -->
        <div class="scroll-container" *ngIf="filteredAccounts else loading">
            <table mat-table *ngIf="filteredAccounts.length > 0" [dataSource]="filteredAccounts">
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef>Username</th>
                    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let user">
                        <mat-chip-list>
                            <mat-chip color="primary" class="role" [ngClass]="user.status === 'active' ? 'active' : (user.status === 'pending' ? 'pending' : '')">
                                {{user.status}}
                            </mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <!-- TODO add admin-only ability to change user roles -->
                    <td mat-cell *matCellDef="let user"> {{user.role}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="element-row"></tr>
            </table>
        </div>
        <ng-template #loading>
            <app-loading-overlay *ngIf="!filteredAccounts"></app-loading-overlay>
        </ng-template>
        <!-- ---------- -->
        <!-- PAGINATION -->
        <!-- ---------- -->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize="10" (page)="applyControls()" [length]="totalObjectCount"></mat-paginator>
    </div>
    <ng-template #loading>
        <app-loading-overlay message="loading user accounts"></app-loading-overlay>
    </ng-template>
</div>
