<div class="list-page">
    <div class="list-page-header">
        <h1>Reference Manager</h1>
        <div class="button-group" *ngIf="canEdit">
            <button mat-mini-fab class="extended-fab-button" color="primary" (click)="openReference(true)">
                <mat-icon>create</mat-icon>
                <span class="text-label">create a reference</span>
            </button>
        </div>
    </div>
</div>
<div class="reference-manager">
    <div class="search">
        <mat-form-field appearance="fill" class="fullwidth">
            <mat-label>search</mat-label>
            <input matInput #search>
        </mat-form-field>
    </div>
    <div class="scroll-container">
        <ng-container *ngIf="!loading else loadingReferences">
            <table mat-table *ngIf="(references$ | async) as references; else loadingReferences" [dataSource]="references.data">
                <!-- citation -->
                <ng-container matColumnDef="citation">
                    <th mat-header-cell *matHeaderCellDef>Source Name</th>
                    <td mat-cell *matCellDef="let reference">{{reference.source_name}}</td>
                </ng-container>
                <!-- reference -->
                <ng-container matColumnDef="reference">
                    <th mat-header-cell *matHeaderCellDef>Reference</th>
                    <td mat-cell *matCellDef="let reference">
                        <span *ngIf="!reference.url">{{reference.description}}</span>
                        <a *ngIf="reference.url" class="external-link" [href]="reference.url" target="_blank">{{reference.description}}</a>
                    </td>
                </ng-container>
                <!-- count -->
                <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef>Count</th>
                    <td mat-cell *matCellDef="let reference">{{referenceCount(reference.source_name)}}</td>
                </ng-container>
                <!-- copy -->
                <ng-container matColumnDef="copy">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- nothing in header -->
                    </th>
                    <td mat-cell *matCellDef="let reference" class="icon-cell"
                        [cdkCopyToClipboard]="getCitation(reference.source_name)"
                        (click)="snackbar.open('Citation copied to clipboard', null, {duration: 500})">
                        <mat-icon matTooltip="copy citation" aria-hidden="false" aria-label="copy">content_copy</mat-icon>
                    </td>
                </ng-container>
                <!-- edit -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>
                        <!-- nothing in header -->
                    </th>
                    <td mat-cell *matCellDef="let reference" class="icon-cell"
                        (click)="openReference(false, reference)">
                        <mat-icon matTooltip="edit reference" aria-hidden="false" aria-label="edit">edit</mat-icon>
                    </td>
                </ng-container>
                <!-- row definitions -->
                <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
                <tr mat-row *matRowDef="let row; columns: columnDefs;"></tr>
            </table>
        </ng-container>
        <ng-template #loadingReferences>
            <app-loading-overlay></app-loading-overlay>
        </ng-template>
        <mat-paginator [length]="totalReferences" pageSize="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="applyControls()"></mat-paginator>
    </div>
</div>