<div class="collection-manager">
  <h1>Collections</h1>
  <mat-tab-group dynamicHeight mat-stretch-tabs>
    <mat-tab label="collection indexes">
      <ng-template matTabContent>
        <div class="tab-content">
          <div class="tab-actions">
            <button
              *ngIf="isAdmin"
              mat-raised-button
              class="extended-button"
              color="primary"
              routerLink="import-collection-index">
              <mat-icon aria-label="add">add</mat-icon>
              <span class="text-label">Add a collection index</span>
            </button>
          </div>
          <app-collection-index-list></app-collection-index-list>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="imported collections">
      <ng-template matTabContent>
        <div class="tab-content">
          <div class="tab-actions">
            <button
              *ngIf="isAdmin"
              mat-raised-button
              class="extended-button"
              color="primary"
              routerLink="import-collection">
              <mat-icon aria-label="import">get_app</mat-icon>
              <span class="text-label">import a collection</span>
            </button>
          </div>
          <app-collection-list
            *ngIf="collections; else loadingImported"
            [config]="{
              mode: 'imported',
              collections: collections,
            }"></app-collection-list>
          <ng-template #loadingImported>
            <app-loading-overlay></app-loading-overlay>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="my collections">
      <ng-template matTabContent>
        <div class="tab-content">
          <div class="tab-actions">
            <button
              *ngIf="isAdmin"
              mat-raised-button
              class="extended-button"
              color="primary"
              [routerLink]="['/collection/new']"
              [queryParams]="{ editing: true }">
              <mat-icon aria-label="edit">edit</mat-icon>
              <span class="text-label">create a collection</span>
            </button>
          </div>
          <app-collection-list
            *ngIf="collections; else loadingCreated"
            [config]="{
              mode: 'created',
              collections: collections,
            }"></app-collection-list>
          <ng-template #loadingCreated>
            <app-loading-overlay></app-loading-overlay>
          </ng-template>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
