@use '../../../../../style/globals';
@use '../../../../../style/colors';

.collection-manager {
  h1 {
    text-align: center;
    margin-top: 0;
  }
  width: 45em;
  max-width: 100%;
  margin: 0 auto;
  .mat-mdc-tab-header {
    .dark & {
      border-bottom: 1px solid colors.border-color(dark);
    }
    .light & {
      border-bottom: 1px solid colors.border-color(light);
    }
    .mdc-tab__text-label {
      @extend .text-label;
      letter-spacing: normal;
    }
  }
  .mat-mdc-tab-body {
    .tab-actions {
      text-align: center;
      padding: 25px 0;
    }
  }
}
