<div class="attackid-edit">
  <mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input
      matInput
      [required]="config.required ? config.required : false"
      [(ngModel)]="config.object['attackID']"
      (ngModelChange)="attackIdChanged()"
      (blur)="formatAttackId()" />
    <button
      *ngIf="
        config.object['supportsAttackID'] &&
        config.object['attackType'] !== 'matrix'
      "
      mat-icon-button
      matSuffix
      (click)="handleGenerateClick()"
      matTooltip="Generate a unique ID, with your organization's namespace settings"
      aria-label="Generate ID">
      <mat-icon>autorenew</mat-icon>
    </button>
  </mat-form-field>
</div>
