<div class="list-page">
    <div class="list-page-header">
        <h1 class="with-help-icon">
            groups
            <mat-icon class="help-icon" aria-label="help" cdkDrag #popoverTrigger2="mtxPopoverTrigger" [mtxPopoverTriggerFor]="popover" mtxPopoverTriggerOn="hover">
                help_outline
            </mat-icon>
            <mtx-popover #popover="mtxPopover" [position]="['below', 'center']" enterDelay="25" leaveDelay="25">
                <div style="max-width: 26em;">
                    <span class="help-content">Groups are sets of related intrusion activity that are tracked by a common name in the security community. Overlaps between names based on publicly reported associations are tracked using &quot;Associated Groups&quot; (also known as &quot;Aliases&quot;).</span>
                </div>
            </mtx-popover>
        </h1>

        <div class="button-group" *ngIf="canEdit">
            <button mat-raised-button class="extended-button" color="primary" [routerLink]="['/group/new']" [queryParams]="{editing: true}">
                <mat-icon>create</mat-icon> <span class="text-label">create a group</span>
            </button>
        </div>
    </div>
    <app-stix-list [config]="{type: 'group', 'showLinks': true, 'showUserSearch': true}"></app-stix-list>
</div>