.ordered-list-view {
    ul.list-view {
        margin: 0;
        padding: 0;
        li.list-item {
            display: inline-block;
            margin-right: 3px;
            &:not(:last-child):after {
                content: ";";
                margin-right: 3px;
            }
        }
    }
}