<div class="list">
    <div *ngIf="list.length > 0 else nothingHere">
        <div class="box" *ngFor="let stixID of list">
            <a *ngIf="(config.clickBehavior && config.clickBehavior == 'link') else label" rel="noopener nofollow" [href]="internalLink(stixID)" target="_blank">{{getLabel(stixID)}}</a>
            <ng-template #label>{{getLabel(stixID)}}</ng-template>
        </div>
    </div>
    <ng-template #nothingHere>
        <app-empty-list-marker [checkAgain]="false"></app-empty-list-marker>
    </ng-template>
</div>