<div class="collection-import import-workflow">
    <mat-vertical-stepper linear>
        <mat-step label="specify collection">
            <div *ngIf="!loadingStep1 else loadingStep1_marker">
                <div class="import-options">
                    <mat-form-field #fileInput appearance="outline">
                        <mat-label>specify a URL</mat-label>
                        <input matInput [(ngModel)]="url" (keyup.enter)="url.length > 0 ? previewCollection() : null">
                        <mat-icon matSuffix>cloud_download</mat-icon>
                    </mat-form-field>
                    <div class="spacer">or</div>
                    <mat-form-field appearance="outline">
                        <mat-label>upload a file</mat-label>
                        <ngx-mat-file-input [disabled]="url.length > 0"  accept="application/json, .csv, .xlsx" (change)="getCollectionFromFile($event)"></ngx-mat-file-input>
                        <mat-icon matSuffix>attach_file</mat-icon>
                    </mat-form-field>
                </div>
                <div class="action-bar">
                    <button mat-raised-button color="primary" (click)="getCollectionFromURL()" *ngIf="url.length > 0">
                        <span class="text-label">preview</span>
                    </button>
                </div>
            </div>
            <ng-template #loadingStep1_marker>
                <app-loading-overlay message="loading collection preview"></app-loading-overlay>
            </ng-template>
        </mat-step>
        <mat-step label="review contents">
            <app-collection-import-error *ngIf="import_errors && !loadingStep2" [error]="import_errors" (onCancel)="cancelImport()"></app-collection-import-error>
            <div *ngIf="select && !loadingStep2 else loadingStep2_marker">
                <p class="nomargin">
                    Below are the objects of the collection as compared to the current contents of your workbench. Select the objects you want to import into your knowledge base.
                </p>
                <app-collection-import-summary [config]="{
                    'object_import_categories': object_import_categories,
                    'select': select
                }"></app-collection-import-summary>
                <div class="center">
                    <p class="text-deemphasis">
                        Importing {{select.selected.length}}/{{changed_ids.length}} objects
                    </p>
                    <div class="action-bar nomargin">
                        <button mat-stroked-button (click)="selectAll()">select all</button>
                        <button mat-stroked-button (click)="deselectAll()">deselect all</button>
                    </div>
                    <div class="action-bar">
                        <button mat-mini-fab class="extended-fab-button"  color="primary" (click)="import()">
                            <mat-icon aria-label="add">save_alt</mat-icon>
                            <span class="text-label">{{import_errors ? 'Proceed with ' : ''}} Import</span>
                        </button>
                    </div>
                </div>
            </div>
            <ng-template #loadingStep2_marker>
                <app-loading-overlay *ngIf="loadingStep2" message="importing collection"></app-loading-overlay>
            </ng-template>
        </mat-step>
        <mat-step label="done">
            <div *ngIf="select">
                <h3>Success! The collection has been imported into your workbench. </h3>
                <p>
                    {{successfully_saved.size}} new objects were added. You can review the imported objects at any time on the <span class="text-label">imported collections</span> section of the collection page.
                </p>
                <ng-container *ngIf="save_errors.length > 0">
                    <p>
                        {{save_errors.length}} objects could not be imported.
                    </p>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Import errors
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button (click)="downloadErrorLog()"><mat-icon>download</mat-icon> download this list</button>
                        <code><pre class="error-log">{{save_errors | json}}</pre></code>
                    </mat-expansion-panel>
                </ng-container>
                <p>
                    <button mat-raised-button color="primary" routerLink="/collection">back to collections</button>
                </p>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>
