@import "../../../../../../style/globals";

.collection-import {
    width: 45em;
    max-width: 100%;
    margin: 0 auto;
    .form-row.collectionInfo {
        mat-form-field {
            flex-grow: 1;
        }
        .or-marker {
            margin-top: 5px; // padding to align with inputs
            padding: 0 25px;
        }
    }
    .mat-vertical-stepper-header {
        pointer-events: none;
    }
}