@import "../../../../../../style/globals";
.collection-import {
    p.nomargin { margin-top: 0; }
    .mat-expansion-panel {
        @include expansion-panel(True);
    }
    .import-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .spacer {
            @extend .text-label;
            @extend .text-deemphasis;
            padding-bottom: 1.34375em;
            margin: 0 10px;
            flex-shrink: 1;
        }
        .mat-form-field {
            flex-grow: 1;
        }
    }
    .error-log {
        overflow-x: scroll;
        overflow-y: auto;
        max-height: 30em;
    }
}