<div class="collection-import">
    <mat-vertical-stepper linear>
        <mat-step label="specify collection" [stepControl]="collectionInfo">
            <form [formGroup]="collectionInfo">
                <div class="form-row collectionInfo">
                    <mat-form-field class="url" appearance="outline">
                        <mat-label>specify a URL</mat-label>
                        <input matInput formControlName="url">
                        <mat-icon matSuffix>cloud_download</mat-icon>
                    </mat-form-field>
                    <div class="or-marker">
                        <h3>or</h3>
                    </div>
                    <mat-form-field appearance="outline">
                        <mat-label>upload a file</mat-label>
                        <ngx-mat-file-input formControlName="upload"></ngx-mat-file-input>
                        <mat-icon matSuffix>attach_file</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-row align-right">
                    <button mat-stroked-button matStepperNext [disabled]="collectionInfo.hasError('atLeastOne')">next</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="review contents">
            TODO review contents
        </mat-step>
        <mat-step label="import">
            TODO import button
        </mat-step>
    </mat-vertical-stepper>
</div>