.stix-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    .material-icons{
        font-size: 13px;
    }
    .mat-icon {
        height: 13px;
        width: 15px;
    }
}