<div class="stix-list">
  <div class="table-container">
    <!-- -------- -->
    <!-- CONTROLS -->
    <!-- -------- -->
    <div
      class="controls"
      [ngStyle]="{ visibility: showControls ? 'visible' : 'hidden' }">
      <div
        class="input-group"
        [class.bordered]="config.type && config.type === 'relationship'"
        [ngStyle]="{ height: showControls ? 'inherit' : '0px' }">
        <!-- show search/filter options for non-relationship objects -->
        <ng-container *ngIf="!(config.type && config.type === 'relationship')">
          <mat-form-field class="search" appearance="fill">
            <mat-label>search</mat-label>
            <input matInput #search [(ngModel)]="searchQuery" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>options</mat-label>
            <mat-select multiple panelWidth="" [(ngModel)]="filter">
              <mat-optgroup label="workflow status">
                <mat-option
                  [value]="'status.work-in-progress'"
                  (onSelectionChange)="
                    onStatusOptionChange($event, 'status.work-in-progress')
                  ">
                  show only work in progress
                </mat-option>
                <mat-option
                  [value]="'status.awaiting-review'"
                  (onSelectionChange)="
                    onStatusOptionChange($event, 'status.awaiting-review')
                  ">
                  show only awaiting review
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </div>

    <!-- ----- -->
    <!-- TABLE -->
    <!-- ----- -->
    <div
      class="scroll-container"
      *ngIf="data$ | async as data; else loading"
      @fadeIn>
      <table
        mat-table
        multiTemplateDataRows
        *ngIf="data.data.length > 0; else noObjects"
        [dataSource]="data.data">
        <caption hidden aria-hidden="false" aria-label="object table">
          Object List
        </caption>

        <!-- column definitions -->
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of tableColumns"
          [sticky]="tableColumns_settings.get(column)['sticky']">
          <th mat-header-cell *matHeaderCellDef class="nowrap">
            {{ tableColumns_settings.get(column)['label'] }}
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            [ngClass]="tableColumns_settings.get(column)['classes']"
            (click)="rowClick(element)"
            [class.clickable]="
              !config.clickBehavior || config.clickBehavior !== 'none'
            ">
            <app-version-view
              *ngIf="tableColumns_settings.get(column)['display'] === 'version'"
              [config]="{ object: element, field: column }"></app-version-view>

            <div
              *ngIf="
                tableColumns_settings.get(column)['display'] === 'timestamp'
              ">
              <app-identity-property
                [config]="{
                  object: element,
                  field: column + '_by',
                  timeField: column,
                }"></app-identity-property>
            </div>

            <div
              class="width-limited-sm"
              *ngIf="tableColumns_settings.get(column)['display'] === 'list'">
              <app-list-view
                [config]="{
                  object: element,
                  field: column,
                  mode: 'view',
                  wrap: false,
                }"></app-list-view>
            </div>

            <div
              class="width-limited-sm"
              *ngIf="
                tableColumns_settings.get(column)['display'] ===
                'related_ref_list'
              ">
              <app-list-view
                [config]="{
                  object: element,
                  field: column,
                  mode: 'view',
                  wrap: true,
                  objectProperty:
                    tableColumns_settings.get(column)['relatedRefProperty'],
                }"></app-list-view>
            </div>

            <div
              *ngIf="
                tableColumns_settings.get(column)['display'] === 'descriptive'
              ">
              <app-descriptive-view
                [config]="{
                  object: element,
                  mode: 'view',
                  field: column,
                  firstParagraphOnly: true,
                }"></app-descriptive-view>
            </div>

            <div
              *ngIf="tableColumns_settings.get(column)['display'] === 'icon'">
              <app-icon-view
                [config]="{ object: element, field: column }"></app-icon-view>
            </div>

            <div
              *ngIf="tableColumns_settings.get(column)['display'] === 'plain'">
              <ng-container *ngIf="column === 'attackID'; else nonIdPlain">
                <a
                  [routerLink]="['/', element.attackType, element.stixID]"
                  (click)="$event.stopPropagation()">
                  {{ element[column] }}
                </a>
              </ng-container>

              <ng-template #nonIdPlain>
                <ng-container
                  *ngIf="column === 'markReviewed'; else plainCellText">
                  <mat-checkbox
                    [checked]="element?.workflow?.state === 'reviewed'"
                    [disabled]="
                      element?.workflow?.state === 'reviewed' ||
                      isUpdating(element.stixID)
                    "
                    (click)="$event.stopPropagation()"
                    (change)="markReviewed(element)">
                  </mat-checkbox>
                </ng-container>
              </ng-template>

              <ng-template #plainCellText>{{ element[column] }}</ng-template>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef [ngClass]="config.select"></th>
          <td mat-cell *matCellDef="let element" [ngClass]="config.select">
            <mat-checkbox
              *ngIf="config.select && config.select === 'many'"
              color="primary"
              (click)="onSelect.emit(element); $event.stopPropagation()"
              (change)="$event ? selection.toggle(element.stixID) : null"
              [checked]="selection.isSelected(element.stixID)">
            </mat-checkbox>
            <mat-radio-button
              *ngIf="config.select && config.select === 'one'"
              color="primary"
              (click)="onSelect.emit(element); $event.stopPropagation()"
              (change)="$event ? selection.toggle(element.stixID) : null"
              [checked]="selection.isSelected(element.stixID)">
            </mat-radio-button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="tableColumns_controls.length">
            <div
              class="element-detail"
              @detailExpand
              *ngIf="expandedElement === element">
              <div class="element-description columns">
                <div class="column description">
                  <div *ngFor="let property of tableDetail">
                    <app-descriptive-view
                      [config]="{
                        object: element,
                        mode: 'view',
                        field: property.field,
                        firstParagraphOnly: true,
                      }"></app-descriptive-view>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns_controls"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: tableColumns_controls"
          class="element-row"
          [class.expanded]="expandedElement === element"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="detail-row"></tr>
      </table>

      <ng-template #noObjects>
        <app-empty-list-marker
          (onCheckAgain)="applyControls()"></app-empty-list-marker>
      </ng-template>
    </div>

    <ng-template #loading>
      <app-loading-overlay *ngIf="!data"></app-loading-overlay>
    </ng-template>

    <!-- ---------- -->
    <!-- PAGINATION -->
    <!-- ---------- -->
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      pageSize="10"
      (page)="applyControls()"
      [length]="totalObjectCount"></mat-paginator>
  </div>
</div>
