<div class="object-ref-edit labelled-box">
  <div class="content">
    @if (!loading) {
      <mat-chip-listbox>
        @for (objectRef of objectRefs; track objectRef; let i = $index) {
          <mat-chip
            [removable]="true"
            (removed)="removeRef(i)"
            (click)="editObjectRef(i)">
            {{ objectRef?.attackID }} <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        }
        <button
          class="small-icon-button"
          mat-icon-button
          aria-label="add object reference"
          matTooltip="Add object reference"
          matTooltipPosition="right"
          (click)="editObjectRef()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-chip-listbox>
    } @else {
      <span class="text-deemphasis">Loading...</span>
      <mat-spinner diameter="20"></mat-spinner>
    }
  </div>
  <span class="labelled-box-label">{{
    config.label ? config.label : config.field
  }}</span>
</div>
