<div class="stix-dialog">
  <mat-drawer-container
    class="stix-dialog-body"
    *ngIf="!loading; else loadingDisplay">
    <mat-drawer-content>
      <div class="stix-content" *ngIf="!validating">
        <mat-toolbar>
          <div class="section">
            <button
              *ngIf="prevObject"
              mat-icon-button
              class="control"
              matTooltip="back"
              [disabled]="editing"
              (click)="revertToPreviousObject()">
              <mat-icon aria-label="back">arrow_back</mat-icon>
            </button>
            <button
              mat-icon-button
              class="control"
              matTooltip="close"
              (click)="close()">
              <mat-icon aria-label="close">close</mat-icon>
            </button>
          </div>
          <div class="spacer"></div>
          <ng-container *ngIf="config.editable">
            <div class="section">
              <button
                mat-icon-button
                class="control"
                matTooltip="validate & save"
                [disabled]="!editing"
                (click)="validate()">
                <mat-icon aria-label="save">save</mat-icon>
              </button>
              <button
                *ngIf="!editing"
                mat-icon-button
                class="control"
                matTooltip="edit"
                (click)="startEditing()">
                <mat-icon aria-label="edit">edit</mat-icon>
              </button>
              <button
                *ngIf="editing"
                mat-icon-button
                class="control"
                matTooltip="discard changes & stop editing"
                (click)="discardChanges()">
                <mat-icon aria-label="discard">edit_off</mat-icon>
              </button>
              <button
                *ngIf="canDeprecate"
                mat-icon-button
                matTooltip="{{ isDeprecated ? 'undeprecate' : 'deprecate' }}"
                class="control"
                [disabled]="editing"
                (click)="deprecateChanged()">
                <mat-icon
                  aria-label="{{ isDeprecated ? 'undeprecate' : 'deprecate' }}"
                  >{{ isDeprecated ? 'unarchive' : 'archive' }}</mat-icon
                >
              </button>
              <div
                *ngIf="canDelete"
                class="button-tooltip"
                [matTooltip]="
                  editing && !config.is_new
                    ? !deletable
                      ? 'an object with relationships cannot be deleted'
                      : 'delete'
                    : ''
                ">
                <button
                  mat-icon-button
                  class="control"
                  [disabled]="config.is_new || !editing || !deletable"
                  (click)="delete()">
                  <mat-icon aria-label="delete">delete</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
          <div class="section">
            <button
              *ngIf="config.sidebarControl !== 'disable'"
              mat-icon-button
              class="control"
              matTooltip="view sidebar"
              (click)="toggleSidebar()">
              <mat-icon aria-label="open sidebar">view_sidebar</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <div class="page-padding">
          @switch (stixType) {
            @case ('relationship') {
              <app-relationship-view
                [config]="config"
                (onVersionChange)="versionChange($event)"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()"
                (changeDialogToObject)="changeDialogObject($event)"
                (closeDialogEvent)="close()">
              </app-relationship-view>
            }
            @case ('intrusion-set') {
              <app-group-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-group-view>
            }
            @case ('campaign') {
              <app-campaign-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-campaign-view>
            }
            @case ('malware') {
              <app-software-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-software-view>
            }
            @case ('tool') {
              <app-software-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-software-view>
            }
            @case ('x-mitre-matrix') {
              <app-matrix-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-matrix-view>
            }
            @case ('course-of-action') {
              <app-mitigation-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-mitigation-view>
            }
            @case ('attack-pattern') {
              <app-technique-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-technique-view>
            }
            @case ('x-mitre-data-source') {
              <app-data-source-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-data-source-view>
            }
            @case ('x-mitre-data-component') {
              <app-data-component-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-data-component-view>
            }
            @case ('x-mitre-asset') {
              <app-asset-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-asset-view>
            }
            @case ('x-mitre-tactic') {
              <app-tactic-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-tactic-view>
            }
            @case ('x-mitre-collection') {
              <app-collection-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-collection-view>
            }
            @case ('x-mitre-detection-strategy') {
              <app-detection-strategy-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-detection-strategy-view>
            }
            @case ('x-mitre-analytic') {
              <app-analytic-view
                [config]="config"
                (onOpenHistory)="openHistory()"
                (onOpenNotes)="openNotes()">
              </app-analytic-view>
            }
          }
        </div>
      </div>
      <div class="validation page-padding grid spacing-20" *ngIf="validating">
        <div class="row">
          <div class="column validation">
            <h3>Validation</h3>
            <div *ngIf="validation; else validating">
              <app-validation-results
                [validation]="validation"></app-validation-results>
            </div>
            <ng-template #validating>
              <app-loading-overlay></app-loading-overlay>
            </ng-template>
          </div>
          <div class="column narrow save-buttons">
            <button
              mat-stroked-button
              [disabled]="!saveEnabled"
              (click)="save()">
              save
            </button>
            <button mat-button (click)="cancelValidation()">cancel</button>
          </div>
        </div>
      </div>
    </mat-drawer-content>
    <mat-drawer mode="side" position="end" #sidebar [opened]="sidebarOpened">
      <h3 class="references-label">References</h3>
      <app-reference-sidebar [editable]="false"></app-reference-sidebar>
    </mat-drawer>
  </mat-drawer-container>
  <ng-template #loadingDisplay>
    <app-loading-overlay></app-loading-overlay>
  </ng-template>
</div>
