<div class="stix-card">
    <div class="card-header">
        <div class="title-block">
            {{relationship.source_ref}}
        </div>
        <div class="title-block active">
            {{relationship.relationship_type}}
        </div>
        <div class="title-block">
            {{relationship.target_ref}}
        </div>
    </div>
    <div class="card-body">
        <div class="card-section">
            <!-- {{relationship.description}} -->
            {{summarize(relationship.description)}}
        </div>
    </div>
</div>