@import "../../../../../style/colors.scss";
$sizeunit: 14px;

.matrix.flat {
  border-collapse: collapse;
  padding: 0;
  tr.tactic {
    margin-left: 14px;
    border-bottom: 1px solid;
    td {
      padding: 0;
      vertical-align: middle;
      min-width: 180px;
    }
  }

  .tactic {
    .techniques-table {
      border-collapse: collapse;
      width: 100%;
      tr, td {
        padding: 0;
      }
      tr {
          height: 1px;
      }
    }
    .supertechnique, .regularTechnique {
      border-collapse: collapse;
      width: 100%;
      padding: 0;
      margin: 0;
      td {
          padding: 0;
          vertical-align: top;
      }
    }
    .subtechniques {
      &.hidden {
        display: none;
      }
      .subtechnique {
          height: 100%;
          min-width: 150px;
      }
    }
  }
}
.matrix.flat .tactic .supertechnique {
  vertical-align: middle !important;
}
.subtechniques-row.hidden {
  display: none;
}
.handle {
      color: white;
      font-family: roboto-regular;
      transform: rotate(-90deg);
      width: 12px;
      height: 12px;
      font-size: 16px;
      line-height: 12px;
    }

.angle-top {
  position: relative;
  border-right: 3px solid #707070;
  svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: #707070;
  }
}
td.sidebar {
  border: 1px solid #707070 ;
  border-right: 3px solid #707070 ;
}
