.nav-tab-label {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  display: inline-block;
  padding: 0 8px;
}

.mat-mdc-tab-header .mat-mdc-tab-label .nav-tab-label {
  color: inherit;
}

.details-tpl-wrapper {
  margin-top: 20px;
}
