<div class="matrix-view view-page grid spacing-12">
    <div class="row">
        <div class="col">
            <app-name-property [config]="{
                mode: editing? 'edit' : 'view',
                object: matrix
            }"></app-name-property>
            <app-subheading [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: matrix
            }"></app-attackid-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: matrix
            }"></app-version-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: matrix,
                field: 'description',
                firstParagraphOnly: false,
                referencesField: matrix.external_references,
                label: 'Description'
            }"></app-descriptive-property>
        </div>
    </div>
  </div>
  <div *ngIf="config.showRelationships || !config.hasOwnProperty('showRelationships')">
        <div class="row">
            <div class="col">
                <h2 class="section-header">MATRIX</h2>
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col">
        <!-- MATRIX -->
        <ng-container *ngIf="all_tactics else loadingDisplay">
          <ng-container *ngIf="editing else matrixView">
            <app-ordered-list-property class="grow-to-row"
            [config]="{
              mode: 'edit',
              field: 'name',
              globalObjects: all_tactics,
              object: matrix,
              objectOrderedListField: 'tactic_refs',
              type: 'tactic',
              clickBehavior: 'link'
            }"></app-ordered-list-property>
          </ng-container>
          <ng-template #matrixView>
            <div class="matrix-button-row">
              <mat-form-field appearance="outline">
                <mat-label>Matrix View</mat-label>
                <mat-select [(value)]="view">
                  <mat-option value="side">Side</mat-option>
                  <mat-option value="flat">Flat</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-stroked-button (click)="toggleAllSubtechniquesVisible(true)">Show all subtechniques</button>
              <button mat-stroked-button (click)="toggleAllSubtechniquesVisible(false)">Hide all subtechniques</button>
            </div>
            <ng-container *ngIf="loaded else loadingDisplay">
              <app-matrix-side *ngIf="view==='side'" [matrix]="matrix" [tactics]="all_tactics"></app-matrix-side>
              <app-matrix-flat *ngIf="view==='flat'" [matrix]="matrix" [tactics]="all_tactics"></app-matrix-flat>
            </ng-container>
            <ng-template #loadingDisplay>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
          </ng-template>
        </ng-container>

        <ng-template #loadingDisplay>
          <app-loading-overlay></app-loading-overlay>
      </ng-template>
      </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="matrix.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: editing? 'edit': 'view',
                    object: matrix,
                    referencesField: matrix.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>

