@use 'sass:math' as math;
@import "../../../../style/layouts/matrix.scss";
@import "../../../../style/colors.scss";

.technique-cell {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: $sizeunit - 1px;
  line-height: $sizeunit;
  min-width: $sizeunit;
  min-height: $sizeunit;
  border-collapse: collapse;
  >div {
    padding: math.div($sizeunit, 2) 3px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  &.showID:not(.showName) {
    text-align: center;
  }

  span {
    margin: 0;
    padding-bottom: 1px;
    line-height: 18px;
  }
  :hover span {
    color: color(balanced-blue);
    border-bottom: 1px solid color(balanced-blue);
    cursor: pointer;
  }
}
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  bottom: -.5em;
  left: 0em
}

// custom styling for tooltip
.technique-cell-tooltip {
  position: relative  !important;
  font-size: small !important;
  .dark & {background-color:#707070 !important;}
  .light & {background-color: #000000c8 !important;}
  bottom: -.5rem !important;
  overflow: initial !important;
  margin-bottom: 1rem !important;
  &::after {
    width: 0 !important;
    height: 0 !important;
    content: '' !important;
    position: absolute !important;
    border-left: 0.5rem solid transparent !important;
    border-right: 0.5rem solid transparent !important;
    .dark & { border-bottom: 0.5rem solid #707070 !important;}
    .light & {border-bottom: 0.5rem solid #000000c8 !important;}
    bottom: -0.5rem !important;
      right: calc(50% - 0.5rem) !important;
      transform: rotate(180deg) !important;
  }
}
