<div class="technique-cell">
  <div  (click)="onLeftClick($event)"
        (contextmenu)="onRightClick($event)"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseLeave()">
    <span>
      {{technique.name}}
    </span>
  </div>
  <app-tooltip *ngIf="showTooltip" [technique]="technique" [tactic]="tactic" [viewModel]="viewModel"></app-tooltip>
  <app-contextmenu *ngIf="showContextMenu" [technique]="technique" [tactic]="tactic" [viewModel]="viewModel" (close)="closeContextMenu(); onMouseLeave()"></app-contextmenu>
</div>
