<div class="list-page">
    <div class="list-page-header">
        <h1 class="with-help-icon">
            tactics
            <mat-icon class="help-icon" aria-label="help" cdkDrag #popoverTrigger2="mtxPopoverTrigger" [mtxPopoverTriggerFor]="popover" mtxPopoverTriggerOn="hover">
                help_outline
            </mat-icon>
            <mtx-popover #popover="mtxPopover" [position]="['below', 'center']" enterDelay="25" leaveDelay="25">
                <div style="max-width: 26em;">
                    <span class="help-content">Tactics represent the &quot;why&quot; of an ATT&CK technique or sub-technique. It is the adversary's tactical goal: the reason for performing an action. For example, an adversary may want to achieve credential access.</span>
                </div>
            </mtx-popover>
        </h1>

        <div class="button-group" *ngIf="canEdit">
            <button mat-raised-button class="extended-button" color="primary" [routerLink]="['/tactic/new']" [queryParams]="{editing: true}">
                <mat-icon>create</mat-icon> <span class="text-label">create a tactic</span>
            </button>
        </div>
    </div>
    <app-stix-list [config]="{'type': 'tactic', 'showLinks': true, 'showUserSearch': true}"></app-stix-list>
</div>