@use '../../../style/globals';
@use '../../../style/colors';
@use '../../../style/layouts/button-slide-left';

.landing-page {
  max-width: 50em;
  margin: 0 auto;

  .learnmore {
    text-align: center;
  }

  .learn-block,
  h2 {
    padding: 10px 20px;
    text-align: justify;
  }

  .explore-label {
    .dark & {
      border-bottom: 1px solid colors.border-color(dark);
    }
    .light & {
      border-bottom: 1px solid colors.border-color(light);
    }
  }

  .explore-link,
  .explore-label {
    padding: 10px 20px;
    margin-bottom: 0;
  }
  p,
  h1 {
    margin-top: 0;
  }
  h2 {
    margin: 0;
  }

  .explore-link {
    justify-content: center;
    @include button-slide-left.button-slide-left(primary);
  }
  .explore-links .disabled {
    cursor: not-allowed;
  }
  .col.border-left {
    .dark & {
      border-left: 1px solid colors.border-color(dark);
    }
    .light & {
      border-left: 1px solid colors.border-color(light);
    }
  }

  .admin-link {
    margin-top: 40px;
    .mat-badge-content.mat-badge-active {
      color: colors.on-color(pending);
      background-color: colors.color(pending);
    }
  }
}
