<ul
  class="list-view"
  [class.wrap]="wrap"
  [matTooltip]="tooltip"
  [matTooltipDisabled]="wrap"
  matTooltipPosition="above">
  <li class="list-item" *ngFor="let value of values">
    @if (showLink && config.objectProperty) {
      <a
        class="external-link"
        [href]="internalLink(value)"
        target="_blank"
        rel="nofollow noopener">
        {{ value[config.objectProperty] }}
      </a>
    } @else {
      {{ config.objectProperty ? value[config.objectProperty] : value }}
    }
  </li>
</ul>
