@use '../../../../../style/globals';

ul.list-view {
  margin: 0;
  padding: 0;
  &:not(.wrap) {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  li.list-item {
    display: inline-block;
    &:not(:last-child):after {
      content: ';';
      margin-right: 3px;
      margin-left: -3px;
    }
  }
}
