<div class="grid spacing-12 view-page relationship-view">
    <div class="row">
        <div class="col">
            <h1>{{relationship.source_name}} <span class="text-deemphasis">{{relationship.relationship_type}}</span> {{relationship.target_name}}</h1>
            <app-subheading [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row" *ngIf="config.mode == 'view'">
        <!-- view source and target -->
        <!-- SOURCE ID -->
        <div class="col">
            <div class="labelled-box grow-to-row">
                <div class="content">
                    {{relationship.source_ID}}
                </div>
                <label>source id</label>
            </div>
        </div>
        <!-- TARGET ID -->
        <div class="col">
            <div class="labelled-box grow-to-row">
                <div class="content">
                    {{relationship.target_ID}}
                </div>
                <label>target id</label>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="config.mode == 'edit'">
        <!-- edit source/target -->
        <div class="col">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            source object
                        </mat-panel-title>
                        <ng-template matExpansionPanelContent>
                            <mat-form-field appearance="outline">
                                <mat-label>source type</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let objType of relationship.valid_source_types" [value]="objType">{{objType}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-template>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            target object
                        </mat-panel-title>
                        <ng-template matExpansionPanelContent>
                            <mat-form-field appearance="outline">
                                <mat-label>target type</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let objType of relationship.valid_target_types" [value]="objType">{{objType}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-template>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: 'view',
                object: relationship,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: relationship.external_references,
                label: 'description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="relationship.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: 'view',
                    object: relationship,
                    referencesField: relationship.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>