@import "../../../../../style/globals";
.relationship-view {
    .mat-expansion-panel {
        @include expansion-panel(true);
    }
    .type_select {
        width: 100%;
    }
    h1 {
        font-size: 24px;
    }
    .centered {
        justify-content: center;
        display:flex; 
        align-items:center;
    }
    .pad-top {
        padding-top: 12px;
    }
    .text-deemphasis h3 {
        margin-bottom: 0px;
    }
    .mat-icon {
        vertical-align: middle;
    }
    a {
        cursor: pointer;
    }
}