<div class="grid spacing-12 view-page relationship-view" *ngIf="loaded else loading">
    <div class="row">
        <div class="col">
            <h1 *ngIf="!relationship.updating_refs; else updatingRefs">{{relationship.source_name}} <span class="text-deemphasis">{{relationship.relationship_type}}</span> {{relationship.target_name}}</h1>
            <h3 class="status" *ngIf="!relationship.updating_refs; else updatingRefs">
                <span class="warning-text" *ngIf="config.object['deprecated']">deprecated</span>
                <span class="warning-text" *ngIf="config.object['revoked'] && loaded">revoked by: {{target_obj.stix.name}}</span>
            </h3>
            <ng-template #updatingRefs>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
            <app-subheading *ngIf="config.mode != 'edit'" [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row" *ngIf="config.mode == 'view'">
        <!-- view source and target -->
        <!-- SOURCE ID -->
        <div class="col" *ngIf="relationship.source_ID">
            <div class="labelled-box grow-to-row">
                <div class="content">
                    {{relationship.source_ID}}
                </div>
                <label>source id</label>
            </div>
        </div>
        <!-- TARGET ID -->
        <div class="col">
            <div class="labelled-box grow-to-row">
                <div class="content">
                    {{relationship.target_ID}}
                </div>
                <label>target id</label>
            </div>
        </div>
    </div>
    <ng-container *ngIf="config.mode == 'edit'">
        <div class="row">
            <!-- edit source/target -->
            <div class="col">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="relationship.target_object && !relationship.source_object" class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span *ngIf="!relationship.source_object">select a source object</span>
                                <span *ngIf="relationship.source_object">
                                    {{relationship.source_name}}
                                    <span class="text-deemphasis">{{getObjectDetails(relationship.source_object)}}</span>
                                </span>
                            </mat-panel-title>
                            <ng-template matExpansionPanelContent>
                                <mat-form-field appearance="outline" class="type_select">
                                    <mat-label>source type</mat-label>
                                    <mat-select (selectionChange)="refresh_lists()" [(ngModel)]="source_type">
                                        <mat-option *ngFor="let objType of relationship.valid_source_types" [value]="objType">{{objType}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <app-stix-list *ngIf="refresh && source_type" #source_select  (onSelect)="setSourceObject($event)" [config]="{
                                    'type': source_type,
                                    'select': 'one'
                                }"></app-stix-list>
                            </ng-template>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="relationship.source_object && !relationship.target_object" class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span *ngIf="!relationship.target_object">select a target object</span>
                                <span *ngIf="relationship.target_object">
                                    {{relationship.target_name}}
                                    <span class="text-deemphasis">{{getObjectDetails(relationship.target_object)}}</span>
                                </span>
                            </mat-panel-title>
                            <ng-template matExpansionPanelContent>
                                <mat-form-field appearance="outline" class="type_select">
                                    <mat-label>target type</mat-label>
                                    <mat-select (selectionChange)="refresh_lists()" [(ngModel)]="target_type">
                                        <mat-option *ngFor="let objType of relationship.valid_target_types" [value]="objType">{{objType}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <app-stix-list *ngIf="refresh && target_type" #target_select (onSelect)="setTargetObject($event)" [config]="{
                                    'type': target_type,
                                    'select': 'one'
                                }"></app-stix-list>
                            </ng-template>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <ng-container *ngIf="config.is_new">
            <!-- source object version -->
            <h4 *ngIf="relationship.source_object && source_type !== 'data-component'" class="section-header">Update version of {{relationship.source_name}}?</h4>
            <div class="row" *ngIf="relationship.source_object && source_type !== 'data-component'">
                <div class="col">
                    <div class="labelled-box grow-to-row">
                        <div class="content no-label">
                            <mat-checkbox [(ngModel)]="source_version.minor" (change)="source_version.major=false; onSourceVersionChange($event)">
                                Minor version update
                                <span class="text-deemphasis">(v{{relationship.source_object['stix'].x_mitre_version}} <mat-icon inline="true">east</mat-icon> v{{nextMinorVersion(relationship.source_object)}})</span>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="labelled-box grow-to-row">
                        <div class="content no-label">
                            <mat-checkbox [(ngModel)]="source_version.major" (change)="source_version.minor=false; onSourceVersionChange($event)">
                                Major version update
                                <span class="text-deemphasis">(v{{relationship.source_object['stix'].x_mitre_version}} <mat-icon inline="true">east</mat-icon> v{{nextMajorVersion(relationship.source_object)}})</span>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <!-- target object version -->
            <h4 *ngIf="relationship.target_object" class="section-header">Update version of {{relationship.target_name}}?</h4>
            <div class="row" *ngIf="relationship.target_object">
                <div class="col">
                    <div class="labelled-box grow-to-row">
                        <div class="content no-label">
                            <mat-checkbox [(ngModel)]="target_version.minor" (change)="target_version.major=false; onTargetVersionChange($event)">
                                Minor version update
                                <span class="text-deemphasis">(v{{relationship.target_object['stix'].x_mitre_version}} <mat-icon inline="true">east</mat-icon> v{{nextMinorVersion(relationship.target_object)}})</span>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="labelled-box grow-to-row">
                        <div class="content no-label">
                            <mat-checkbox [(ngModel)]="target_version.major" (change)="target_version.minor=false; onTargetVersionChange($event)">
                                Major version update
                                <span class="text-deemphasis">(v{{relationship.target_object['stix'].x_mitre_version}} <mat-icon inline="true">east</mat-icon> v{{nextMajorVersion(relationship.target_object)}})</span>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="relationship.relationship_type != 'subtechnique-of'">
        <div class="row">
            <div class="col">
                <!-- DESCRIPTION -->
                <app-descriptive-property [config]="{
                    mode: config.mode == 'edit' ? 'edit' : 'view',
                    object: relationship,
                    field: 'description',
                    firstParagraphOnly: false, 
                    referencesField: relationship.external_references,
                    label: 'Description'
                }"></app-descriptive-property>
            </div>
        </div>
        <!-- EXTERNAL REFERENCES -->
        <div *ngIf="relationship.external_references.list().length > 0">
            <div class="row">
                <div class="col">
                    <h2 class="section-header">References</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <app-external-references-property [config]="{
                        mode: editing? 'edit': 'view',
                        object: relationship,
                        referencesField: relationship.external_references
                    }"></app-external-references-property>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #loading>
    <app-loading-overlay></app-loading-overlay>
</ng-template>