<div>
    <div class="view-page grid spacing-20">
        <div class="row">
            <div class="col">
                <h1>Organization Settings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>Organization Identity</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Your organization identity is used for attribution of edits you make to objects in the knowledge
                    base.
                    Objects you create will be marked with your organization as the creator, new versions of existing
                    objects will likewise be marked with your organization as the modifier.
                </p>
                <p>
                    Organization identity will be shown to anyone downloading collections that you publish. Updates to
                    your organization identity will automatically update the contents of your knowledge base, but
                    published collections will not be affected.
                </p>
            </div>
        </div>
        <div *ngIf="organizationIdentity else loadingIdentity" class="identity-edit grid">
            <hr>
            <div class="row">
                <div class="col narrow vertical-center identity-icon">
                    <app-identity-property [config]="{
						'object': {'identity': organizationIdentity},
						'field': 'identity'
					}"></app-identity-property>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>organization name</mat-label>
                        <input matInput required [(ngModel)]="organizationIdentity.name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>organization description</mat-label>
                        <input matInput [(ngModel)]="organizationIdentity.description">
                        <mat-hint>this field can be left blank if desired</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <div>
                        <button mat-stroked-button (click)="saveIdentity()" class="text-label"
                                [disabled]="organizationIdentity.name.length == 0">save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="view-page grid spacing-20">
        <div class="row">
            <div class="col">
                <h2>Namespace Settings</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    You can optionally configure a namespace for your ATT&CK IDs to prevent conflicts with objects
                    created by ATT&CK or other organizations and to uniquely identify any objects created by your
                    organization.
                </p>
                <p>
                    The namespace prefix will appear in upper-case letters and will be prepended to the
                    ATT&CK ID of newly-created objects. The namespace range is a 4-digit number that specifies the
                    lower-bound from which to start generating new object IDs.</p>
                <p>
                    Your namespace prefix will be shown to anyone who downloads collections that you publish.
                    Subsequent changes by others to those objects will not modify the prefix. Updates to your
                    organization namespace prefix will not automatically update the contents of your knowledge base
                    and will only apply to new objects.</p>
            </div>
        </div>
        <div *ngIf="organizationNamespace else loadingNamespace" class="identity-edit grid spacing-16">
            <hr>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>prefix</mat-label>
                        <input matInput [pattern]="idRegex" (keyup)="organizationNamespace.prefix = $event.target.value.toUpperCase()" [ngModel]="organizationNamespace.prefix">
                        <mat-hint>prefix must be all upper-case letters only</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>range (lower bound)</mat-label>
                        <input matInput [pattern]="rangeRegex" type="number" (blur)="onBlur()" [(ngModel)]="organizationNamespace.range_start">
                        <mat-hint>range must be 4 digits; this field can be left blank if desired</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col center">
                    <div>
                        <button [disabled]="isNamespaceInvalid" mat-stroked-button (click)="saveNamespace()" class="text-label">save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loadingIdentity>
        <app-loading-overlay message="loading organization identity"></app-loading-overlay>
    </ng-template>
    <ng-template #loadingNamespace>
        <app-loading-overlay message="loading organization namespace"></app-loading-overlay>
    </ng-template>

</div>
