@import "../../../../style/globals";
.history-timeline {
    h3 { margin: 0; }
    .timeline-controls {
        margin: 1em 0;
    }
	.history-list {
		padding: 0;
		border-radius: 4px;
        .dark & { border: 1px solid border-color(dark); }
        .light & { border: 1px solid border-color(light); }
	}
    .history-event {
		display: flex;
		justify-content: space-between;
		padding: 12px 16px;
		height: fit-content !important;
		.history-event-content {
			display: flex;
			flex-direction: column;
			flex: auto;
			box-sizing: border-box;
			overflow: hidden;
			padding-left: 16px;
		}
		.hide-overflow {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			box-sizing: border-box;
		}
        &:hover {
            .dark & { background: color-alternate(dark); }
            .light & { background: color-alternate(light); }
        }
        .dark & { border-bottom: 1px solid border-color(dark); }
        .light & { border-bottom: 1px solid border-color(light); }
        &:last-of-type {
            border-bottom: none;
        }
        &.object {
            border-left: 4px solid color(primary);
        }
        &.relationship {
            border-left: 4px solid color(secondary);
        }
		&.collection {
			border-left: 4px solid;
		}
        .event-identity {
            padding-left: 16px;
        }
    }
	// collection event checkbox style
	.tertiary .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
		.light & {
			background-color: on-color(light);
			border-color: on-color(light);
		}
		.dark & {
			background-color: on-color(dark);
			border-color: on-color(dark);
		}
	}
	.mdc-checkbox .mdc-checkbox__checkmark {
		color: color(light) !important;
	}
}