@import "../../../../../style/globals";

.subtype-view {
    @extend .labelled-box;

    table {
        width: 100%;
    }
    markdown {
        p {
            padding: 0;
            margin: 0;
        }
    }
}