@import '../../../../../style/globals';

.statement-edit {
  button {
    &:hover {
      cursor: pointer;
      .dark & {
        border-color: on-color-deemphasis(dark) !important;
      }
      .light & {
        border-color: on-color-deemphasis(light) !important;
      }
    }
  }
  .tiny-icon-button {
    margin-right: 6px;
  }
}
