@import "../../../style/globals";
.empty-list-marker {
    // width: 100%;
    @extend .text-label;
    .dark & { color: on-color-deemphasis(dark); }
    .light & { color: on-color-deemphasis(light); }
    text-align: center;
    padding: 50px;
    a { 
        cursor: pointer;
    }
}