// POPPINS
$poppins-weights: (
    100: "Thin",
    200: "ExtraLight",
    300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold",
    700: "Bold",
    800: "ExtraBold",
    900: "Black"
);
@each $weight, $weightName in $poppins-weights {
    @font-face { //normal style for weight
        font-family: 'Poppins';
        src: url("/assets/fonts/Poppins/Poppins-#{$weightName}.ttf") format("truetype");
        font-weight: $weight;
        font-style: normal;
    }
    @font-face { //italic style for weight
        font-family: 'Poppins';
        src: url("/assets/fonts/Poppins/Poppins-#{$weightName}Italic.ttf") format("truetype");
        font-weight: $weight;
        font-style: italic;
    }
}

// ROBOTO
$roboto-weights: (
    100: "Thin",
    300: "Light",
    400: "Regular",
    500: "Medium",
    700: "Bold",
    900: "Black"
);
@each $weight, $weightName in $roboto-weights {
    @font-face { //normal style for weight
        font-family: 'Roboto';
        src: url("/assets/fonts/Roboto/Roboto-#{$weightName}.ttf") format("truetype");
        font-weight: $weight;
        font-style: normal;
    }
    @font-face { //italic style for weight
        font-family: 'Roboto';
        src: url("/assets/fonts/Roboto/Roboto-#{$weightName}Italic.ttf") format("truetype");
        font-weight: $weight;
        font-style: italic;
    }
}

// ROBOTO CONDENSED
$roboto-condensed-weights: (
    300: "Light",
    400: "Regular",
    700: "Bold",
);
@each $weight, $weightName in $roboto-condensed-weights {
    @font-face { //normal style for weight
        font-family: 'Roboto Condensed';
        src: url("/assets/fonts/Roboto_Condensed/RobotoCondensed-#{$weightName}.ttf") format("truetype");
        font-weight: $weight;
        font-style: normal;
    }
    @font-face { //italic style for weight
        font-family: 'Roboto Condensed';
        src: url("/assets/fonts/Roboto_Condensed/RobotoCondensed-#{$weightName}Italic.ttf") format("truetype");
        font-weight: $weight;
        font-style: italic;
    }
}