@import "../../../../../style/globals.scss";
.statement-diff {
    .mat-badge-content.mat-badge-active {
        color: on-color(alert);
        background-color: color(alert);
    }
    &.hide-badge-text .mat-badge-content {
        color: transparent;
    }
}