<div class="release-track-page">
  <div class="release-track-header">
    <h1>
      {{ releaseTrackName }}
    </h1>
    <div class="button-group release-track-actions">
      <button mat-stroked-button (click)="onExport()">
        Export Latest
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-stroked-button (click)="onDraft()">
        Create Draft
        <mat-icon>local_see</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="onPreviewRelease()">
        Preview & Release
        <mat-icon>preview</mat-icon>
      </button>
    </div>
  </div>

  <app-stix-page-tabs
    [detailsTemplate]="detailsTpl"
    [showHistory]="false"
    [showNotes]="false"
    [customTabs]="[
      { label: 'Review', template: reviewTpl },
      { label: 'History', template: historyTpl },
      { label: 'Config', template: configTpl },
    ]"></app-stix-page-tabs>

  <ng-template #detailsTpl>
    <!-- stats summary -->
    <div class="release-track-board">
      <div class="summary-grid">
        <div class="labelled-box summary-card candidates-summary">
          <div class="content no-label">
            <p class="summary-label">
              <strong>Candidates</strong>
              <span class="text-deemphasis">(in this draft)</span>
            </p>
            <div class="summary-value view-color">
              {{ candidates.length || 0 }}
            </div>
          </div>
        </div>
        <div class="labelled-box summary-card staged-summary">
          <div class="content no-label">
            <p class="summary-label">
              <strong>Staged</strong>
              <span class="text-deemphasis">(for next release)</span>
            </p>
            <div class="summary-value promote-color">
              {{ staged.length || 0 }}
            </div>
          </div>
        </div>
        <div class="labelled-box summary-card members-summary">
          <div class="content no-label">
            <p class="summary-label">
              <strong>Members</strong>
              <span class="text-deemphasis">(published)</span>
            </p>
            <div class="summary-value">
              {{ members.length || 0 }}
            </div>
          </div>
        </div>
      </div>

      <div class="release-columns">
        <div class="release-column">
          <!-- candidates list -->
          <div class="labelled-box track-panel candidates-panel">
            <div class="content no-label">
              <div class="card-header member-list">
                <h3 class="view-color">Candidates ({{ candidates.length }})</h3>
                <div class="small-buttons">
                  <button
                    class="view-color"
                    mat-stroked-button
                    (click)="onAddCandidate()">
                    <mat-icon>add</mat-icon>
                    Add
                  </button>
                  <button
                    class="promote-color"
                    mat-stroked-button
                    (click)="onPromoteAll()">
                    Promote All
                  </button>
                </div>
              </div>

              <mat-divider></mat-divider>

              <div class="card-body list">
                <div class="empty-state" *ngIf="!candidates.length">
                  No candidates
                </div>
                <div *ngFor="let item of candidates">
                  <ng-container
                    *ngTemplateOutlet="
                      memberTpl;
                      context: {
                        $implicit: item,
                        type: 'candidate',
                      }
                    "></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="release-column">
          <!-- staged -->
          <div class="labelled-box track-panel staged-panel">
            <div class="content no-label">
              <div class="card-header member-list">
                <h3 class="promote-color">Staged ({{ staged.length }})</h3>
                <div class="small-buttons">
                  <button
                    class="demote-color"
                    mat-stroked-button
                    (click)="onDemoteAll()">
                    Demote All
                  </button>
                </div>
              </div>

              <mat-divider></mat-divider>

              <div class="card-body list">
                <div class="empty-state" *ngIf="!staged.length">
                  No staged objects
                </div>
                <div *ngFor="let item of staged">
                  <ng-container
                    *ngTemplateOutlet="
                      memberTpl;
                      context: {
                        $implicit: item,
                        type: 'staged',
                      }
                    "></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="release-column">
          <!-- members -->
          <div class="labelled-box track-panel members-panel">
            <div class="content no-label">
              <div class="card-header member-list">
                <h3>Members ({{ members.length }})</h3>
              </div>

              <mat-divider></mat-divider>

              <div class="card-body list">
                <div class="empty-state" *ngIf="!members.length">
                  No published objects
                </div>
                <div *ngFor="let item of members">
                  <ng-container
                    *ngTemplateOutlet="
                      memberTpl;
                      context: {
                        $implicit: item,
                        type: 'member',
                      }
                    "></ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #memberTpl let-item let-type="type">
    <app-release-track-object-card
      [item]="item"
      [cardType]="type"
      [laneStatus]="item.object_status"
      [showDescription]="false"
      [showDiff]="type !== 'member'"
      [showModifiedMeta]="false"
      (viewObject)="onView($event.object_ref)"
      (diffObject)="onDiff($event.object_ref)">
      <app-status-chip
        *ngIf="item.object_status"
        card-header-action
        [status]="item.object_status"></app-status-chip>

      <div
        *ngIf="type === 'candidate' || type === 'staged'"
        card-footer-action
        class="small-buttons">
        <button
          *ngIf="type === 'candidate'"
          class="promote-color"
          mat-stroked-button
          (click)="onPromote(item.object_ref)">
          <mat-icon>arrow_forward</mat-icon>
          Promote
        </button>
        <button
          *ngIf="type === 'staged'"
          class="demote-color"
          mat-stroked-button
          (click)="onDemote(item)">
          <mat-icon>arrow_back</mat-icon>
          Demote
        </button>
      </div>
    </app-release-track-object-card>
  </ng-template>

  <ng-template #reviewTpl>
    <div class="review-tpl-wrapper">
      <app-release-track-review-board
        [items]="reviewItems"
        (viewObject)="onView($event.object_ref)"
        (diffObject)="onDiff($event)"
        (bulkReview)="onBulkReviewAll($event)">
      </app-release-track-review-board>
    </div>
  </ng-template>

  <ng-template #historyTpl>
    <div class="history-tpl">TODO</div>
  </ng-template>

  <ng-template #configTpl>
    <div class="config-tpl">TODO</div>
  </ng-template>
</div>
