<div class="table-container">
  <!-- -------- -->
  <!-- CONTROLS -->
  <!-- -------- -->
  <div class="controls" *ngIf="showSearch || showFilters">
    <div class="input-group">
      <mat-form-field class="search" appearance="fill" *ngIf="showSearch">
        <mat-label>search</mat-label>
        <input matInput (keyup)="applySearch($event.target.value)" [(ngModel)]="searchQuery" />
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="showFilters">
        <mat-label>options</mat-label>
        <mat-select multiple (selectionChange)="applyFilters($event.value)">
          <mat-optgroup *ngFor="let group of filterOptions" [label]="group.name">
            <mat-option *ngFor="let filter of group.values" [value]="filter">{{
              filter
            }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- ----- -->
  <!-- TABLE -->
  <!-- ----- -->
  <div class="scroll-container" *ngIf="userAccounts; else loading">
    <table
      mat-table
      *ngIf="userAccounts.length > 0; else nothingHere"
      [dataSource]="userAccounts"
      aria-label="user accounts table"
    >
      <!-- username column -->
      <ng-container matColumnDef="username">
        <th scope="col" mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">
          {{ user.displayName ? user.displayName : user.username }}
        </td>
      </ng-container>
      <!-- email column -->
      <ng-container matColumnDef="email">
        <th scope="col" mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>
      <!-- status column -->
      <ng-container matColumnDef="status">
        <th scope="col" mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let user">
          <mat-select
            *ngIf="isAdmin && user.id !== currentUser.id"
            [value]="user.status"
            (selectionChange)="updateUserStatus(user, $event.value)"
            [(ngModel)]="user.status"
          >
            <mat-select-trigger>
              <mat-chip-listbox>
                <mat-chip
                  color="primary"
                  class="status"
                  [ngClass]="
                    user.status === 'active' ? 'active' : user.status === 'pending' ? 'pending' : ''
                  "
                >
                  {{ user.status }}
                </mat-chip>
              </mat-chip-listbox>
            </mat-select-trigger>

            <mat-option
              class="no-checkbox"
              *ngFor="let status of filterOptions[0].values"
              [value]="status"
              >{{ status }}</mat-option
            >
          </mat-select>
          <mat-chip-listbox *ngIf="!(isAdmin && user.id !== currentUser.id)">
            <mat-chip
              color="primary"
              class="role"
              [ngClass]="
                user.status === 'active' ? 'active' : user.status === 'pending' ? 'pending' : ''
              "
            >
              {{ user.status }}
            </mat-chip>
          </mat-chip-listbox>
        </td>
      </ng-container>
      <!-- role column -->
      <ng-container matColumnDef="role">
        <th scope="col" mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let user">
          <mat-select
            *ngIf="isAdmin && user.id !== currentUser.id"
            [value]="user.role"
            (selectionChange)="updateUserRole(user, $event.value)"
            [(ngModel)]="user.role"
          >
            <mat-option
              class="no-checkbox"
              *ngFor="let role of filterOptions[1].values"
              [value]="role"
              >{{ role }}</mat-option
            >
          </mat-select>
          <span *ngIf="!(isAdmin && user.id !== currentUser.id)">
            {{ user.role }}
          </span>
        </td>
      </ng-container>
      <!-- options column -->
      <ng-container matColumnDef="options" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <!-- nothing in header -->
        <td mat-cell *matCellDef="let user" class="icon-cell" (click)="removeUser(user)">
          <mat-icon
            aria-hidden="false"
            aria-label="remove-user-from-team"
            matTooltip="Remove user from team"
            >clear</mat-icon
          >
        </td>
      </ng-container>
      <!-- select column -->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef></th>
        <!-- nothing in header -->
        <td mat-cell *matCellDef="let user">
          <mat-checkbox
            *ngIf="config.mode === 'select'"
            color="primary"
            (click)="onSelect.emit(user.id); $event.stopPropagation()"
            (change)="$event ? selection.toggle(user.id) : null"
            [checked]="selection.isSelected(user.id)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="element-row"></tr>
    </table>
    <ng-template #nothingHere>
      <app-empty-list-marker
        [message]="'Nothing here'"
        (onCheckAgain)="applyControls()"
      ></app-empty-list-marker>
    </ng-template>
  </div>
  <!-- ---------- -->
  <!-- PAGINATION -->
  <!-- ---------- -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    pageSize="10"
    (page)="applyControls()"
    [length]="totalObjectCount"
  ></mat-paginator>
</div>
<ng-template #loading>
  <app-loading-overlay *ngIf="!userAccounts" message="loading user accounts"></app-loading-overlay>
</ng-template>
