.markdown-view-dialog { 
    h2 { margin-top: 0; }
    .wrapper {
        overflow-y: scroll;
        max-height: 50vh;
        max-width: 33em;
    }
    .buttons {
        margin-top: 24px;
        text-align: center;
        button + button {
            margin-left: 10px;
        }
    }
}