<div class="object-ref-edit-dialog">
  <h1>{{ isNew ? 'Add' : 'Edit' }} Object Reference</h1>

  <!-- object reference field -->
  <mat-form-field appearance="outline">
    <mat-label>{{
      config.objectRefField.label
        ? config.objectRefField.label
        : config.objectRefField.field
    }}</mat-label>
    <input matInput [matAutocomplete]="auto" [formControl]="refCtrl" required />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
      @for (obj of filteredObjects$ | async; track $index) {
        <mat-option [value]="obj">
          <span>{{ obj.name }}</span> | <small>{{ obj.attackID }}</small>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <!-- related fields -->
  @for (relatedField of config.relatedFields; track relatedField) {
    <mat-form-field appearance="outline">
      <mat-label>{{
        relatedField.label ? relatedField.label : relatedField.field
      }}</mat-label>
      <mat-select [formControl]="selectControls[relatedField.field]" multiple>
        <mat-select-trigger>
          <mat-chip-listbox>
            @for (
              value of selectControls[relatedField.field].value;
              track value
            ) {
              <mat-chip
                [removable]="true"
                (removed)="remove(relatedField.field, value)">
                {{ value }} <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            }
          </mat-chip-listbox>
        </mat-select-trigger>
        @for (item of relatedFieldOptions(relatedField.field); track item) {
          <mat-option [value]="item">
            {{ item }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }

  <!-- cancel/confirm -->
  <div class="buttons">
    <button mat-button matDialogClose>cancel</button>
    <button mat-stroked-button [disabled]="!isValid()" (click)="confirm()">
      confirm
    </button>
  </div>
</div>
