<div class="add-dialog">
    <mat-action-list *ngIf="config.globalObjects.length > 0 else nothing">
        <mat-toolbar>
            <button mat-button mat-dialog-close class="control" matTooltip="close"><mat-icon aria-label="close">close</mat-icon></button>
            <div class="spacer"></div>
        </mat-toolbar>
        <app-stix-list [config]="{
            'select': config.select? 'many' : 'disabled',
            'selectionModel' : config.select,
            'type': config.type,
            'clickBehavior': 'dialog',
            'stixObjects': config.globalObjects
        }"></app-stix-list>
        <div class="centered">
            <button mat-mini-fab class="extended-fab-button" color="primary" (click)="dialogRef.close(true)">
                <span class="text-label">ADD</span>
            </button>
        </div>

    </mat-action-list>
    <ng-template #nothing>
        <h3>No available objects to add.</h3>
        <div class="centered">
            <button mat-mini-fab class="extended-fab-button" color="primary" (click)="dialogRef.close()">
                <span class="text-label">Close</span>
            </button>
        </div>
    </ng-template>
</div>