<div class="add-dialog">
    <h1 *ngIf="config.title" mat-dialog-title>{{config.title}}</h1>
    <div *ngIf="config.type == 'user' || config.selectableObjects.length > 0 else nothing">
        <app-stix-list *ngIf="config.type !== 'user'" [config]="{
            'select': config.selectionType ? config.selectionType : config.select? 'many' : 'disabled',
            'selectionModel' : config.select,
            'type': config.type,
            'clickBehavior': 'expand',
            'stixObjects': config.selectableObjects,
            'showFilters': false
        }"></app-stix-list>
        <app-users-list *ngIf="config.type === 'user'" [config]="{
          'mode':'select',
          'columnsToDisplay':['username','email'],
          'showFilters': false,
          'showSearch' : true,
          'selection': config.select
        }"></app-users-list>
        <div class="centered button-padding">
            <button mat-mini-fab class="extended-fab-button left-button" color="primary" (click)="dialogRef.close(true)">
                <span class="text-label">{{config.buttonLabel? config.buttonLabel : "ADD"}}</span>
            </button>
            <button *ngIf="config.clearSelection" mat-mini-fab class="extended-fab-button" color="primary" (click)="clearSelections()">
                <span class="text-label">Clear</span>
            </button>
            <button mat-mini-fab class="extended-fab-button right-button" color="primary" (click)="dialogRef.close()">
                <span class="text-label">Cancel</span>
            </button>
        </div>
    </div>
    <ng-template #nothing>
        <h3>No available objects to add.</h3>
        <div class="centered">
            <button mat-mini-fab class="extended-fab-button" color="primary" (click)="dialogRef.close()">
                <span class="text-label">Close</span>
            </button>
        </div>
    </ng-template>
</div>