<div class="object-toolbar">
    <mat-toolbar>
        <breadcrumb></breadcrumb>
        <div class="spacer"></div>
        <div class="controls button-list">
            <!-- TODO fill icon when bookmarked -->
            <button mat-button class="control" matTooltip="toggle theme" (click)="emitToggleTheme()"><mat-icon aria-label="help">invert_colors</mat-icon></button>
            <button mat-button class="control" matTooltip="view on website"><mat-icon aria-label="view on website">open_in_new</mat-icon></button>
            <button mat-button class="control" matTooltip="bookmark" ><mat-icon aria-label="bookmark">bookmark_border</mat-icon></button>
        </div>
    </mat-toolbar>
</div>
