@import "../../../style/globals";
.object-toolbar {
    mat-toolbar {
        @extend %toolbar;
    }
    button.mat-button-disabled {
        cursor: not-allowed;
    }
    .inline {
        display: inline-flex;
    }
}