@import "../../../style/globals";
.object-toolbar {
    mat-toolbar {
        .light & { background: color-alternate(light); }
        .dark & { background: color-alternate(dark); }
        height: 48px;
        padding-right: 0px;
        button {
            transition: opacity ease 0.5s;
        }
        button.mat-button-disabled {
            opacity: 0.5;
        }

        breadcrumb {
            .breadcrumb {
                @extend .subsubheading;
                display: inline-block;
                & + .breadcrumb {
                    &:before {
                        content: "/";
                        padding: 10px;
                    }
                }
            }
        }
        .spacer {
            flex: 1 1 auto;
        }
    }
}