<div class="name-property">
  <div *ngIf="!config.mode || config.mode === 'view'">
    <h1 class="lowercase">
      <span *ngIf="config.parent">
        <a class="external-link" [href]="internalParentLink" target="_blank">{{
          config.parent.name
        }}</a
        >:&nbsp;
      </span>
      {{ config.object[field] }}
      <app-icon-view
        [config]="{ object: config.object, field: 'workflow' }"></app-icon-view>
    </h1>
    <h3 class="status">
      <span class="warning-text" *ngIf="config.object['deprecated']"
        >deprecated</span
      >
      <span class="warning-text" *ngIf="config.object['revoked'] && loaded"
        >revoked by: {{ currentTargetObj.stix.name }}</span
      >
    </h3>
  </div>
  <div *ngIf="config.mode === 'edit'">
    <mat-form-field
      class="name-edit"
      appearance="outline"
      [floatLabel]="config.parent ? 'always' : 'auto'">
      <mat-label>name</mat-label>
      <h1 class="lowercase">
        <div class="parent-name" *ngIf="config.parent" matTextPrefix>
          {{ config.parent.name }}:
        </div>
        <input
          class="c-align"
          matInput
          required
          [(ngModel)]="config.object[field]" />
      </h1>
    </mat-form-field>
    <h3 class="status">
      <span class="warning-text" *ngIf="config.object['deprecated']"
        >deprecated</span
      >
      <span class="warning-text" *ngIf="config.object['revoked'] && loaded"
        >revoked by: {{ currentTargetObj.stix.name }}</span
      >
    </h3>
  </div>
  <div *ngIf="config.mode === 'diff'">
    <h1 class="lowercase">
      <app-property-diff
        [before]="previousName"
        [after]="currentName"></app-property-diff>
    </h1>
    <h3 class="status">
      <span class="warning-text">
        <app-property-diff
          [before]="getStatus(previous)"
          [after]="getStatus(current)"></app-property-diff>
      </span>
    </h3>
  </div>
</div>
