.name-property {
  .name-edit {
    width: 100%;
    text-align: center;
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    .mdc-notched-outline__leading {
      // center align the name property label
      flex: auto;
    }
    .mat-mdc-input-element {
      font-size: 36px !important;
    }
    .mat-mdc-floating-label {
      font-size: 28px !important;
      top: 60px !important;
      &.mdc-floating-label--float-above {
        top: 22px !important;
      }
    }
    .mat-mdc-form-field-infix {
      padding: 36px 0 !important;
    }
    .parent-name {
      padding-bottom: 12px;
    }
  }
  .lowercase {
    margin: 0 !important;
  }
  .c-align {
    text-align: center !important;
  }

  .status {
    margin: 0;
    text-align: center;
  }
}
