<div class="mitigation-view view-page grid spacing-12">
    <div class="row">
        <div class="col">
            <app-name-property [config]="{
                mode: editing? 'edit' : 'view',
                object: mitigation
            }"></app-name-property>
            <app-subheading [config]="config" (onOpenHistory)="openHistory()" (onOpenNotes)="openNotes()"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- ATT&CK ID -->
            <app-attackid-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: mitigation
            }"></app-attackid-property>
        </div>
        <div class="col">
            <!-- DOMAIN -->
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: mitigation,
                field: 'domains',
                editType: 'select'
            }"></app-list-property>
        </div>
        <div class="col">
            <!-- VERSION NUMBER -->
            <app-version-property class="grow-to-row" [config]="{
                mode: editing? 'edit' : 'view',
                object: mitigation
            }"></app-version-property>
        </div>
    </div>
    <div *ngIf="mitigation.securityControls.length || (editing && mitigation.domains.includes('ics-attack'))" class="row">
        <div class="col">
            <app-list-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: mitigation,
                field: 'securityControls',
                label: 'Security Controls',
                editType: 'any'
            }"></app-list-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: editing? 'edit' : 'view',
                object: mitigation,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: mitigation.external_references,
                label: 'Description'
            }"></app-descriptive-property>
        </div>
    </div>
    <!-- only show relationships if configured to show them -->
    <div *ngIf="(config.showRelationships || !config.hasOwnProperty('showRelationships')) && !editing">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Techniques Addressed by Mitigation</h2>
            </div>
        </div>
        <div class="row" *ngIf="canEdit">
            <div class="col">
                <app-add-relationship-button (created)="mitigatesList.applyControls(); onReload.emit()" [config]="{
                    label: 'technique',
                    relationship_type: 'mitigates',
                    source_object: mitigation
                }"></app-add-relationship-button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-stix-list #mitigatesList [config]="{
                    'type': 'relationship',
                    'sourceRef': mitigation.stixID,
                    'relationshipType': 'mitigates',
                    'clickBehavior': 'dialog',
                    'allowEdits': true
                }"></app-stix-list>
            </div>
        </div>
    </div>
    <!-- EXTERNAL REFERENCES -->
    <div *ngIf="mitigation.external_references.list().length > 0">
        <div class="row">
            <div class="col">
                <h2 class="section-header">References</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-external-references-property [config]="{
                    mode: editing? 'edit': 'view',
                    object: mitigation,
                    referencesField: mitigation.external_references
                }"></app-external-references-property>
            </div>
        </div>
    </div>
</div>