.loading {
    // width: 100%;
    padding: 20px;
    .spinner-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    text-align: center;
    .text-label {
        margin-top: 12px
    }
}