<div class="object-ref-view labelled-box grow-to-row">
  <div class="content">
    @if (refTable.length) {
      <table
        aria-describedby="object reference table"
        mat-table
        [dataSource]="refTable"
        class="object-ref-table">
        @for (column of fields; track column) {
          <ng-container [matColumnDef]="column.field">
            <th mat-header-cell *matHeaderCellDef>
              {{ column.label || column.field | titlecase }}
            </th>
            <td mat-cell *matCellDef="let element">
              @if (column.isRefField) {
                <a
                  class="external-link"
                  [href]="internalLink(element[column.field])"
                  target="_blank"
                  rel="nofollow noopener">
                  {{ getAttackId(element[column.field]) }}
                </a>
              } @else {
                {{ format(element[column.field]) }}
              }
            </td>
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="fieldDefs"></tr>
        <tr mat-row *matRowDef="let row; columns: fieldDefs"></tr>
      </table>
    }
  </div>
  <span class="labelled-box-label">
    {{ config.label ? config.label : config.field }}
  </span>
</div>
