<div class="grid view-page spacing-12">
    <div class="row">
        <div class="col">
            <h1>{{config.relationship.source_name}} <span class="text-deemphasis">{{config.relationship.relationship_type}}</span> {{config.relationship.target_name}}</h1>
            <app-subheading [config]="{ object: config.relationship }"></app-subheading>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- DESCRIPTION -->
            <app-descriptive-property [config]="{
                mode: 'view',
                object: config.relationship,
                field: 'description',
                firstParagraphOnly: false, 
                referencesField: config.relationship.external_references,
                label: 'description'
            }"></app-descriptive-property>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="section-header">References</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- EXTERNAL REFERENCES -->
            <app-external-references-property [config]="{
                mode: 'view',
                object: config.relationship,
                referencesField: config.relationship.external_references
            }"></app-external-references-property>
        </div>
    </div>
</div>