@import "../../../../../style/globals";

.descriptive-edit {
    .mat-input-element {
        line-height: 1.5;
    }
    .mat-tab-header {
        border: 0px;
    }
    .mat-tab-disabled {
        .dark & { color: on-color-deemphasis(dark); }
        .light & { color: on-color-deemphasis(light); }
    }
    .edit {
        width: 100%;

        .mat-form-field-wrapper {
            margin: 0;
            padding: 0;
        }
        .mat-form-field-outline-start {
            border-top-left-radius: 0;
        }
        .mat-form-field-outline-end {
            border-top-right-radius: 0;
        }
        .mat-form-field-infix {
            border-top: 5px solid transparent;
            padding-top: 0px;
        }
    }
    .preview {
        min-height: 16px;
        .dark & { border: 1px solid border-color(dark); }
        .light & { border: 1px solid border-color(light); }
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        padding: 16px 12px;
        :first-child { margin-top: 0px; }
        :last-child { margin-bottom: 0px; }
    }

    .vertical-centered {
        display:flex; 
        align-items:center;
    }

    .info-icon {
        font-size: 18px; 
        display:flex; 
        align-items:center; 
        justify-content:center;
    }
}