<div class="descriptive-edit box">
    <mat-tab-group>
        <mat-tab label="Write" appearance="standard">
            <mat-form-field class="fill-space padding borderless">
                <textarea cdkTextareaAutosize placeholder="Description" matInput required [(ngModel)]="config.object[config.field]">
                </textarea>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Preview">
            <div class="padding">
                <app-descriptive-view [config]="config"></app-descriptive-view>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>