<div class="descriptive-edit">
    <mat-tab-group>
        <mat-tab label="Write">
            <mat-form-field class="edit" floatLabel="never" appearance="outline">
                <div class="vertical-centered">
                    <h3>{{config.label}}</h3>
                    <mat-icon class="info-icon" matTooltip="citations & markdown supported" matTooltipPosition="above" aria-label="info">info</mat-icon>
                </div>
                <textarea cdkTextareaAutosize matInput placeholder="{{config.label}}" (blur)="parseCitations()" [(ngModel)]="config.object[config.field]"></textarea>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Preview" [disabled]="config.object[config.field].length == 0">
            <div class="preview padding">
                <h3>{{config.label}}</h3>
                <app-loading-overlay *ngIf="parsingCitations else preview"></app-loading-overlay>
                <ng-template #preview>
                    <app-descriptive-view [config]="config"></app-descriptive-view>
                </ng-template>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>