<div class="search-drawer">
    <div class="search-container">
        <!-- search input -->
        <div class="controls">
            <mat-form-field class="search" appearance="fill">
                <mat-label>search</mat-label>
                <input matInput #search [(ngModel)]="searchQuery">
            </mat-form-field>
        </div>
        <!-- search results -->
        <ng-container *ngIf="searchQuery != ''">
            <div class="search-results" *ngIf="(searchResults$ | async) as results; else loading">
                <div *ngIf="results.data.length > 0" class="results-list grid">
                    <div class="result row" *ngFor="let result of results.data">
                        <!-- link by ID -->
                        <div *ngIf="result.supportsAttackID"
                             class="col narrow clickable"
                             matTooltip="copy LinkById"
                             [cdkCopyToClipboard]="getLinkById(result)"
                             (click)="showSnackbar()">
                            <mat-icon>content_copy</mat-icon>
                        </div>
                        <div class="col">
                            <div *ngIf="result.supportsAttackID">
                                <a (click)="navigateTo(result)">{{result.name}} ({{result.attackID}})</a>
                            </div>
                            <div *ngIf="result.deprecated || result.revoked; else description" class="description text-label warning">
                                {{result.deprecated ? 'Deprecated' : 'Revoked'}}
                            </div>
                            <ng-template #description>
                                <app-descriptive-view class="description text-label lowercase"
                                    [config]="{'object': result, 'mode': 'view', 'field': 'description', 'firstParagraphOnly': true}">
                                </app-descriptive-view>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="empty-list" *ngIf="!results.data.length">
                    <app-empty-list-marker [message]="'No results found'"></app-empty-list-marker>
                </div>
            </div>
            <ng-template #loading>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
            <mat-paginator [length]="resultCount"
                           pageSize="10"
                           [pageSizeOptions]="[5, 10, 25, 100]"
                           (page)="getResults()">
            </mat-paginator>
        </ng-container>
    </div>
</div>