@import "../../../../style/globals";

.ordered-list-property {

    .list {
        max-width: 60em;
        width: inherit;
        border: 1px solid;
        min-height: 60px;
        display: flex;
        flex-direction: column;

        border-radius: 4px;
        overflow: hidden;
        .light & { border-color: border-color(light); }
        .dark &  { border-color: border-color(dark); }
    }
      
    .box {
        padding: 20px 10px;
        border-bottom: solid 1px;
        color: inherit;
        .light & { border-color: border-color(light); }
        .dark &  { border-color: border-color(dark); }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        background: inherit;
        font-size: 16px;
    }
      
    .box:last-child {
        border: none;
    }

    .box-move {
        cursor: move;
    }

    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
      
    .cdk-drag-placeholder {
        opacity: 0;
    }
      
    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
      
    .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
      

}

