<div class="resources-drawer">
    <mat-toolbar>
        <button *ngFor="let tab of tabs" (click)="onTabClick(tab)"  [matTooltip]="tab.name" mat-button class="control">
            <mat-icon [attr.aria-label]="tab.label">{{tab.icon}}</mat-icon>
        </button>
        <div class="spacer"></div>
        <button matTooltip="close sidebar" mat-button class="control" (click)="close()">
            <mat-icon aria-label="close">close</mat-icon>
        </button>
    </mat-toolbar>
    <div class="content">
        <div>showing {{currentTab}}</div>
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
        <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
    </div>
</div>
