@import "../../../style/globals";
.resources-drawer {
    display: flex;
    flex-direction: column;
    max-width: 33vw;
    height: 100%;
    border-left: 1px solid;
    .dark & { border-color: border-color(dark); }
    .light & { border-color: border-color(light); }
    mat-toolbar {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        .light & { background: color-alternate(light); }
        .dark & { background: color-alternate(dark); }
        height: 48px;
        padding-left: 0px;
        padding-right: 0px;
        .spacer {
            flex: 1 1 auto;
        }
    }
    .content {
        flex-grow: 1;
        overflow: auto;
        // margin-top: 5px; // separate toolbar
        // margin-right: 5px; // separate scrollbar
        padding: 50px 20px 50px 20px;
    }

}