<div class="resources-drawer">
    <mat-toolbar>
        <button *ngFor="let tab of tabs" (click)="onTabClick(tab)"  [matTooltip]="tab.name" mat-icon-button class="control" [disabled]="!sidebarService.tabEnabled(tab.name)">
            <mat-icon [attr.aria-label]="tab.name">{{tab.icon}}</mat-icon>
        </button>
        <ng-container *ngIf="showCloseButton">
            <div class="spacer"></div>
            <button matTooltip="close sidebar" mat-button class="control" (click)="close()">
                <mat-icon aria-label="close">close</mat-icon>
            </button>
        </ng-container>
    </mat-toolbar>
    <div class="content" *ngIf="isLoggedIn">
        <h1 class="tab-title">
            {{currentTab}}
        </h1>
        <app-history-timeline *ngIf="currentTab == 'history' && sidebarService.tabEnabled('history')"></app-history-timeline>
        <app-reference-sidebar *ngIf="currentTab == 'references' && sidebarService.tabEnabled('references')"></app-reference-sidebar>
        <app-notes-editor *ngIf="currentTab == 'notes' && sidebarService.tabEnabled('notes')"></app-notes-editor>
        <app-search *ngIf="currentTab == 'search' && sidebarService.tabEnabled('search')"></app-search>
    </div>
</div>
