<div class="statement-edit">
	TODO: replace with ng-boostrap popover
    <!-- <button #popoverButton *ngIf="objStatements.length > 0 else noStatements" popoverPlacement="bottom" 
        [popover]="objectStatements"
        (click)="updateStatements(objectStatements)"
        >
        <div *ngIf="objStatements.length == 1">1 statement</div>
        <div *ngIf="objStatements.length > 1">{{objStatements.length}} statements</div>
    </button>

    <ng-template #noStatements>
        <button (click)="updateStatements()">+ add statement</button>
    </ng-template>

    <popover-content #objectStatements>
        <div class="grid spacing-16">
            <div class="row labelled-box suffixed">
                <div class="content">
                    <ul>
                        <li *ngFor="let objStatement of objStatements">{{objStatement.definition_string}}</li>
                    </ul>
                </div>
                <label>Statements</label>
            </div>
            <div class="row grow-to-row click-open">
                <p>Click to update statements</p>
            </div>
        </div>
    </popover-content> -->
</div>