<div class="statement-edit">
    <button *ngIf="objStatements.length > 0 else noStatements" popoverPlacement="bottom" 
        [popover]="objectStatus"
        [popoverOnHover]="true"
        (click)="updateStatements()"
        >
        <div *ngIf="objStatements.length == 1">1 statement</div>
        <div *ngIf="objStatements.length > 1">{{objStatements.length}} statements</div>
    </button>

    <ng-template #noStatements>
        <button (click)="updateStatements()">+ add statement</button>
    </ng-template>

    <popover-content #objectStatus [closeOnClickOutside]="true">
        <div class="labelled-box suffixed">
            <div class="content">
                <ul>
                    <li *ngFor="let objStatement of objStatements">{{objStatement.definition_string}}</li>
                </ul>
            </div>
            <label>Statements</label>
        </div>
        <p>Click to update statements</p>
    </popover-content>
</div>