<div class="list-page">
    <div class="list-page-header">
        <h1 class="with-help-icon">
            mitigations <mat-icon [popover]="PopoverTag" class="help-icon" aria-label="help">help_outline</mat-icon>
        </h1>

        <popover-content #PopoverTag 
                placement="bottom"
                [animation]="true" 
                [closeOnClickOutside]="true"
                 >
            <div class="popover-description">
                <p>
                    Mitigations represent security concepts and classes of technologies that can be used to prevent a technique or sub-technique from being successfully executed. They support the standard set of fields and must be assigned to a domain.
                </p>
            </div>
        </popover-content>
        <div class="button-group">
            <button mat-mini-fab class="extended-fab-button" color="primary" [routerLink]="['/mitigation/new']" [queryParams]="{editing: true}">
                <mat-icon>create</mat-icon> <span class="text-label">create a mitigation</span>
            </button>
        </div>
    </div>
    <app-stix-list [config]="{type: 'mitigation', 'showLinks': true}"></app-stix-list>
</div>