.tactic-cell p{
  text-align: center;
  line-height: normal;
  margin: 0;
  font-size: 14px;
}
.tactic-cell {
  padding: 5px;
  cursor: pointer;
}
.tactic-header {
  font-weight: 500;
  margin: 0;
  text-align: center;
}
