@import "../../../../../../style/globals";
.collection-index-import {
    .import-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .spacer {
            @extend .text-label;
            @extend .text-deemphasis;
            padding-bottom: 1.34375em;
            margin: 0 10px;
            flex-shrink: 1;
        }
        .mat-form-field {
            flex-grow: 1;
        }
    }
}
//     width: 45em;
//     max-width: 100%;
//     margin: 0 auto;
//     // mat-toolbar { @extend %toolbar; }
//     mat-form-field {
//         width: 100%;
//         .mat-form-field-wrapper {
//             padding-bottom: 0px;
//         }
//     }
//     .mat-vertical-stepper-header {
//         pointer-events: none;
//     }
//     .action-bar {
//         margin-top: 24px;
//         &.center {
//             text-align: center;
//         }
//         button + button {
//             margin-left: 10px;
//         }
//     }
// }