@import "../../../../../../style/globals";
.collection-index-import {
    // mat-toolbar { @extend %toolbar; }
    mat-form-field {
        width: 100%;
        .mat-form-field-wrapper {
            padding-bottom: 0px;
        }
    }
    .mat-vertical-stepper-header {
        pointer-events: none;
    }
    .action-bar {
        margin-top: 24px;
        text-align: center;
        button + button {
            margin-left: 10px;
        }
    }
}