.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    .app-body {
        flex-grow: 1;
    }
    .drawer, .content {
        box-sizing: border-box;
        height: 100%;
        // overflow: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        .router-padding {
            flex-grow: 1;
            box-sizing: border-box;
            padding: 45px 45px 50px 50px;
            margin-top: 5px; // separate toolbar
            margin-right: 5px; // separate scrollbar
            overflow: auto;
        }
    }
    mat-drawer {
        border-left: none !important;
    }
    // mat-drawer, mat-drawer-content {
    //     display: flex;
    //     flex-direction: column;
    // }
}