<div class="view-page grid spacing-16">
    <div class="row">
        <div class="col">
            <h1>Organization Identity</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Your organization identity is used for attribution of edits you make to objects in the knowledge base. 
                Objects you create will be marked with your organization as the creator, new versions of existing objects will likewise be marked with your organization as the modifier.
            </p>
            <p>
                Organization identity will be shown to anyone downloading collections that you publish. Updates to your organization identity will automatically update the contents of your knowledge base, but published collections will not be affected.
            </p>
        </div>
    </div>
    <div *ngIf="organizationIdentity else loading" class="identity-edit grid">
        <hr>
        <div class="row">
            <div class="col narrow vertical-center identity-icon">
                <app-identity-property [config]="{
                    'object': {'identity': organizationIdentity},
                    'field': 'identity'
                }"></app-identity-property>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>organization name</mat-label>
                    <input matInput required [(ngModel)]="organizationIdentity.name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>organization description</mat-label>
                    <input matInput [(ngModel)]="organizationIdentity.description">
                    <mat-hint>this field can be left blank if desired</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col center">
                <div>
                    <button mat-stroked-button (click)="saveIdentity()" class="text-label" [disabled]="organizationIdentity.name.length == 0">save</button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading><app-loading-overlay message="loading organization identity"></app-loading-overlay></ng-template>
</div>