@import "../../../../../style/globals";
@import '~@angular/material/theming';
.list-edit {
    mat-form-field {
        width: 100%;

        mat-chip {
            background: color-alternate(light);
            // .light & { background: color-alternate(light); }
            // .dark &  { background: color-alternate(dark); }
        }
    }

    .icon {
        float: right;
    }

    input {
        font-size: 14px;
    }
}