<div class="list-edit grow-to-row">
    <mat-form-field *ngIf="!config.editType || config.editType == 'any'" class="grow-to-row" appearance="outline">
        <mat-label>{{config.label? config.label : config.field}}</mat-label>
        <mat-card-content>
        <mat-chip-list #anyChipList>
            <mat-chip *ngFor="let value of config.object[config.field]" [removable]="true" (removed)="remove(value)">
                {{value}} <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input matInput placeholder="new {{config.label? config.label : config.field }}..."
                    [matChipInputFor]="anyChipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        </mat-card-content>
    </mat-form-field>

    <mat-form-field *ngIf="config.editType == 'select'" class="grow-to-row" appearance="outline"
            [matTooltip]="selectControl.disabled ? 'a valid domain must be selected first' : null">
        <mat-label *ngIf="!dataLoaded" class="loading">
            <span>Loading {{config.label? config.label : config.field}}...</span>
            <mat-spinner class="spinner" diameter="20"></mat-spinner>
        </mat-label>
        <mat-label *ngIf="dataLoaded">{{config.label? config.label : config.field}}</mat-label>
        <mat-select [formControl]="selectControl" multiple>
            <mat-select-trigger>
                <mat-chip-list>
                    <mat-chip *ngFor="let value of selectControl.value" [removable]="true" (removed)="removeSelection(value)">
                        {{value}} <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-select-trigger>
            <mat-option *ngFor="let item of getAllowedValues()" (onSelectionChange)="change($event)" [value]="item">{{item}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="config.editType == 'stixList'" class="stix-select grow-to-row" appearance="outline" (click)="openStixList()">
        <mat-label>{{config.label? config.label : config.field}}</mat-label>
        <mat-icon aria-hidden="false" aria-label="open" class="icon">open_in_new</mat-icon>
        <mat-chip-list #stixChipList>
            <mat-chip *ngFor="let value of config.object[config.field]" [removable]="false">{{value}}</mat-chip>
        </mat-chip-list>
    </mat-form-field>
</div>