@import "../../../../../style/globals";
@import '~@angular/material/theming';

.list-edit {
    font-size: 14px;

    mat-form-field { width: 100%; }
    input { font-size: 14px; }

    // stix list object selection dialog
    .icon { float: right; }
    .stix-list { cursor: pointer; }
}