<div class="collection-index-list">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let index of exampleCollectionIndexes" class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>{{index.name}}</b>
                </mat-panel-title>
                <mat-panel-description>
                    {{index.collections.length}} collections, last updated&nbsp;<app-timestamp-view [config]="{
                        'mode': 'view',
                        'humanize': true,
                        'object': index,
                        'field': 'modified'
                    }"></app-timestamp-view>
                    <!-- &nbsp;<mat-chip-list *ngIf="isNew(index.modified)"><mat-chip selected color="warn">new</mat-chip></mat-chip-list> -->
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-collection-index-view [config]="{
                'index': index
            }"></app-collection-index-view>

        </mat-expansion-panel>
    </mat-accordion>

</div>
