<div class="external-references">
    <app-external-references-view *ngIf="!config.mode || config.mode == 'view'" [config]="config"></app-external-references-view>
    <div *ngIf="config.mode == 'edit'" class="centered text-label text-deemphasis">
        <mat-icon class="info-icon" matTooltip="markdown & citations supported" matTooltipPosition="above" aria-label="info">info_outline</mat-icon>
		<span>references will be finalized when the object is saved</span>
    </div>
    <app-external-references-diff *ngIf="config.mode == 'diff'" [config]="config"></app-external-references-diff>
</div>
