<div class="profile-page view-page grid spacing-12">
    <!-- jdenticon -->
    <div class="row">
        <div class="col">
            <svg class="profile-icon" [data-jdenticon-value]="user.displayName"></svg>
        </div>
    </div>
    <!-- display name -->
    <div class="row">
        <div class="col">
            <h2 class="display-name">{{user.displayName}}</h2>
        </div>
    </div>
    <!-- subheader -->
    <div class="profile-subheader">
        Joined <app-timestamp-view [config]="{
            mode: 'view',
            object: user,
            field: 'created',
            humanize: true,
            tooltip: true
        }"></app-timestamp-view>
    </div>
    <div class="row">
        <div class="col">
            <!-- username -->
            <app-string-property class="grow-to-row" [config]="{
                mode: 'view',
                object: user,
                field: 'username'
            }"></app-string-property>
        </div>
        <div class="col">
            <!-- display name -->
            <app-string-property class="grow-to-row" [config]="{
                mode: editing? 'edit': 'view',
                object: user,
                field: '_displayName',
                label: 'display name'
            }"></app-string-property>
        </div>
        <div class="col">
            <!-- email -->
            <app-string-property class="grow-to-row" [config]="{
                mode: 'view',
                object: user,
                field: 'email'
            }"></app-string-property>
        </div>
    </div>
    <!-- recent activity -->
    <ng-container *ngIf="canEdit">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Recent Activity</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-recent-activity [identities]="[user.id]" [showIdentity]="false"></app-recent-activity>
            </div>
        </div>
    </ng-container>
</div>