<div class="profile-page view-page grid spacing-16">
    <!-- jdenticon -->
    <div class="row">
        <div class="col">
            <svg class="profile-icon" [data-jdenticon-value]="user.displayName"></svg>
        </div>
    </div>
    <!-- display name -->
    <div class="row">
        <div class="col">
            <h2 class="display-name">{{user.displayName}}</h2>
        </div>
    </div>
    <!-- subheader -->
    <div class="profile-subheader">
        Joined <app-timestamp-view [config]="{
            mode: 'view',
            object: user,
            field: 'created',
            humanize: true,
            tooltip: true
        }"></app-timestamp-view>
    </div>
    <!-- user's recent activity -->
    <div class="row">
        <div class="col">
            <h2 class="section-header">Recent Activity</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-stix-list *ngIf="!reload" [config]="{
                stixObjects: recentActivity ? recentActivity : data$,
                clickBehavior: 'dialog'
            }"></app-stix-list>
        </div>
    </div>
</div>