<div class="list-page">
  <div class="list-page-header">
    <h1 class="with-help-icon">
      software
      <mat-icon
        class="help-icon"
        aria-label="help"
        cdkDrag
        #popoverTrigger2="mtxPopoverTrigger"
        [mtxPopoverTriggerFor]="popover"
        mtxPopoverTriggerOn="hover">
        help_outline
      </mat-icon>
      <mtx-popover
        #popover="mtxPopover"
        [position]="['below', 'center']"
        enterDelay="25"
        leaveDelay="25">
        <div style="max-width: 26em">
          <span class="help-content"
            >Software is a generic term for custom or commercial code, operating
            system utilities, open-source software, or other tools used to
            conduct behavior modeled in ATT&CK. Some instances of software have
            multiple names associated with the same instance due to various
            organizations tracking the same set of software by different names.
            The team makes a best effort to track overlaps between names based
            on publicly reported associations, which are designated as
            &quot;Associated Software&quot; on each page (also known as
            &quot;Aliases&quot;).</span
          >
        </div>
      </mtx-popover>
    </h1>

    <div class="button-group" *ngIf="canEdit">
      <button
        mat-raised-button
        class="extended-button"
        color="primary"
        [routerLink]="['/software/new']"
        [queryParams]="{ editing: true }">
        <mat-icon>create</mat-icon>
        <span class="text-label">create a software</span>
      </button>
    </div>
  </div>
  <app-stix-list
    [config]="{
      type: 'software',
      showLinks: true,
      showUserSearch: true,
    }"></app-stix-list>
</div>
