@import '../../../style/colors.scss';
.create-new-dialog {
  margin: 0 24px;
  .input-form {
    .mat-mdc-form-field {
      display: block;
    }
  }
  .buttons {
    margin: 18px 0;
    button + button {
      margin-left: 10px;
    }
    .success {
      color: color(success);
    }
  }
}
