@import '../../../../../style/globals';

.external-references-diff {
  span a.external-link {
    white-space: normal;
    word-break: break-all;
    transition: none;
  }

  ol {
    padding-inline-start: 1.3em;
  }

  li {
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 8px;
  }

  li::marker {
    content: '[' attr(value) ']';
  }

  li.external-link::marker {
    color: color(link);
  }
}
