<div class="external-references-diff row" *ngIf="referenceDiffList.length > 0; else loading">
  <div class="col">
    <ol>
      <li
        *ngFor="let reference of referenceDiffList"
        [value]="reference.afterIndex || reference.beforeIndex"
      >
        <span>
          <app-property-diff
            [before]="reference.before?.description || ''"
            [after]="reference.after?.description || ''"
          >
          </app-property-diff>
          <a
            *ngIf="reference.before?.url || reference.after?.url"
            class="external-link"
            rel="nofollow noopener"
            [href]="reference.after?.url || reference.before?.url"
            target="_blank"
          >
            <app-property-diff
              [before]="reference.before?.url || ''"
              [after]="reference.after?.url || ''"
            >
            </app-property-diff>
          </a>
        </span>
      </li>
    </ol>
  </div>
</div>
<ng-template #loading>
  <app-loading-overlay></app-loading-overlay>
</ng-template>
