@use '../../../../../style/globals';
@use '../../../../../style/colors';

button.tlp-edit {
  &:hover {
    cursor: pointer;
    .dark & {
      border-color: colors.on-color-deemphasis(dark) !important;
    }
    .light & {
      border-color: colors.on-color-deemphasis(light) !important;
    }
  }
}
