<div class="data-quality-container">
  <app-loading-overlay *ngIf="loadingParallel"></app-loading-overlay>
  <div *ngIf="parallelError" class="error">{{ parallelError }}</div>

  <app-stix-list
    #relationshipList
    [config]="stixRelationshipConfig">
  </app-stix-list>

  <!-- Fallback if empty 
  <div *ngIf="!loadingParallel && isRelationshipListEmpty">
    No parallel relationships found.
  </div> -->
  <div *ngIf="!loadingParallel && isRelationshipListEmpty">
    No parallel relationships found.
  </div>
</div>
