TODO: replace with ng-boostrap popover
<!-- <button popoverPlacement="bottom" 
    [popover]="objectStatus"
    [popoverOnHover]="true"
    [disabled]="popoverDisabled"
    >
    <div *ngIf="objStatements.length == 1">1 statement</div>
    <div *ngIf="objStatements.length != 1">{{objStatements.length}} statements</div>
</button>

<popover-content #objectStatus [closeOnClickOutside]="true">
    <div class="labelled-box suffixed">
        <div class="content">
            <ul>
                <li *ngFor="let objStatement of objStatements">{{objStatement.definition_string}}</li>
            </ul>
        </div>
        <label>Statements</label>
    </div>
</popover-content> -->