<button cdkDrag
        #popoverTrigger2="mtxPopoverTrigger"
        [mtxPopoverTriggerFor]="popover"
        mtxPopoverTriggerOn="hover"
        [disabled]="popoverDisabled">
    <div *ngIf="objStatements.length == 1">1 statement</div>
    <div *ngIf="objStatements.length != 1">{{objStatements.length}} statements</div>
</button>
<mtx-popover #popover="mtxPopover" [position]="['below', 'center']" enterDelay="25" leaveDelay="25">
    <div style="max-width: 30em;">
        <div class="labelled-box suffixed">
            <div class="content">
                <ul>
                    <li *ngFor="let objStatement of objStatements">{{objStatement.definition_string}}</li>
                </ul>
            </div>
            <span class="labelled-box-label">Statements</span>
        </div>
    </div>
</mtx-popover>
