.box-move {
    cursor: move;
    padding: 20px 10px;
    border-bottom: solid 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 14px;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    color: #1d252c;
    background: #f0f1f2;
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.box:last-child {
    border: none;
}
  
.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.move-icon {
    color: transparent;
    &.enabled {
        cursor: pointer;
        color: inherit;
    }
}

.centered {
    text-align: center;
}
