<div class="save-dialog grid spacing-20">
  <div *ngIf="stage == 0" class="row">
    <div class="column validation">
      <h3>Validation</h3>
      <div *ngIf="validation; else validating">
        <app-validation-results
          [validation]="validation"
          [patchId]="config.patchId"
        ></app-validation-results>
      </div>
      <ng-template #validating>
        <app-loading-overlay></app-loading-overlay>
      </ng-template>
    </div>
    <div class="column narrow version-buttons">
      <mat-action-list>
        <mat-form-field class="workflow-status" appearance="outline">
          <mat-label>mark as...</mat-label>
          <mat-select [(ngModel)]="newState" [disabled]="!saveEnabled">
            <mat-option></mat-option>
            <mat-option *ngFor="let status of workflows" [value]="status">{{
              getLabel(status)
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-list-item
          [disabled]="config.versionAlreadyIncremented || !saveEnabled"
          (click)="saveNextMajorVersion()"
        >
          <div class="save-list-item">save new major version</div>
          <div>{{ currentVersion }} &#8594; {{ nextMajorVersion }}</div>
        </button>
        <button
          mat-list-item
          [disabled]="config.versionAlreadyIncremented || !saveEnabled"
          (click)="saveNextMinorVersion()"
        >
          <div class="save-list-item">save new minor version</div>
          <div>{{ currentVersion }} &#8594; {{ nextMinorVersion }}</div>
        </button>
        <button mat-list-item [disabled]="!saveEnabled" (click)="saveCurrentVersion()">
          <div class="save-list-item">save current version</div>
          <div>{{ currentVersion }} &#8594; {{ currentVersion }}</div>
        </button>
        <button mat-list-item mat-dialog-close>
          <div class="save-list-item">cancel</div>
          <div>keep editing</div>
        </button>
      </mat-action-list>
    </div>
  </div>
  <div *ngIf="stage == 1" class="stage parsing">
    <h1>Determining required knowledge base patches...</h1>
    <app-loading-overlay></app-loading-overlay>
  </div>
  <div *ngIf="stage == 2" class="stage reviewing">
    <h1>Required Patches</h1>
    <ng-container *ngIf="patch_objects.length == 0; else linkPatches">
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon class="text-success">check</mat-icon>
          <p matLine class="text-success">No objects in the knowledge base link to this object.</p>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #linkPatches>
      <p>
        The following objects include a link to the edited object and will be updated automatically.
      </p>
      <ng-container>
        <h3>Objects</h3>
        <app-stix-list
          [config]="{ stixObjects: patch_objects, clickBehavior: 'none' }"
        ></app-stix-list>
      </ng-container>
    </ng-template>
    <div class="buttons">
      <button mat-button matDialogClose>cancel</button>
      <button mat-stroked-button *ngIf="patch_objects.length > 0" (click)="patch()">
        apply patches and save
      </button>
      <button mat-stroked-button *ngIf="patch_objects.length == 0" (click)="save()">save</button>
    </div>
  </div>
  <div *ngIf="stage == 3" class="stage patching">
    <h1>Patching links...</h1>
    <app-loading-overlay></app-loading-overlay>
  </div>
</div>
