@use '../../../../../../style/globals';
@use '../../../../../../style/layouts/expansion-panel';

.collection-index-list {
  // .collection-index {
  //     .light & {
  //         @include mat-elevation(8);
  //     }
  //     .dark & {
  //         border-radius: 4px;
  //         border: 1px solid border-color(dark);
  //     }
  // }
  .mat-expansion-panel {
    @include expansion-panel.expansion-panel(true);
  }
}
