.subtype-edit-dialog {
    min-width: 75vw;
    .mat-form-field {
        width: 100%;
    }
    .buttons {
        button + button {
            margin-left: 10px;
        }
        margin-top: 24px;
        margin-bottom: 24px;
    }
}