<div class="collection-index-import import-workflow">
    <mat-vertical-stepper linear>
        <mat-step label="specify index">
            <div class="import-options">
                <mat-form-field appearance="outline">
                    <mat-label>specify a URL</mat-label>
                    <input matInput [(ngModel)]="url" (keyup.enter)="url.length > 0 ? previewIndex() : null">
                    <mat-icon matSuffix>cloud_download</mat-icon>
                </mat-form-field>
                <div class="spacer">or</div>
                <mat-form-field appearance="outline">
                    <mat-label>select a recommended index</mat-label>
                    <mat-select [(ngModel)]="url">
                        <mat-option *ngFor="let index of recommended_indexes" [value]="index.url">
                            {{index.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="action-bar">
                <button mat-raised-button color="primary" (click)="previewIndex()" *ngIf="url.length > 0">
                    <span class="text-label">preview</span>
                </button>
            </div>
        </mat-step>
        <mat-step label="preview">
            <app-collection-index-view *ngIf="index" [config]="{
                'index': index,
                'show_title': true,
                'show_actions': false
            }"></app-collection-index-view>
            <div class="action-bar center">
                <button mat-button routerLink="/collection">
                    <span class="text-label">cancel</span>
                </button>
                <button mat-raised-button color="primary" (click)="saveIndex()">
                    <span class="text-label">add</span>
                </button>
            </div>
        </mat-step>
        <mat-step label="done">
            <h3>Success!</h3>
            <p>
                The collection index has been added to your workbench. You can now configure subscriptions within the index using the collection index browser. 
                Subscribed collections will automatically update when new versions are published by the index maintainer.
            </p>
            <button mat-raised-button color="primary" routerLink="/collection">back to collections</button>
        </mat-step>
    </mat-vertical-stepper>
</div>
