<button
  mat-icon-button
  class="control"
  matTooltip="settings"
  [disabled]="disabled"
  (click)="loadData()"
  cdkDrag
  #popoverTrigger2="mtxPopoverTrigger"
  [mtxPopoverTriggerFor]="popover"
  mtxPopoverTriggerOn="click">
  <mat-icon aria-label="settings">settings</mat-icon>
</button>

<mtx-popover #popover="mtxPopover" [position]="['below', 'before']">
  <div
    style="max-width: 14em"
    class="workflow-status"
    *ngIf="loaded; else loading">
    <mat-form-field class="workflow-status" appearance="outline">
      <mat-label>Workflow Status</mat-label>
      <mat-select [formControl]="statusControl">
        <mat-option
          *ngFor="let status of workflows"
          (onSelectionChange)="workflowChange($event)"
          [value]="status"
          >{{ getLabel(status) }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <div class="status-options">
      <mat-checkbox
        [(ngModel)]="revoked"
        (change)="revoke($event)"
        [disabled]="deprecated || !objects"
        [class.disabled]="deprecated || !objects"
        >Revoke</mat-checkbox
      >
      <mat-checkbox
        [(ngModel)]="deprecated"
        (change)="deprecate($event)"
        [disabled]="revoked || !objects"
        [class.disabled]="revoked || !objects"
        >Deprecate</mat-checkbox
      >
    </div>
  </div>
  <ng-template #loading>
    <app-loading-overlay></app-loading-overlay>
  </ng-template>
</mtx-popover>
