<button
  mat-icon-button
  class="control"
  matTooltip="settings"
  [disabled]="disabled"
  (click)="loadData()"
  cdkDrag
  #popoverTrigger2="mtxPopoverTrigger"
  [mtxPopoverTriggerFor]="popover"
  mtxPopoverTriggerOn="click">
  <mat-icon aria-label="settings">settings</mat-icon>
</button>

<mtx-popover #popover="mtxPopover" [position]="['below', 'before']">
  <div style="max-width: 14em" *ngIf="loaded; else loading">
    <div class="status-options">
      <mat-checkbox
        [(ngModel)]="deprecated"
        (change)="deprecate($event)"
        [disabled]="revoked || !objects"
        [class.disabled]="revoked || !objects"
        >Deprecate</mat-checkbox
      >
    </div>
  </div>
  <ng-template #loading>
    <app-loading-overlay></app-loading-overlay>
  </ng-template>
</mtx-popover>
