<div class="alias-edit labelled-box">
    <div class="content">
        <mat-chip-list>
            <mat-chip *ngFor="let value of config.object[config.field]" [removable]="true" (removed)="removeAlias(value)" (click)="editAlias(value)">
                {{value}} <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <button mat-icon-button aria-label="add alias" matTooltip="add an associated {{attackType}}" matTooltipPosition="right" (click)="editAlias()"><mat-icon>add</mat-icon></button>
        </mat-chip-list>
    </div>
    <label>{{config.label}}</label>
</div>
