.alias-edit {
    .mat-chip { 
        cursor: pointer; 
        // :hover {
        //     .dark & { background: color-alternate(dark, 2) !important; }
        //     .light & { background: color-alternate(light, 2) !important; }
        // }
    }
}