@import "../../../../../../style/globals";
.collection-index-view {
    .collection-section {
        // padding: 10px 0;
        &.description { 
            padding: 16px 0;
        }
        
    }
    .subscription-action {
        .dark & { border-bottom: 1px solid border-color(dark); }
        .light & { border-bottom: 1px solid border-color(light); }
    }
}