.app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    .app-body {
        flex: 1;
    }
    .mat-drawer  {
        overflow-y: hidden;
        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }
    .app-drawer, .app-content {
        box-sizing: border-box;
        height: 100%;
        // overflow: auto;
    }
    .app-content {
        display: flex;
        flex-direction: column;
        .router-padding {
            flex: 1;
            box-sizing: border-box;
            padding: 50px 50px;
            // margin-top: 5px; // separate toolbar
            // margin-right: 5px; // separate scrollbar
            overflow: auto;
        }
    }
    mat-drawer {
        border-left: none !important;
    }
    // mat-drawer, mat-drawer-content {
    //     display: flex;
    //     flex-direction: column;
    // }
}