@import "../style/colors.scss";
.app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    .app-body {
        flex: 1;
    }
    .mat-drawer  {
        overflow-y: hidden;
        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }
    .app-drawer, .app-content {
        box-sizing: border-box;
        height: 100%;
        // overflow: auto;
    }
    .app-content {
        display: flex;
        flex-direction: column;
        .router-padding {
            flex: 1;
            box-sizing: border-box;
            padding: 50px 50px;
            // margin-top: 5px; // separate toolbar
            // margin-right: 5px; // separate scrollbar
            overflow: auto;
        }
    }
    mat-drawer {
        border-left: none !important;
    }
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        margin: 16px auto 0px auto;
        padding: 6px 0 6px 12px;
    }
    .banner.warning {
        background-color: color(warn);
    }
    .banner.success {
        background-color: color(success);
    }
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}