@import "../../../style/globals";
.save-dialog {
    .version-buttons {
        .mat-list {
            .mat-list-item.mat-list-item-disabled {
                .light & { color: on-color-deemphasis(light); }
                .dark & { color: on-color-deemphasis(dark); }
            }
            .mat-list-item:hover h3 {
                color: color(primary);
            }
            .mat-list-item h3 {
                @extend .subheading;
                font-weight: 700 !important;
            }
            .mat-list-item + .mat-list-item {
                .dark & { border-top: 1px solid border-color(dark); }
                .light & { border-top: 1px solid border-color(light); }
            }
        }
        .mat-form-field { width: 100%; }
    }
    .validation {
        h3 {
            margin-bottom: 0px;
        }
    }
    .patch-warning .mat-list-item-content {
        padding-left: 0 !important;
    }
    .validation-item.warning {
        color: color(warn);
    }
    .column + .column {
        padding-left: 16px;
        .dark & { border-left: 1px solid border-color(dark); }
        .light & { border-left: 1px solid border-color(light); }
    }
}