<div class="save-dialog grid spacing-16">

    <div class="row">
        <div class="column validation">
            <h3>Validation</h3>
            <div *ngIf="validation else validating">
                <app-validation-results [validation]="validation"></app-validation-results>
            </div>
            <ng-template #validating>
                <app-loading-overlay></app-loading-overlay>
            </ng-template>
        </div>
        <div class="column narrow version-buttons">
            <mat-action-list>
                <button mat-list-item [disabled]="config.versionAlreadyIncremented || !saveEnabled" (click)="saveNextMajorVersion()">
                    <h3 mat-line>save new major version</h3>
                    <div mat-line>{{currentVersion}} &#8594; {{nextMajorVersion}}</div>
                </button>
                <button mat-list-item [disabled]="config.versionAlreadyIncremented || !saveEnabled" (click)="saveNextMinorVersion()">
                    <h3 mat-line>save new minor version</h3>
                    <div mat-line>{{currentVersion}} &#8594; {{nextMinorVersion}}</div>
                </button>
                <button mat-list-item [disabled]="!saveEnabled" (click)="saveCurrentVersion()">
                    <h3 mat-line>save current version</h3>
                    <div mat-line>{{currentVersion}} &#8594; {{currentVersion}}</div>
                </button>
                <button mat-list-item mat-dialog-close>
                    <h3 mat-line>cancel</h3>
                    <div mat-line>keep editing</div>
                </button>
            </mat-action-list>
        </div>
    </div>
</div>
