@import "../../../style/globals";
.save-dialog {
    .mat-list-item:hover h3 {
        color: color(primary);
    }
    .mat-list-item h3 {
        @extend .subheading;
        font-weight: 700 !important;
    }
    .mat-list-item + .mat-list-item {
        .dark & { border-top: 1px solid border-color(dark); }
        .light & { border-top: 1px solid border-color(light); }
    }
    // th, h3 {
    //     // text-align: center;
    // }
    // .button-row {
    //     .button {
    //         display: inline-block;
    //         margin-right: 10px;
    //     }
    // }
}