name: Build and Publish Docker Image

on:
  push:
    branches:
        - "master"
        - "develop"
    tags:
      - "v*.*.*"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set Docker Image and Tags
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/center-for-threat-informed-defense/attack-workbench-rest-api
          tags: |
            # set latest tag for master branch
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'master') }}
            # set develop tag for develop branch
            type=ref,event=branch,enable=${{ github.ref == format('refs/heads/{0}', 'develop') }}
            # set semver tag (vX.Y.Z) on git tag event
            type=semver,pattern=v{{major}}.{{minor}}.{{patch}}
            # set git short commit as Docker tag (e.g., sha-ad132f5)
            type=sha
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}