@import "../../../style/globals";
.mat-mdc-list.validation-results {
    .validation-item.success {
        color: color(success);
    }
    .validation-item.warning {
        color: color(warn);
    }
    .validation-item.error {
        color: color(error);
    }
    .validation-item.info {
        color: color(info);
    }
    .validation-item .mat-mdc-list-item-line {
        //overwrite material's text overflow settings for mat-lines
        white-space: normal;
        overflow: auto;
        text-overflow: unset;
		display: flex;
    }
	.validation-item .mat-icon {
		margin: 0 !important;
		padding: 4px !important;
	}
}