.matrix table {
  border: none;
  border-collapse: collapse;
}
.matrix table th {
  width: 200px;

}
.matrix table td {
  width: 100%;
  // border: black solid 1px;
  font-size: smaller;
  border-collapse: collapse;
  vertical-align: top;
}

$sizeunit: 14px;

.matrix {
    border-collapse: collapse;
    line-height: $sizeunit;
}


.contextMenu-cover {
  // covers entire page
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  // background: rgba(0, 0, 0, 0.15);
}

.contextMenu-box {
  position: absolute;
  // background: white;
  &.left {
    right: 0
  }
}
.sidebar {
  max-width: 15px;
  background-color: #707070;
  color: white;
  height: 100%;
  vertical-align: middle !important;
  text-align: center;
  cursor: pointer;
  .handle {
    text-align: center;
    vertical-align: middle;
    transform: rotate(-90deg);
    width: 10px; height: 10px;
    font-size: 16px;
    line-height: 12px;
  }
  box-shadow: 0 0 0 1px #dfdfdf inset;
}

.techniques-table {
  border-collapse: collapse;
  width: 100%;
  tr, td {
      padding: 0;
  }
  tr {
      height: 1px;
  }
}

.subtechniques {
  &.hidden {
    display: none;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -1px;
  white-space: nowrap;
  vertical-align: top;
  width: 185px;
  .subtechnique {
      height: 100%;
      flex-grow: 1;
  }
}
