.identity-property {
    display: inline-block;
}
.identity {
    svg { vertical-align: middle; }
    span {
        padding: 0px 6px;
        vertical-align: middle;
    }
    &.mat-chip { padding: 6px; }
}