.identity-property {
    display: inline-block;
    max-width: 18em;
	.mat-mdc-standard-chip .mdc-evolution-chip__action--primary {
		padding: 0 8px !important;
	}
}
.identity {
	display: inline-block;
	padding: 5px 0;
    svg {
		vertical-align: middle;
	}
	.v-align {
		vertical-align: middle;
		padding-left: 6px;
	}
}